[2022-07-14 18:19] jkosh44 commented on #13632
How does this sound as a fix? We update the `migrations` array, to be an array of closures. Each closure takes a `Transaction` object and updates the transaction with some migration. The `migrate` function then does the following:

1. Starts a new transaction.
2. Passes the transaction to all the new closures.
3. Updates the version in the transaction.
4. Commit the transaction.

[2022-07-14 19:33] dataders opened #13635 "upgrade to support dbt-core v1.2.0"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-14 19:36] dataders opened #13636 "upgrade to support dbt-core v1.2.0"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-14 19:39] dataders opened #13637 "upgrade to support dbt-core v1.2.0"
We've just published the release cut of dbt-core 1.2.0, `dbt-core 1.2.0rc1` ([PyPI](https://pypi.org/project/dbt-core/1.2.0rc1/) | [GitHub release notes](https://github.com/dbt-labs/dbt-core/releases/tag/v1.2.0rc1)).

https://github.com/dbt-labs/dbt-core/discussions/5468 is an open discussion with more detailed information, and https://github.com/dbt-labs/dbt-core/issues/5474 is for keeping track

[2022-07-14 19:45] mjibson commented on #13632
should work!

[2022-07-14 20:58] JLDLaughlin commented on #12355
@jkosh44 any chance this is one of the `.unwrap()`s you already fixed?

[2022-07-14 21:04] JLDLaughlin commented on #12118
so Matt is currently working on identifying our most obvious performance issues.

@mjibson how would you like to think about Materialize Cloud performance against our binary performance as @philip-stoev has documented here? Maybe we can create a running doc with three columns: `Arjun's target performance`, `binary performance`, `current cloud performance`?

([Arjun's targets are here](https://docs

[2022-07-14 21:09] mjibson commented on #12118
The hardest part about that question is: on what ec2 instance size should we run the local test, and on which cluster size should we run the cloud test, and is it meaningful to compare those? These results are kind of interesting if the whole envd stack is also running locally because it illustrates the additional serialization overhead (and other possible perf regressions), but beyond that I'm no

[2022-07-14 21:11] JLDLaughlin commented on #12118
@philip-stoev are you okay with that assessment?

[2022-07-14 21:11] sploiselle commented on #11231
@JLDLaughlin The idea behind labeling this as a platform blocker was codifying the shape of these queries to prevent easy-to-avoid breaking changes, i.e. the release of platform should have a stable API, i.e. provides a contract with users that they can build tooling on top of MZ without regular breakage.

[2022-07-14 21:12] #13636 closed

[2022-07-14 21:12] morsapaes commented on #13637
Closing as duplicate from #13635.

[2022-07-14 21:12] #13637 closed

[2022-07-14 21:15] morsapaes commented on #13635
Thanks for the heads-up, @dataders! ❤️

[2022-07-14 23:11] dataders commented on #13635
o shit sorry! I automated the [issue creation with the GitHub CLI](https://cli.github.com/manual/gh_issue_create). I got timeout errors the first two times I ran it, so I assumed that it didn't work, but I guess it did???

[2022-07-14 23:31] frankmcsherry opened #13639 "Historical backfill using temporal filters"
### Feature request

MZ users cannot easily arrive with their own historical data and load it as historical data.
Their data will be loaded at "now", or later, and any attempt to look back in the past will show an empty collection, or as likely an error that `since` is "now" and you shouldn't look around in the past.

I think there is a way to fix this that is great for historical backfill, and ma

[2022-07-14 23:45] frankmcsherry commented on #8149
I think someone needs to determine whether "type of records" is a stable guarantee we intend to make. Specifically, if we produce Kafka output that uses the schema registry, should we commit to respecting their back-compact for e.g. nullability and unique keys. If we do not do that, then this is a non-issue (with unknown consequences). If we do want to guarantee that, there is some collection of f

[2022-07-15 00:38] jkosh44 commented on #12355
@JLDLaughlin Unfortunately not.

[2022-07-15 04:29] mjibson commented on #13586
For a real life example of this, here's a trace of exactly this problem running on 58c0803dcc52569c29933b73b8ba62f3c388bff3 on our staging cloud platform (and thus in release mode) with a full *2 minute* delay:
![ss_000](https://user-images.githubusercontent.com/41181/179150646-58fb20ed-a55c-4cad-9ead-f15a041c07e8.png)

[2022-07-15 04:40] mjibson commented on #13586
Oh, other real life problems this exposes: queries like `show objects` get real slow and have large variance:

[code]

[2022-07-15 07:53] teskje commented on #13489
Another concern is that if we want to actually compare timings of introspection events, they need to be observed on the same system. If we'd monitor storage collection frontier advancements in `storaged` or the storage controller, we couldn't compare their times to compute collection frontier advancements collected in `computed`, because the different systems have different clocks that might be mi

[2022-07-15 08:16] antiguru commented on #13489
For Timely, it's a slightly different problem because the loggers use the time after establishing the connections as their starting point. This might or might not be closely synchronized, I can't say.

[2022-07-15 08:34] philip-stoev commented on #12118
I would defer to @mjibson on this, the performance goals and how to measure and achieve them. The Feature benchmark indeed runs everything on the same machine with a file-based blob back-end, so some of the numbers indeed show serialization overhead only. However, for other scenarios the slow down is more substantial than that.

Feel free to close this ticket if it serves no legitimate purpose.

M

[2022-07-15 08:46] teskje commented on #12989
@likzn If you're still interested, we just merged a PR that removes roughly half of the `_nolimit` calls: https://github.com/MaterializeInc/materialize/pull/13590. You can use that for inspiration. @vmarcos is not going to work more on this issue, so feel free to take a stab!

[2022-07-15 08:47] #5137 closed

[2022-07-15 09:31] morsapaes commented on #13635
No worries, @dataders; I figured that would be the case! This is really helpful, thanks again.

[2022-07-15 14:10] philip-stoev commented on #12857
I have added storaged killing and restarting to the Zippy and Platform Checks frameworks:
- Zippy will perform about a dozen kills+restarts of storaged-s during a 30-min test that ingests several millon rows from multiple kafka topics into materialized sources
- The Checks Framework performs 3 kills+restarts while manipulating Kafka sources of various shapes and sizes.
Both frameworks use ENVELOPE

[2022-07-15 14:30] teskje commented on #13629
There are three tests that are currently failing (and disabled) because of this bug:
* `test/debezium/mysql/40-check-smoke.td`
* `test/debezium/postgres/92-large-transaction.td`
* `test/testdrive/disabled/kafka-avro-debezium-transaction.td`

[2022-07-15 16:42] frankmcsherry opened #13649 "Tables are not selectable in cloud"
### What version of Materialize are you using?

 v0.27.0-alpha.1 (53dd925fa)

### How did you install Materialize?

Materialize Cloud

### What is the issue?

Logging in to cloud and creating a table and trying to select from it stalls.
[code]
What seems to be the case is that the reported write frontier is `0` which implies that data can still be written at `0` and consequently can not be read ev

[2022-07-15 16:57] sjwiesman opened #13650 "CREATE SOURCE with invalid connection parameters blocks forever"
### What version of Materialize are you using?

0.27.alpha-1

### How did you install Materialize?

Materialize Cloud

### What is the issue?

Creating a kafka source with invalid connection parameters blocks forever. The command cannot be killed via ctrl-c or other external methods.

While this occurs, when connected to the same region via another terminal attempting to drop a secret referenced i

[2022-07-15 16:58] sjwiesman commented on #13650
cc @benesch

[2022-07-15 17:25] frankmcsherry opened #13651 "`StorageController::update_read_capabilities` synchronously awaits `persist` futures"
### What version of Materialize are you using?

cloud

### How did you install Materialize?

Materialize Cloud

### What is the issue?

This fragment in `StorageController::update_read_capabilities ` appears to synchronously await responses from `persist` on the main thread of `environmentd`.
[code]

### Relevant log output

_No response_

[2022-07-15 17:48] aljoscha commented on #13651
Older commit that did such a change: https://github.com/MaterializeInc/materialize/pull/12777/commits/6d9daf4f23b6cf33828dfd47e77f91a50c29ad0b

[2022-07-15 19:23] danhhz commented on #13651
#13652 may alleviate some of the short-term pressure on this

[2022-07-15 20:14] benesch commented on #12857
Wonderful. Thanks very much, @philip-stoev!

[2022-07-15 21:58] morsapaes opened #13657 "doc/user: document `CREATE CONNECTION`"
### Documentation request

Connections are now reusable across sources, so this needs to be documented:

- [x] Add `CREATE CONNECTION` page broken down by supported connector (Kafka, Postgres) (#13674, thanks to @mjibson!)
- [x] Add `DROP CONNECTION` page (#13798)
- [x] Add `SHOW CONNECTIONS` page (#13798)
- [x] Add `SHOW CREATE CONNECTION` page (#13798)
- [x] Add grammar to `sql-grammar.bnf` (#13

[2022-07-15 22:08] benesch commented on #13650
Thanks very much, Seth! I suspect that dropping the secret is a key part of the problem. Dropping secrets that are referenced shouldn’t be allowed—though, remind me, did you DROP CASCADE or just normal DROP?

[2022-07-15 22:11] morsapaes opened #13658 "doc/user: document `CREATE SECRET`"
### Documentation request

Credentials are now securely stored as secrets, so this needs to be documented:

- [x] Add `CREATE SECRET` page
- [x] Add `ALTER SECRET` page
- [x] Add `DROP SECRET` page
- [x] Add `SHOW SECRETS` page
- [x] Add grammar to `sql-grammar.bnf`
- [x] Embed new concept into `CREATE CONNECTION` page

### Related work

- https://github.com/MaterializeInc/materialize/blob/main/do

[2022-07-15 22:23] sjwiesman commented on #13650
DROP CASCADE but the CREATE SOURCE statement was still blocked in the other connection

[2022-07-16 00:08] #13592 closed

[2022-07-16 02:11] benesch commented on #13657
So sorry about rewarding all the `CREATE SOURCE` restructuring work with ... even more restructuring work. 🙈 On the bright side, at least the conceptual model of the code nouns matches the conceptual model of the docs!

[2022-07-16 04:48] mjibson commented on #12118
I agree with all of those and would like to keep hearing about them.

[2022-07-16 12:03] likzn commented on #12989
@teskje Thanks, i am glad to work it! But, I want to ask a question. In the package of `expr`. There is no error like `TransformError`. Should we use `anyhow::Error` to propagate? Or is there any alternative?

[2022-07-16 14:21] benesch opened #13663 "Redefine "materialized""
In perhaps the biggest signal of our shift to a cloud-native product, we're going to redefine what a "materialized view" is. Here's the rationale from our [internal design doc](https://www.notion.so/materialize/Internal-storage-sink-syntax-017251c532df465fb3a3ec7c344df54b#0b6dcb1df1714677a5a49e8bb77d3c82):

The work item here is to rewrite all of our tests from

[code]

to

[code]

and then rename

[2022-07-16 17:20] benesch opened #13667 "Document how to handle `derive(Arbitrary)` overflows"
We've had a few examples now of structs with `#[derive(Arbitrary)]` causing stack overflows in proptests:

* https://github.com/MaterializeInc/materialize/pull/13646#issuecomment-1185966388
* https://github.com/MaterializeInc/materialize/pull/13505

The solution I discovered was to remove the automatic derivation and replace it with the obvious manual implementation. Which I discovered by noticing

[2022-07-16 17:29] benesch commented on #8149
If we do not commit to stability here, then we will accidentally occasionally break downstream applications by e.g. making a previously non-nullable field nullable. I suspect users will find this unacceptable if it happens frequently. But it may need to happen occasionally—e.g., if a bug means that our computation of non-nullability was actually dead wrong.

One nice feature of Materialize Cloud i

[2022-07-16 17:33] benesch opened #13668 "compute: tasks for failed replicas are not dropped"
@antiguru observes that since #13525, the `ReplicaTask` associated with a compute replica is not shut down if the replica never manages a successful connection: https://github.com/MaterializeInc/materialize/pull/13525#discussion_r921246983.

[2022-07-16 17:34] benesch commented on #12946
Adding a new bug to the list: https://github.com/MaterializeInc/materialize/issues/13668.

[2022-07-16 17:37] benesch commented on #13204
Adding #13650 to the list too.

[2022-07-16 17:39] benesch commented on #13650
Yeah, I suspect there are two separate issues here:

  * Ctrl-C cannot interrupt a `CREATE SOURCE` that is wedged on making a (failed) network call. I'll bet if you left that `CREATE SOURCE` hanging for a few minutes (without dropping secrets or anything) it would eventually fail with some sort of a timeout error.
  * Secrets do not properly track their dependencies, and dropping a secret that has

[2022-07-16 17:39] benesch commented on #13650
I added this to #13204 so that it doesn't get lost.

[2022-07-17 04:21] benesch opened #13675 "Add connection type for PubNub"
We forgot to add a `CREATE CONNECTION` variant for PubNub. It should consist of just a `SUBSCRIBE KEY` as a secret; the `CHANNEL` should be specified in the `CREATE SOURCE` statement:

[code]

[2022-07-17 05:08] mjibson commented on #10798
We don't use sqlite anymore so I think we can close this.

[2022-07-17 05:08] #10798 closed

[2022-07-17 11:47] teskje commented on #12989
I would suggest you look at the rest of the crate to determine what the prevalent error handling strategy is there. It looks like `anyhow` is not really used in `mz-expr`. Most functions return a plain `Result` with a specific error type.

AFAICS, none of the functions that directly call one of the deprecated methods returns a `Result` currently, so you can simply wrap their current return type in

[2022-07-17 12:24] morsapaes opened #13678 "doc/user: adapt examples to use new syntax"
### Documentation request

The introduction of the `CREATE CONNECTION` and `CREATE SECRET` syntax invalidates pretty much all code examples we have in the documentation involving sources.

[2022-07-17 13:26] #13523 closed

[2022-07-17 14:46] jkosh44 opened #13679 "stash: lazily load collections during a transaction"
### Feature request

When a stash transaction starts, we load in all collections so we know their initial values.
https://github.com/MaterializeInc/materialize/blob/a5160ebb0391a98024ae9938294a13f2c6114bb5/src/adapter/src/catalog/storage.rs#L692-L726
However when the transaction commits it only appends collections that have changed.
https://github.com/MaterializeInc/materialize/blob/a5160ebb0391a9

[2022-07-17 15:21] #13632 closed

[2022-07-17 15:40] jkosh44 commented on #13679
@mjibson FYI

[2022-07-17 17:29] jkosh44 opened #13682 "coord: Source names that use catalog object names don't work"
### What version of Materialize are you using?

v0.26.1-dev

### How did you install Materialize?

Built from source

### What is the issue?

If you create a source with the same name as a catalog object, then you cannot properly create a materialized view on that source.
It's possible that this issue can manifest in different ways, I haven't done extensive testing.

### Relevant log output

####

[2022-07-18 01:19] mjibson commented on #13679
I like the lazy load idea! Assuming it's not terrible to implement. Does it fit somewhere generic like TableTransaction?

[2022-07-18 01:20] #13630 closed

[2022-07-18 01:28] benesch commented on #13682
Wait, why doesn't this work? Strange. The user created source should shadow the mz_catalog schema. Maybe we have a bug in the search paths.

[2022-07-18 01:36] jkosh44 commented on #13682
Ahh, so I have the expected behavior backwards, but there still seems to be an issue. Not quite sure what the cause it, I'll update the issue description.

[2022-07-18 04:17] benesch commented on #11772
@brennanvincent flagging this additional TODO that I added:

[2022-07-18 11:18] #11229 closed

[2022-07-18 14:16] frankmcsherry commented on #13489
I think one thing `computed` will want to do independent of `storaged` logging is report the observed frontier at each source *instantiation*. So, each time we build up a new persist source, its frontier is of interest to us, and we should log that. This is the actual thing that indicates to the `computed` when data are available. The gap between `storaged` receiving data and it being available th

[2022-07-18 15:15] benesch commented on #13534
From Slack, the `RestartUppers` command is also what will allow compaction on reclocking collection (which is currently uncompactable): https://materializeinc.slack.com/archives/C01CFKM1QRF/p1657736032844889?thread_ts=1657735627.384569&cid=C01CFKM1QRF

[2022-07-18 17:23] JLDLaughlin commented on #13649
Internal conversations about this are happening in #eng-wg-tables.

Looks like we're going to try a few things from @frankmcsherry, @jkosh44, and @danhhz / @petrosagg. The first related PR is out: https://github.com/MaterializeInc/materialize/pull/13708

[2022-07-18 17:31] JLDLaughlin commented on #12355
This will either be picked up by @frankmcsherry or @jkosh44 , I've added it to the list of [required robustness fixes](https://github.com/MaterializeInc/materialize/issues/13204).

[2022-07-18 17:39] JLDLaughlin commented on #13043
this is still a work in progress. rough targets are being [outlined here](https://docs.google.com/document/d/1_NUMlZCUkilYlvQU3O4UVya3shKJ1INrtVLM3c3FtXc/edit).

[2022-07-18 18:50] jkosh44 opened #13711 "coord: Revisit AS OF AT LEAST timestamp selection"
The docs for AS OF AT LEAST can be found here: https://materialize.com/docs/unstable/sql/as-of/#as-of-at-least

When determining a timestamp to use for `AS OF AT LEAST` we advance the timestamp to the object's `upper`.
https://github.com/MaterializeInc/materialize/blob/e30e901fe172b34f59ba51fa20f59429b7e177e1/src/sql/src/plan.rs#L572-L578

The docs even indicate:

However, we introduced "AtLeastTi

[2022-07-18 19:41] #13651 closed

[2022-07-18 19:42] jkosh44 opened #13712 "adapter: Generate warning for isolation levels below Serializable"
### Feature request

After #13487 merges, we will allow the following isolation levels to be set:
- Read Uncommitted
- Read Committed
- Serializable
- Strict Serializable

However, we make no distinction b/w Read Uncommitted, Read Committed, and Serializable. Therefore, if someone specifies an isolation level below Serializable, then we silently upgrade them to Serializable. This might be confusin

[2022-07-18 20:02] JLDLaughlin commented on #8149
Does this feel sufficient to bump this work out of M2 and into M3?

[2022-07-18 20:08] frankmcsherry commented on #13307
Yes!

[2022-07-18 20:16] JLDLaughlin commented on #13649
closing as per https://materializeinc.slack.com/archives/C03QLQK1Q3A/p1658175100411159!

[2022-07-18 20:16] #13649 closed

[2022-07-18 20:28] #12309 closed

[2022-07-18 21:13] jkosh44 commented on #13461
I think that once #13377 merges this issue will be complete. This is my rationale.

All commands sent to STORAGE/COMPUTE will contain the Coord's epoch number. If the receiving STORAGE/COMPUTE node has seen a higher epoch number previously, then the command is rejected.

When a new Coord boots up, it does the following:
1. Update the epoch number and persisted timestamp in Stash, this will fence o

[2022-07-18 22:10] jkosh44 commented on #12660
I think 1.5 weeks for the adapter side.

[2022-07-18 22:34] ruf-io commented on #8664
Notes on anticipated changes needed to page:

1. Add Sinks
2. Remove current discussion of Materialized Views, add  :new: Materialized Views (AKA Recorded Views)
3. Add diagrams to clarify (esp. Cluster/Replica)

[2022-07-18 22:57] ruf-io opened #13716 "doc/user: Rewrite Architecture Overview, move it out of "Advanced Concepts""
### Documentation request

Completely rewrite this page https://materialize.com/docs/overview/architecture/ to focus on the updated Materialize Architecture. Move it to the the top-level directly after "What is Materialize".

### Goal of Page

Give the user a good mental model of the different services and resources they are about to work with in Materialize.

### Considerations

This is needs to

[2022-07-19 05:16] benesch commented on #3819
This is done!

[2022-07-19 05:16] #3819 closed

[2022-07-19 06:45] philip-stoev opened #13719 "cloudtest: Pin minio to a specific version"
### Goal(s)

Currently minio/latest is used which does not provide for reproducible CI runs.

### Steps

- [ ] Convert the yaml-based minio setup in to a hierarchy of `kubernetes.client` objects.

[2022-07-19 06:50] benesch commented on #11799
Ah, turns out this was a duplicate of #11938 which I fixed a while back in #11941.

[2022-07-19 06:50] #11799 closed

[2022-07-19 06:52] philip-stoev opened #13720 "cloudtest: Introduce a K8sApplication(K8sResource)"
### Goal(s)

A `K8sApplication` can serve as a grouping for all the resources that make up an application, so that they can be referenced and started as a single thing.

Also, the EnvironmentdApplication can then expose its SQL host/port via such a mechanism.

### Steps

_No response_

[2022-07-19 06:52] philip-stoev opened #13721 "cloudtest: Convert to kind"
### Goal(s)

Apparently Kind is the future of minicubes

### Steps

_No response_

[2022-07-19 07:17] philip-stoev opened #13722 "cloudtest: Convert to pytest"
### Goal(s)

Convert from unittest to pytest

### Steps

_No response_

[2022-07-19 07:24] philip-stoev opened #13723 "cloudtest: get the Redpanda schema registry working"
### Goal(s)

There is an issue with the redpanda schema registry whereby it is unable to contact the redpanda kafka service that is running within the same container . Possible solutions:
- find the right magic redpanda command line to get things running
- use the official helm charts to get a redpanda instance running locally and then make sure the python code does exactly the same
- switch to th

[2022-07-19 07:33] philip-stoev opened #13724 "storage: Make sure no re-ingestion or Postgres snapshots happens on restart"
### Goal(s)

It is important to check that storaged persists data in a way that:
- makes sure no re-ingestion-from-scratch or postgres snapshots happen
- makes sure ingestion can resume even if previously-ingested data is now not available

### Steps

The following tests are needed:

- [ ] For all the Kafka envelopes:

1. Ingest some data
2. Force compaction or topic retention to kick in so that t

[2022-07-19 07:52] morsapaes commented on #5667
This issue was fixed in #13255 and released with Materialize `v0.26.4`.

[2022-07-19 07:57] morsapaes commented on #9175
This is documented as a known limitation in the [PostgreSQL source page](https://materialize.com/docs/sql/create-source/postgres/#known-limitations).

[2022-07-19 07:57] #9175 closed

[2022-07-19 08:03] teskje opened #13725 "Confusing error message when trying to replace a table with a self-referential view"
### What version of Materialize are you using?

v0.26.1-dev (1b8059fce)

### How did you install Materialize?

Built from source

### What is the issue?

When trying to replace a table with a self-referential view, the error message is slightly confusing:

[code]

Note that it says "cannot replace **view** materialize.public.t", even though materialize.public.t clearly is a table.

The same also a

[2022-07-19 09:23] philip-stoev opened #13726 "regression: thread 'coordinator' panicked at 'could not step forward', src/adapter/src/coord.rs:7130:21"
### What version of Materialize are you using?

3928c0a

### How did you install Materialize?

Docker image

### What is the issue?

Starting sometime before revision `3928c0a` the kafka-matrix test has started to fail with a panic:

https://buildkite.com/materialize/nightlies/builds/1003#018206c6-b30e-48ec-969a-0e8beca62018

[code]

What the test does is run the testdrive/kafka-* tests against di

[2022-07-19 10:43] philip-stoev commented on #13726
Running just `testdrive/kafka-upsert-sources.td` instead of all `kafka-*.td` tests is not sufficient to reproduce the problem. So my wild guess would be that resources are leaking across the `DROP DATABASE materialize`, so stuff accumulates in mzdata/postgres . Could this cause some operation to take more than 1 second at mz startup time?

[2022-07-19 13:14] aalexandrov opened #13730 "Implement `AS JSON` output format"
### Tasks

- [x] Figure out how to represent rows. (https://github.com/MaterializeInc/materialize/pull/14026)
- [x] Figure out how to represent scalars. (https://github.com/MaterializeInc/materialize/pull/14026)
- [x] Implement `AS JSON` output format for `HIR`. (https://github.com/MaterializeInc/materialize/pull/14562)
- [x] Implement `AS JSON` output format for `MIR`. (https://github.com/Materia

[2022-07-19 13:26] aalexandrov opened #13732 "Add support for rendering inferred types."
As part of this, fix the `TODO` item in `explain_new::hir::normalize_subqueries`.

[2022-07-19 13:26] aalexandrov opened #13733 "Show subqueries in HIR `EXPLAIN ... AS TEXT` output"

[2022-07-19 13:27] aalexandrov opened #13734 "Add basic structures for `Attribute` derivation (recycle QGM code)."
Partially resolved as part #14187, see #14347 for follow-up tasks.

[2022-07-19 14:24] philip-stoev opened #13735 "computed: mz_persist_client::r#impl::machine: external operation fetch_and_update_state::head failed when restarting postgres"
### What version of Materialize are you using?

environmentd v0.26.1-dev (d6cb5df2a)

### How did you install Materialize?

Docker image

### What is the issue?

A Platform Checks framework scenario that restarts environmentd and storaged together causes the computed to enter this state:

[code]

### Relevant log output

_No response_

[2022-07-19 14:43] philip-stoev commented on #13735
Apparently what is going on here is that the entire environmentd container exits, which brings down the built-in postgres instance in that container as well :-) Hence the error message. Expected to be fixed by https://github.com/MaterializeInc/materialize/pull/12482

[2022-07-19 16:11] benesch commented on #13468
In discussion with @danhhz, it turns out that this is actually expected until #12482 (adding a connection pool) lands!

Once that goes in, @philip-stoev, we should get a test that restarting PostgreSQL is handled correctly by Materialize.

[2022-07-19 18:13] jkosh44 opened #13738 "coord: non-realtime timeline objects can be unreadable in strict serializability"
### What version of Materialize are you using?

v0.26.1-dev

### How did you install Materialize?

Built from source

### What is the issue?

The current global timestamp for non-realtime timelines are calculated here:
https://github.com/MaterializeInc/materialize/blob/6bf781260ea2a4e74d39a0dff6de727fdbff8113/src/adapter/src/coord.rs#L1628-L1634
https://github.com/MaterializeInc/materialize/blob/6

[2022-07-19 18:19] jkosh44 opened #13739 "coord: Multiple coordinators can create orphaned compute nodes"
### What version of Materialize are you using?

v0.26.1-dev

### How did you install Materialize?

Built from source

### What is the issue?

The following scenario can lead to an orphaned compute node that never gets cleaned up:

1. `Coord1` receives a command to create a new compute node `n`.
  a. Either a new compute instance replica or compute instance.
2. `Coord1` updates the stash with `n`.

[2022-07-19 21:43] benesch opened #13743 "adapter: support for dynamic unions"
### Feature request

Suppose I have several sources or views in Materialize with the same schema. Perhaps I have a source per customer, for example:

[code]

I might like to create a view that unions together all these schemas:

[code]

Now, what if you want to add a new customer? In this example it's easy to update the view...

[code]

But that won't work if you've got views or sinks downstream o

[2022-07-20 04:24] benesch commented on #13739
There's another easy way to leak a cluster replica, which is to crash `environmentd` after it has committed the drop of a cluster replica to the stash but has not yet effected the change in Kubernetes.

Hm, it seems like the problem might be even worse than what you've described so far. Let's say we're upgrading environmentd and we have coord v1 and coord v2 both running at the same time for a bri

[2022-07-20 04:27] benesch commented on #13739
I think we might need to plumb the fencing token into Kubernetes by adding an annotation to the objects we crate. When coord writes a service object to Kubernetes, it checks to make sure the existing epoch on the service object; it only updates it if the annotation is what it expects. (Kubernetes supports atomic read-modify-write, so we're good there.)

[2022-07-20 04:55] benesch commented on #13461
What if there is a network partition and the old coord can talk to one of the COMPUTE nodes but the new coord cannot? It doesn't seem in general possible for a coord to be sure that it has fenced off all possible STORAGE and COMPUTE nodes from writing to persist. Not sure if that's important or not.

[2022-07-20 08:03] philip-stoev opened #13744 "cloudtest: Integrate with CI"
### Goal(s)

After the framework is converted to pytest, integrate it with the CI, possibly by creating a buildkite plugin and a pipeline.yaml fragment that demonstrates successfull integration.

### Steps

- [ ] Create a buildkite plugin
- [ ] Add suport for junit xml output files

[2022-07-20 09:00] philip-stoev opened #13745 "regression: permissions on the secrets directory are too lax after code refactoring"
### What version of Materialize are you using?

7fa63fec8a49b6ae3a39eeeb70561d19661ef083

### How did you install Materialize?

Docker image

### What is the issue?

The `test/secrets` has started failing after this commit:

[code]

The reason is that the permissions of the `/mzdata/secrets` directory are too lax:

[code]

That is, the directory is world-readable. The expected permission mask is 7

[2022-07-20 09:04] philip-stoev commented on #12773
This now works with 100 tables. However , if one tries to create 1000 tables and insert 1 row in each, the throughput drops to 1 query per second with 10-second hangs every now and then.

So the issue is still there, it is just that the threshold to trigger it has moved up.

[2022-07-20 10:17] philip-stoev opened #13748 "storage/sources/kafka: regression: Kafka envelope none ingestion performance sporadically falls below 20K records/second"
### What version of Materialize are you using?

a5f9559

### How did you install Materialize?

Docker image

### What is the issue?

The `KafkaRecordsEnvelopeNone` scenario in the `limits` test attempts to ingest 10M kafka messages . More often than not, the test is able to do that in 30 sec, but sometimes it will need 10x that amount of time or more.

https://buildkite.com/materialize/nightlies/b

[2022-07-20 10:41] philip-stoev opened #13749 "pg-cdc: Duplicates in source if storaged is killed and restarted"
### What version of Materialize are you using?

69c7269

### How did you install Materialize?

Docker image

### What is the issue?

If storaged is killed and restarted during a pg-cdc test, the data in the source will start showing both up-to-date records and old records (that came from a snapshot?).

To reproduce:
1. clone `https://github.com/philip-stoev/materialize.git`, branch `checks-pg-sour

[2022-07-20 11:14] philip-stoev commented on #13379
This also affects the cargo test -- the error in this case is:

[code]

https://buildkite.com/materialize/tests/builds/37994#018219f6-9301-424b-af95-5820e9e6ed7b

[2022-07-20 11:24] antiguru commented on #13141
This problem still exists. It's been preempted by another task for the moment.

[2022-07-20 14:23] jkosh44 commented on #13461
If that is not sufficient then I have two potential designs:

1. Frank's proposal here: https://materializeinc.slack.com/archives/CMHDK0DK8/p1657041098185119
2. Whenever a Coordinator reserves a range of timestamps, it specifies a constant interval for that range. After a new Coordinator reserves it's first range of timestamps, it could sleep for that range plus some error bound. That way it would

[2022-07-20 14:34] pH14 commented on #13461
Coord does not create the COMPUTE nodes (or pods in Kube parlance) directly, it will tell Kube "please make `n` COMPUTE pods that look like this template". If that template, implemented as a Kube StatefulSet, already exists and its definition is unchanged, the existing COMPUTE pods will not change and no new pods will be created. Only if the template changes will Kube roll the COMPUTE pods to the

[2022-07-20 15:54] aalexandrov opened #13752 "Normalize nested `Let` blocks."

[2022-07-20 16:43] andrioni commented on #13743
If we are going to support unions like these, aren't we going to be close to supporting more complex `ALTER VIEW` statements that don't change the schema? How much do we gain from special casing `UNION`?

[2022-07-20 18:18] materializer opened #13756 "release: v0.27.0-alpha.3 required reviews"
No PRs in [`v0.27.0-alpha.3`](https://github.com/MaterializeInc/materialize/tree/v0.27.0-alpha.3) require review.

The following commits in this release were not associated with any PR and therefore require review:
* [x] [`9fef031d3` storage: hoist block_on calls from Kafka configuration](https://github.com/MaterializeInc/materialize/commit/9fef031d30a2c489468bce82b8ec96576a1c052f) (@benesch)
* [x

[2022-07-20 18:18] materializer commented on #13756
All PRs and unassociated commits:

* [ ] [`9fef031d3` storage: hoist block_on calls from Kafka configuration](https://github.com/MaterializeInc/materialize/commit/9fef031d30a2c489468bce82b8ec96576a1c052f) (@benesch)
* [ ] [`ea4d36830` release: v0.27.0-alpha.3](https://github.com/MaterializeInc/materialize/commit/ea4d368301b07ef15a2f0bce98886689bae87487) (@benesch)

[2022-07-20 21:56] ruf-io opened #13760 "doc/user: Rewrite "Getting Started" to highlight new concepts."
### Documentation request

Materialize is introducing some new concepts and changing some old concepts, now is a good time to update the main "[Get Started](https://materialize.com/docs/get-started/)" guide to give new users the best possible 5 minute tour of Materialize, with the goal of making it "click."

### Current Script

1. [Install, Run, Connect](https://materialize.com/docs/get-started/#i

[2022-07-20 21:57] frankmcsherry opened #13761 "MZ should be able to subset any collection by `[lower, upper)`"
### Feature request

This is a more general take on a specific request that @ahelium had, which is to be able to grab a snapshot of data and look at it efficiently, without continually needing to use `AS OF` to (perhaps expensively) trawl through historic data.

We have the general ability to put `AS OF` modifiers on various commands to indicate when they should *start*, but no upper bound to limi

[2022-07-20 23:45] frankmcsherry opened #13762 "`CREATE MATERIALIZED VIEW` could support `REFRESH` modifiers"
### Feature request

Materialized views have various rules for when they should be refreshed. Ours are by default `REFRESH ON COMMIT`, in Oracle's vocabulary (https://docs.oracle.com/cd/B19306_01/server.102/b14200/img_text/create_mv_refresh.htm). In that same vocabulary, there are interesting options like `ON DEMAND` and `NEVER REFRESH` among others. These both seem valuable and at least one seems

[2022-07-21 03:02] benesch commented on #13743
It's a good question. I'm really not sure! It depends how renditions turn out. I think there's a chance that support _just_ unions is meaningfully easier from supporting arbitrary schema-preserving definition changes.

[2022-07-21 04:38] benesch commented on #13141
I'm still unclear on what the edge cases are here that are different from #12946!

[2022-07-21 06:59] philip-stoev commented on #11506
This is no longer reproducible. The test in question, Zippy with the KafkaSources scenario is running in the CI.

[2022-07-21 06:59] #11506 closed

[2022-07-21 07:11] philip-stoev commented on #12773
Please ignore the previous comment, there is no storaged involvement here.

[2022-07-21 12:34] #13726 closed

[2022-07-21 13:27] aalexandrov commented on #11890
#13757 provides a solution to the mutual recursion problem and an integration with `HirRelationExpr`/`HirScalarExpr`. However, the approach has some limitations (see the conversation at the end of the PR for details), so I'm not sure if this solution is stable.

[2022-07-21 13:44] aalexandrov commented on #13484
Solved in the `EXPLAIN ... AS TEXT` for HIR plans, will be picked up for MIR and LIR when we carry it over.

[2022-07-21 13:45] #13484 closed

[2022-07-21 13:46] benesch opened #13768 "coordinator panicked in cloud"
Observed the following crash in Materialize:

[code]

Possibly related to the `SHOW SCHEMAS` command that @ruf-io was running at the time—or it could have been a different user doing something at the same time.

Slack context: https://materializeinc.slack.com/archives/CU7ELJ6E9/p1658409983999809

Assigning to @JLDLaughlin for context.

[2022-07-21 13:48] benesch commented on #13768
This looks a lot like #12760.

[2022-07-21 13:57] frankmcsherry opened #13769 "Integration tests for `computed`, perhaps compute controller."
### Goal(s)

We discussed in the dataflow retrospective that it might be valuable to build and maintain integration tests for `computed`. The goal would be to allow us to exercise `computed` in ways that are both more specific to `computed`, and potentially broader in that they exercise intended behaviors that may not be exercised by `computed` executed in the context of materialize. Examples incl

[2022-07-21 13:57] #13733 closed

[2022-07-21 14:01] uce opened #13770 "perf: degraded index and table selection performance"
(via Frank)

### Description

After a few hours, the global timestamp seems to racing ahead of data making its way through `persist` (timestamp >> upper):

[code]

The above applies to indexes and tables.

### Logs

[code]

### Context

https://materializeinc.slack.com/archives/C02EEB8PVDH/p1658380208229199

[2022-07-21 14:06] philip-stoev commented on #12118
This is tagged as "green builds" because it affects two CI jobs that were previously green and are now red:
- feature benchmark comparing to the latest released container
- the Nightly full SLT . Previously it completed in 3 hours, now even 10 hours are not sufficient

[2022-07-21 14:07] philip-stoev commented on #13748
This is tagged as "green builds" because it affects the Limits CI job. The respective timeout value has been increased several times already and I am afraid if the job is changed to only ingest 1M vs. 10M records, it will not be probing the limits of the product in that dimension, 1M records being a laughably small value to test with.

[2022-07-21 14:18] heeringa opened #13771 "Update default label to include new triage label on bug template"
By default we'll add a `triage` label to bug templates to indicate untriaged bugs

[2022-07-21 14:32] #13745 closed

[2022-07-21 15:17] benesch commented on #13650
This turned out to be an issue with how we were using Tokio. Fixed by #13755.

[2022-07-21 15:17] #13650 closed

[2022-07-21 15:57] benesch commented on #13768
I'm going to close this in favor of https://github.com/MaterializeInc/materialize/issues/12760, as we have a repro for that issue but not for this one.

[2022-07-21 15:57] #13768 closed

[2022-07-21 16:40] JLDLaughlin opened #13772 "creating objects in Materialize Cloud is slow"
### Feature request

@frankmcsherry reported high latencies trying to create objects in Materialize Cloud yesterday:

[code]

[2022-07-21 16:41] JLDLaughlin opened #13773 "INSERT INTO performance is variable"
### Feature request

@frankmcsherry reported that inserting into a table in Materialize Cloud had very variable (and high) latencies yesterday:

[code]

[2022-07-21 16:42] JLDLaughlin commented on #13773
cc @philip-stoev

[2022-07-21 16:42] JLDLaughlin commented on #13772
cc @philip-stoev

[2022-07-21 16:45] wangandi opened #13774 "Optimization: Modify MapFilterProject if filter is being sped up by index"
### Elevator pitch

#### What does the transformation do?

Currently, even if a predicate is being evaluated using an index, that predicate is going to be reevaluated the normal way afterwards. It would be nice to not re-evaluate.

[code]

#### Why should we add it?
Remove unnecessary evaluation work

#### When would it be good to have?
Always.

### Cost model

#### What is the benefit of the tran

[2022-07-21 16:51] frankmcsherry opened #13775 "Allow `ALTER` for storage collections, to set compaction policy"
### Feature request

`ALTER INDEX` allows you to change the logical compaction associated with an index, and there is even more reason to do it for a storage collection (more likelihood that you'll prefer long-lived data, than in an index). We don't afaict have an `ALTER SOURCE` or `ALTER TABLE` or `ALTER MATERIALIZED VIEW` for manipulating the compaction of these stored collections.

[2022-07-21 16:59] frankmcsherry commented on #13773
The query sequence that leads to this can be found starting from this link and reading down: https://github.com/frankmcsherry/blog/blob/master/posts/2022-07-06.md#base-tables

[2022-07-21 17:17] JLDLaughlin commented on #12760
reproduction steps: https://materializeinc.slack.com/archives/CMHDK0DK8/p1658423057163659

[2022-07-21 18:32] mjibson opened #13777 "constant select performance is slow"
### Feature request

[code]

[2022-07-21 19:29] jkosh44 commented on #13461
Some more of my thoughts on this:

- `CREATE COMPUTE INSTANCE...` and `CREATE COMPUTE INSTANCE REPLICA ...` may succeed without ever actually sending a message to a compute node/pod. However, I think that `CREATE TABLE`, `CREATE SOURCE`, `CREATE INDEX`, and `CREATE RECORDED VIEW` will either send a message to a COMPUTE/STORAGE node or fail. So once bootstrapping is complete then all non-empty COMP

[2022-07-21 20:11] frankmcsherry opened #13778 "Exchange write latency for read latency"
### Feature request

Our approach to timestamp selection in ADAPTER has the opportunity to trade off between write latency and read latency.

At the moment, we have a single timestamp that increases. When writes are performed, they are performed at the current timestamp, which is then sealed. When reads are performed, they too are performed at the current timestamp, and must await the presentation

[2022-07-21 21:29] cjubb39 opened #13782 "Standardize naming IngestSources / ExportSinks"
From #13759.

I am happy to defer to whatever

[2022-07-21 21:29] cjubb39 commented on #13782
cc @benesch

[2022-07-22 07:18] philip-stoev commented on #12885
@frankmcsherry This panic just happened on a test that only uses 1 replica -

https://buildkite.com/materialize/nightlies/builds/1024#018224b5-45cd-4306-bf36-4bb57a7b1a65

On the call yesterday you mentioned that this panic is acceptable in multi-replica cases. What about single-replica situations?

[2022-07-22 07:52] philip-stoev opened #13786 "SLT Nightly test timeout: 6x performance degradation due to use of unindexed tables"
### What version of Materialize are you using?

environmentd v0.26.1-dev (d40cbc9b0)

### How did you install Materialize?

Docker image

### What is the issue?

The Nightly SLT tests time out even if given a 10-hour timeout. The reason is that all of those tests use tables without an index, which makes things 6x slower. Adding `CREATE DEFAULT INDEX ...` restores the performance.

The issue is rep

[2022-07-22 09:30] morsapaes opened #13788 "dbt-materialize: migrate `materialize-dbt-utils` macros to core adapter"
dbt has [announced](https://getdbt.slack.com/archives/CU4MRJ7QB/p1658467817852129) that all macros in the `dbt-utils` package will be incorporated into `dbt-core` with the `v1.2.0` release:

For full context, see [this discussion](https://github.com/dbt-labs/dbt-utils/discussions/487). This means that we'll no longer have to maintain the shimmed [`materialize-dbt-utils`](https://github.com/Materia

[2022-07-22 10:16] frankmcsherry commented on #12885
Very surprising!

Sent from my iPhone

[2022-07-22 11:03] teskje opened #13790 "Compute sink frontiers are not logged"
### What version of Materialize are you using?

v0.26.1-dev (ff8ddb83d)

### How did you install Materialize?

Built from source

### What is the issue?

In `mz_materialization_frontiers`, frontiers of compute sinks are always 0.

[code]

The issue appears to be that in contrast to index frontiers, computed doesn't log updates of sink frontiers.

### Relevant log output

_No response_

[2022-07-22 13:49] #13771 closed

[2022-07-22 15:08] benesch commented on #13770
We think #13784 should help with this.

[2022-07-22 16:52] wangandi commented on #13151
@ggevay A potential follow up to keep in mind.

As stated in the description of #13713

A concrete example:
[code]

Our code that speeds up filters of the form `<expr>=literal` only looks in the "Filter" line and thus sees `#2 = "FED"` instead of `substr(#0, 3) = "FED"`. This shouldn't matter much in the `<expr>=literal` case because
1. the `<expr>=literal`  is likely to be selective.
2. The user

[2022-07-22 17:28] morsapaes opened #13800 "Expose connection type in `SHOW FULL CONNECTIONS`"
### Feature request

For `SHOW CONNECTIONS`, we're grabbing `mz_internal.mz_classify_object_id(t.id)` and exposing that as `type` when the `FULL` option is used:

[code]

Since the "actual" connection type is available in `mz_catalog.mz_connections`, should we expose that instead? It'd be more useful in this context.

[code]

Also, if connections are always user-created objects, is `SHOW EXTENDED

[2022-07-22 20:28] pH14 opened #13802 "persist: panic when accessing a reader that does not exist"
### What version of Materialize are you using?

v0.27.0-alpha.3

### How did you install Materialize?

Materialize Cloud

### What is the issue?

Brennan found a reproducible error on his cloud environment, indicating we're trying to get the Reader associated with an invalid/expired ReaderId. I haven't dug into the stack trace, but off hand the only way for ReaderIds to be removed from state right

[2022-07-22 23:49] frankmcsherry commented on #13454
Should be fixed by https://github.com/MaterializeInc/materialize/pull/13784

[2022-07-22 23:49] #13454 closed

[2022-07-23 04:25] benesch commented on #13800
Yeah, all the SHOW commands need a rethink! See #11231. We could make them all quite a bit more useful if we ditch some of the MySQL funniness. Personally I think both `FULL` and `EXTENDED` should go away.

[2022-07-23 04:45] benesch commented on #13461
Unfortunately not! Communication with storage hosts and compute replicas is handled by a task per storage host/compute replica and errors are retried indefinitely. So the completion of any of these DDL commands does not mean that the controller has made contact with any of the underlying `storaged`/`computed` processes.

[2022-07-23 12:59] morsapaes commented on #13800
Big +1. So glad that there's already a bigger plan for this! I'll close this issue, then. Thanks, @benesch!

[2022-07-23 13:02] jkosh44 commented on #13461
Another note that @frankmcsherry reminded me of, no matter how much fencing we do, queries that don't involve other nodes will still be an issue. For example `SELECT mz_logical_timestamp()` or reading from a view that has a definition of `SELECT 1` on an old leader but `SELECT 2` on a new leader.

[2022-07-23 13:26] #13800 closed

[2022-07-24 11:36] #6246 closed

[2022-07-24 13:43] genert commented on #3688
Any updates on what the future holds for this feature?

[2022-07-24 14:29] benesch commented on #3688
It's still on the roadmap, but likely not anytime soon, sorry!

[2022-07-24 14:33] #6247 closed

[2022-07-25 07:04] philip-stoev opened #13840 "performance regression: multi-second delays when SELECTing from a nested materialized view"
### What version of Materialize are you using?

environmentd v0.26.1-dev (452d930c6)

### How did you install Materialize?

Docker image

### What is the issue?

If a materialized view depends on another materialized view, selecting from said view make take several seconds. The longer the chain, the worse the peformance. I belive this was not the case prior to making materialized views recorded. @

[2022-07-25 07:42] teskje commented on #13840
According to my brief local testing, querying `v2` above can be very fast, but it can also be very slow. When it is slow, that seems to be because we select a timestamp that is ahead of the current upper of the storage collection, so we need to wait for it to catch up:

[code]

The issue also goes away when I opt out of strict serializability (`SET transaction_isolation = serializable`).

As far a

[2022-07-25 11:15] philip-stoev opened #13843 "performance regression: The "fast path" optimization has been lost with the introduction of new-style materialized views"
### What version of Materialize are you using?

5279ca6381eb1ad71af0d469c22e6c9bc3c3b6f3

### How did you install Materialize?

Docker image

### What is the issue?

The feature benchmark reports that the "fast path" optimization has been lost. Queries are now up to two orders of magnitudeslower than they were before.

It is the stuff described here

https://docs.google.com/presentation/d/1Vwk26An

[2022-07-25 11:20] philip-stoev commented on #13843
Compared to the prior commit:

[code]

[2022-07-25 11:25] teskje commented on #13843
In `SELECT * FROM v1 WHERE f1 = const`, is `v1` a materialized view with or without an index?

If `v1` doesn't have an index, then the fast path not being applicable is expected, I think. The fast path works when we can directly peek from a compute arrangement/index (modulo some simple transformations on top of that). But in the case of the new materialized views there is no index created by defau

[2022-07-25 11:43] philip-stoev commented on #13843
`CREATE DEFAULT INDEX` causes the regression to go away.

So before `MATERIALIZED` meant non-persistent-but-arranged but now `MATERIALIZED` means persistent-but-not-arranged ? Are we documenting this somewhere? Previously, we already caused the performance of tables to change radically by removing the creation of the default index that they had...

[2022-07-25 11:44] frankmcsherry commented on #13843
I do have an opinion, that we should not rush in to having adapter read directly from storage. Eventually having *someone* read from storage is great, but at the moment allowing compute to do that seems fine (it will handle it with multiple workers, etc).

I think we should add indexes to the tests where data expect to be indexed (e.g. any tests that are testing the fast path) but that we might no

[2022-07-25 11:44] teskje commented on #13843
Btw, it's possible that the huge difference in query time is actually caused by something else than the usage of the "slow path". I'm not convinced that it should be that much slower. There are definitely other performance issues with reading from storage collections (tables + materialized views) right now, e.g.: https://github.com/MaterializeInc/materialize/issues/13840.

[2022-07-25 11:44] philip-stoev commented on #13843
I will fix the benchmark scenario.

[2022-07-25 11:48] teskje commented on #13843
Yes, see [the internal sinks syntax design doc](https://www.notion.so/materialize/Internal-storage-sink-syntax-017251c532df465fb3a3ec7c344df54b) for more context (Stage 2 in particular). The devex team has been part of this discussion and we will document this change clearly. But I also hope that at GA reading from a materialized view doesn't take 600 times as long as reading from an index!

[2022-07-25 11:53] antiguru commented on #12885
I'm observing this error the second time today. All I did was
[code]

This leaves the replica in a crash-loop which it apparently cannot recover from. It doesn't reproduce every time, so I can't give more specific instructions.

[code]

[2022-07-25 11:56] teskje commented on #12885
@antiguru This looks like what was reported [here](https://materializeinc.slack.com/archives/C02PPB50ZHS/p1658489569228959). Can you try if this goes away with https://github.com/MaterializeInc/materialize/pull/13795?

[2022-07-25 12:06] #13843 closed

[2022-07-25 13:29] jkosh44 commented on #13840
@teskje You're understanding is correct. Something like https://github.com/MaterializeInc/materialize/issues/13778 would hopefully fix this issue.

[2022-07-25 14:22] jkosh44 commented on #13778
One potential optimization we could make is to start tracking the most recent write timestamp for every table. Then when selecting a read timestamp, any timestamp in the range [most_recent_write_ts, global_ts] would be valid without sacrificing strict serializability. We could prioritize selecting an already closed timestamp.

[2022-07-25 16:07] vmarcos opened #13851 "Rename introspection source mz_materialization_dependencies to mz_worker_materialization_dependencies"
The introspection source `mz_materialization_dependencies` has the following schema description:

[code]

In the naming of our catalog objects for introspection, we have tended to use the prefix `mz_worker*` for objects that contain worker as a column. This naming convention is not followed by `mz_materialization_dependencies`.

@antiguru For your attention, if we want to execute the renaming abov

[2022-07-25 16:38] sploiselle commented on #12865
There is a very rough prototype of this feature in #13849
There is a design doc for the proposed approach in Notion under the name "Scalable reads from persist"

[2022-07-25 16:46] alex-hunt-materialize opened #13853 "Storaged pods do not have any resource limits set, which causes the node to OOM"
### What version of Materialize are you using?

materialize/storaged:devel-ea4d368301b07ef15a2f0bce98886689bae87487

### How did you install Materialize?

Materialize Cloud

### What is the issue?

The pods do not have any resource limits set (for either CPU or RAM). There are many pods running on the node, and it eventually ran out of memory and something important in the OS or the kubelet got ki

[2022-07-25 16:49] alex-hunt-materialize commented on #13853
@benesch What resources do these pods need?

[2022-07-25 16:53] umanwizard opened #13854 "`CREATE CLUSTER REPLICA` takes several seconds to return"
### What version of Materialize are you using?

unstable-d5cddec91fdd0088783aa2231bb53cd5c78b2efa

### How did you install Materialize?

Materialize Cloud

### What is the issue?

`CREATE CLUSTER REPLICA` takes several seconds to return on latest main. This didn't use to be the case (in fact, I think it works fine on alpha.3)

It seems to get slower the more replicas there are.

### Relevant log o

[2022-07-25 17:33] benesch commented on #13853
Yes, sorry, this is known! Let's centralize discussion on #13125.

[2022-07-25 17:33] #13853 closed

[2022-07-25 17:42] brennanvincent opened #13857 "Dropping cluster (with `CASCADE`) sometimes causes environmentd to crash"
### What version of Materialize are you using?

unstable-d5cddec91fdd0088783aa2231bb53cd5c78b2efa

### How did you install Materialize?

Materialize Cloud

### What is the issue?

See title.

Seems more likely to happen if the cluster has more replicas, but I haven't verified this.

### Relevant log output

[code]

[2022-07-25 17:51] danhhz opened #13858 "persist: connection pool PR causes table SELECTs to hang"
This hangs on main

[code]

It repros at https://github.com/MaterializeInc/materialize/pull/13794 and does not repro at the commit before that PR. We're reverting that PR while we investigate.

[2022-07-25 17:52] pH14 opened #13859 "persist: using a connection pool in persist causes table reads to hang"
### What version of Materialize are you using?

head

### How did you install Materialize?

Built from source

### What is the issue?

https://github.com/MaterializeInc/materialize/pull/13794 introduced a connection pool to Postgres consensus, and seems to break reads from tables.

With this change, a client will be hung indefinitely while trying to read from a table. This can be reproduced very e

[2022-07-25 17:52] #13859 closed

[2022-07-25 17:54] danhhz commented on #13858
It's curious that there seems to be no logs from persist. I took a quick peek at the raw metrics (no dashboard hooked up yet) but nothing jumped out at me.

Attempting to figure out how this passed CI: tried setting consensus_connection_pool_max_size to 1, no effect. Then ran `cargo run --bin testdrive -- 'test/testdrive/tables.td'` which seems to immediately hang. This likely points to some sort

[2022-07-25 17:56] alex-hunt-materialize commented on #13125
Can we get some hard-coded default sizes until we figure this out? It's breaking production to not have limits set at all.

[2022-07-25 18:15] benesch commented on #13857
This looks sort of similar to #12355.

[2022-07-25 18:22] jkosh44 commented on #13857
The Coordinator maintains a read hold on all objects at the current global timestamp. Periodically the Coordinator will update all of these read holds. This error is happening during those updates.

It seems likely that we are not removing the cluster from the Coordinator's state when it's deleted, so when we try and update the read holds on that cluster it panics. I'll take a look today.

[2022-07-25 18:51] danhhz opened #13861 "persist: thousands of blobs in environments left over the weekend"
These were running v0.27.0-alpha.3 (I think) and so should have had the gc work that merged on monday last week.

[2022-07-25 18:54] pH14 commented on #13125
Do we run the Kube nodes with any kube/system resource allocations? We might be able to mark off some memory for system processes so pods get killed before host-level processes via https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/

[2022-07-25 18:59] danhhz commented on #13861
Some initial questions:
- Can we confirm what version they were running? This used to be exposed as part of a prometheus "mz_server_metadata_seconds" counter but this seems to be missing in platform binaries
- What even is the expectation here? I could imagine an individual shard having hundreds of blobs.
  - There are 22 system tables, each with a shard. The system tables are pretty much just wri

[2022-07-25 19:02] danhhz commented on #13861
More questions:
- what is the since of each shard?
- what is the seqno and seqno capability of each shard (more interestingly, what time was each of those created)?

[2022-07-25 19:03] danhhz commented on #13861
cc @aljoscha @pH14 nothing to do here for y'all, just fyi of my debuggings

[2022-07-25 19:14] danhhz commented on #13861
Nikhil mentioned that this issue seemed to occur both for prod and for staging. I can confirm via staging prometheus metrics that gc is happening and that blob deletions calls are returning as successful (deleting is idempotent, so they'd still be successful if they were no-ops). The metric for how many blob bytes are deleted is currently a TODO.

<img width="926" alt="image" src="https://user-ima

[2022-07-25 19:15] jkosh44 commented on #13857
Ahh, I see the issue. when we drop the cluster we never drop the introspection source indexes. So then we try and update the read holds on the introspection source indexes and panic because the cluster is gone.

Are introspection source indexes maintained in the catalog anywhere?

[2022-07-25 19:19] danhhz commented on #13861
Oh that all starts very recently. If I go back 2 days, then of the 3 clusters I seem to see in metrics, only one seems to have existed over the weekend (the other two look to have started within the last two hours). That one seems to have started gc'ing very suddenly today. I wish I knew for sure what version it was running over the weekend.

[2022-07-25 20:34] #4887 closed

[2022-07-25 20:56] #13668 closed

[2022-07-25 20:58] benesch commented on #12760
This is possibly fixed by https://github.com/MaterializeInc/materialize/pull/13862. We'll know if https://buildkite.com/materialize/nightlies/builds/1034 passes.

[2022-07-25 21:02] danhhz commented on #13861
nikhil and I poked around at the devex cluster (`01d730c7-*-0`) and saw at least one shard that seemed to have a bunch of equally sized blobs all written on the 21st (maybe the shard got deleted? cleaning up on shard deletion still has yet to be implemented). we also found a shard that seems to have had the no-gc problem persist for multiple days.

I just got prod metrics access. a quick scan show

[2022-07-25 21:18] #13857 closed

[2022-07-25 22:18] alex-hunt-materialize commented on #13125
We do set the `kubeReserved`, but they are the default values and are likely too low. We don't set `systemReserved`.

Here's the /etc/kubernetes/kubelet/kubelet-config.json from a staging node (should be the same for prod):
[code]

Maybe I'm reading those docs wrong, but it looks like those are not actually reserved, just not considered in scheduling decisions. If a pod doesn't have any limit set,

[2022-07-25 23:34] danhhz commented on #13861
okay, I think I fixed the other problems (maybe #13735). the devex cluster is still not gc-ing though

possibly some progress! i started up a new env on staging and made a pubnub source and a simple materialized view. environmentd appears to be gc'ing but storaged and computed don't, they are "skipping" every gc request. I suspect this means some seqno capability is not being downgraded. should be

[2022-07-26 00:14] #12760 closed

[2022-07-26 02:57] benesch commented on #12355
I'm going to optimistically close this as fixed by #13864. But, @antiguru, is it easy for you to retest? Your repro used file sources so it's not trivial to use that repro against the latest master. I did my best to recreate the TPCH views with some empty tables, and the issue didn't repro, but I'm not 100% sure that it would have tickled the bug.

[2022-07-26 02:57] #12355 closed

[2022-07-26 02:59] benesch commented on #6720
Fixed with platform.

[2022-07-26 02:59] #6720 closed

[2022-07-26 02:59] benesch commented on #5884
Fixed by #12731!

[2022-07-26 02:59] #5884 closed

[2022-07-26 03:00] benesch commented on #5294
No longer relevant in platform.

[2022-07-26 03:00] #5294 closed

[2022-07-26 03:01] benesch commented on #4604
No longer relevant with platform.

[2022-07-26 03:01] #4604 closed

[2022-07-26 03:01] benesch commented on #5277
No longer relevant with platform.

[2022-07-26 03:01] #5277 closed

[2022-07-26 03:02] benesch commented on #4987
We have a better understanding of this now; closing in favor of real-time recency: #11531.

[2022-07-26 03:02] #4987 closed

[2022-07-26 03:03] benesch commented on #4984
No longer relevant in platform.

[2022-07-26 03:03] #4984 closed

[2022-07-26 03:05] benesch commented on #13851
Thanks! There's quite a few of these that we should tackle in platform. I added this to the list in #7174.

[2022-07-26 03:05] benesch commented on #7173
Welp, this got "fixed" via the removal of `mz_metrics`.

[2022-07-26 03:05] #7173 closed

[2022-07-26 04:30] benesch opened #13867 "CI: sqllogictests flaky"
Our fast sqllogictests job is frequently failing in CI with the following crash:

[code]

Example: https://buildkite.com/materialize/tests/builds/38329#01823726-a6d7-4550-8259-3b067b104489

As best as I can tell, the problem is that we have code that looks like this in Materialize:

[code]

When the Tokio runtime is shut down, it can't abort the `spawn_blocking` closure (because it doesn't have aw

[2022-07-26 04:55] mjibson commented on #13778
Currently to make the sales demo fast we need to 1) create an index and 2) disable SS. This issue might remove the need for us to tell demo users to downgrade their txn level, which is a pretty bad look for a database. I guess that means I'm for prioritizing this issue!

[2022-07-26 05:06] benesch opened #13870 "[Proposed epic] dynamic service scheduling"
### Feature request

## Background

A "service" in Materialize is either a compute replica or a storage host. Today, each service corresponds to a `StatefulSet` in Kubernetes with largely _static_ constraints, like "place this service in this AZ" or "use this CPU and memory limit."

This works well for customers who want fine-grained control over their infrastructure. It works less well for custom

[2022-07-26 05:15] benesch commented on #13125
Removing the release blocker label because I don't think this needs to block the release of v0.27.0-alpha.4. I agree it's a P1, though!

[2022-07-26 07:22] philip-stoev opened #13872 "[Epic] Handle Postgres (consensus/stash) interruptions"
### Initiative and Theme

Materialize is Available

### Problem

Transient errors related to Postgres (stash/consensus, not Pg sources) need to be handled by properly retrying/reconnecting while being mindful of transaction boundaries and implicit rollbacks.

### Success Criteria
- Mz should handle transient network interruptions when communicating with Postgres (at least 30 seconds?). This implie

[2022-07-26 08:03] antiguru commented on #12355
I retested and it seemed to work fine this time. Thanks!

[2022-07-26 08:16] #13790 closed

[2022-07-26 11:43] jan commented on #13843
I love that you value my input on this, @philip-stoev. I'm certain you are doing excellent work here. Keep it up.

Kind regards, @jan.

[2022-07-26 12:43] sploiselle commented on #12426
This issue would be challenging to close by simply removing the keyword because of e.g. #12304 (h/t @andrioni)

[2022-07-26 12:46] philip-stoev opened #13879 "Elevated CPU usage in computed, many blobs written out even with all dataflows idle"
### What version of Materialize are you using?

environmentd v0.26.1-dev (54ba3052f)

### How did you install Materialize?

Debug build

### What is the issue?

Creating a simple materialized view over static tables with 20 indexes on it results in the following:
1. The blob directory fills up with 10 blobs/second . It does not seem that any compaction/deletion is happening since I was up to 10K b

[2022-07-26 12:56] philip-stoev commented on #13879
[gh13879.sql.zip](https://github.com/MaterializeInc/materialize/files/9189918/gh13879.sql.zip)

To reproduce, pipe this file through the psql client. It contains a simple schema, a few data rows, one `CREATE MATERIALIZED VIEW` statement and then 20 `CREATE DEFAULT INDEX ON` .

[2022-07-26 13:02] philip-stoev commented on #13879
The CPU usage is only reproducible with a Debug build. Under release, CPU usage is negligible and storage and malloc related futures do not stand out.

The fact that blobs accumulate is reproducible on both builds.

[2022-07-26 13:05] philip-stoev commented on #13879
An expanded section of the `perf` report above shows that it ultimately ends up in `malloc`:

[code]

[2022-07-26 13:22] xiaoruiDu opened #13880 "Support using ZeroMQ as a connector"
### Feature request

Hey materialize community,

We are curretly developing a data analysis system for a large-scale distributed simulation.  Basically, we are using ZeroMQ(with protocol) to transfer data. We hope that we can ingest data to materialize difrectly via ZeroMQ instead of ZeroMQ-->KafKa-->materialize to get better performance.

Is there a way to implement a user defined connector for m

[2022-07-26 13:42] teskje commented on #13496
Summarizing my current knowledge here:

The core issue is that after an environmentd restart it is possible that adapter selects an `as_of` for the recording sink dataflow that is before the `as_of` selected when that dataflow was first created. This allows the following scenario to happen:

1. Adapter receives CREATE MATERIALIZED VIEW (formerly CREATE RECORDED VIEW).
2. Adapter builds the sink da

[2022-07-26 13:53] lluki opened #13882 "Cleanup introspection sources after delete replica / delete cluster"
As of now we keep the persisted introspection sources around after a replica has been terminated. We should remove them from the catalog and from persist.

Testing:
[code]

Should show only the default cluster sources (with a `_1`) postfix, but no `_2` or `_3` sources.\

Also, if we start removing the sources, we need to ensure that views are correctly handled:
[code]
Must fail (due to indices etc

[2022-07-26 13:55] lluki opened #13883 "Selecting from introspection sources fails if cluster with more than one replica is selected"
The current `SELECT` code makes no distinction between persisted logs and active (arranged) logs. For the replica-directed queries we introduced an error message if a cluster is selected with more than one replica. This warning is unnecessary for persisted sources and should be removed (but only in this case, for active logs the error is correct and should stay)

## Testing

Produces an error wher

[2022-07-26 14:15] benesch commented on #13879
Hey, this could explain https://github.com/MaterializeInc/materialize/issues/13861! cc @danhhz

[2022-07-26 14:29] sploiselle opened #13884 "[Epic] Sharded persist reads/writes"
### Feature request

Currently, Materialize only uses a single Timely worker to read from persist (`persist_source`) and write to it (`persist_sink`). This leaves a lot of throughput on the table by not taking advantage of the available parallelism.

## Reads

Tracked in #12865

tl;dr: Sharding reads from persist immediately achievable, and we have a prototype working.

- [x] Design (in Notion und

[2022-07-26 14:41] danhhz commented on #13879
I'm not surprised. At the end of the day yesterday investigating https://github.com/MaterializeInc/materialize/issues/13861, I thought I saw neither storaged (with 1 pubnub source) nor computed (with 1 materialized view on that source) doing gc while environmentd seemed to be gc'ing just fine. I suspect something to do with the persist_sink impl is holding a capability that prevents us from gc, bu

[2022-07-26 14:46] sploiselle commented on #13374
@andrioni Not yet--we haven't removed the ability to e.g. specify Kafka connections inline. You can find some more details from @benesch here https://github.com/MaterializeInc/cloud/issues/2837#issuecomment-1186250863

[2022-07-26 14:47] vmarcos opened #13885 "Add introspection source to track delays between advancement of persist source and dataflow frontiers"
### Feature request

For performance debugging and to support #13133, we would like to create an introspection source that would help us better understand the performance lag between frontiers advancing in sources exposed to COMPUTE through `persist` and the corresponding frontier advancement in dataflows. The overall justification and design for this new introspection source is presented in a [se

[2022-07-26 14:54] vmarcos commented on #13489
After some discussion, we have observed that it is important to provide two important kinds of introspection data related to the lag between source and dataflow frontiers: (a) At a given wall-clock time point, the current source and the current dataflow frontiers in Materialize logical times; (b) The histogram of differences between the two wall-clock time points at which COMPUTE observes the adva

[2022-07-26 14:56] frankmcsherry commented on #13489
I'm also up for (c) which is (a) but done at COMPUTE. I'm not sure we shook out the (b) vs (c) trade-offs. But, for sure at least one of (b) or (c) is important for COMPUTE to be able to disconfirm that it is holding the ball on some query.

[2022-07-26 14:59] sploiselle opened #13886 "[Epic] storage: distribute write work across all timely workers in persist_sink"
### Feature request

Currently, Materialize only uses a single Timely worker to read from persist (`persist_source`) and write to it (`persist_sink`). This leaves a lot of throughput on the table by not taking advantage of the available parallelism.

Design doc: https://www.notion.so/materialize/Distribute-write-work-across-all-timely-workers-in-persist_sink-d3d59834ed9d47d397143c738e9d6c9d

[2022-07-26 15:11] vmarcos opened #13887 "Add introspection for current persist source instantiation frontiers in the context of dataflows"
For performance debugging and to support #13133, we would like to create an introspection source that would allow us to observe, with the information available in the COMPUTE layer, the instantaneous (in wall-clock time) frontier of a `persist` source instantiation within the context of a dataflow. This issue is a follow-up from the discussion _Originally posted by @frankmcsherry in https://github

[2022-07-26 15:25] andrioni commented on #13374
Ah, sorry, I thought they were all mandatory already! Thanks!

[2022-07-26 15:34] morsapaes commented on #13880
Hey, @xiaoruiDu! I’m afraid that your best bet is to stick with your current setup using Kafka. It’s non-trivial to implement a source in Materialize, and we currently don't provide an option for user-defined sources. We'll let you know if that changes in the future!

[2022-07-26 15:59] alex-hunt-materialize commented on #13125
@hlburak If possible, I'd like to get 1-4 from the list of action items above into M2.

[2022-07-26 16:14] benesch commented on #13125
So quick status update:

  * This whole epic is slated for M2.
  * Alessandro landed a fixed limit for `storaged` processes https://github.com/MaterializeInc/materialize/pull/13881. That'll be in today's release.
  * Alessandro is actively working on the other items.

@andrioni, do you have a rough estimate for how long it'll take to everything _but_ `ALTER SOURCE`?

[2022-07-26 16:23] alex-hunt-materialize commented on #13125
I'm going to make a separate epic for the follow up actions I listed, as they aren't directly related to this `SIZE` parameter, and I don't want to confuse this discussion.

[2022-07-26 16:25] benesch commented on #13125
Oh sorry, I understand now. Yes, that'd be great Alex, thanks!

[2022-07-26 16:27] andrioni commented on #13125
PR should be open sometime this week! I already have everything fully wired up [here](https://github.com/andrioni/materialize/commit/901e2869f1936a575f7b57e7889a92f6258afa28) and "working", now it's just a matter of making it nice (i.e. not passing the size as a string up until the storage controller, implementing a `ConcreteComputeInstanceReplicaConfig` analogue, all the `TODO`s in the commit). I

[2022-07-26 16:50] danhhz opened #13888 "storage: hang on startup possibly due to lost async wakeups"
Last week, Frank hit an issue while developing https://github.com/MaterializeInc/materialize/pull/13740 where there was a hang (deadlock?) while starting up persist_source and persist_sink operators. This happened around the Mutex for PersistClientCache and Frank tracked it down to a `tokio::fs::create_dir_all` call in FileBlob::open. I was easily able to repro his hang locally and indeed we were

[2022-07-26 16:53] uce commented on #11501
The design in https://www.notion.so/materialize/Kafka-Sinks-9ba8f8c0ddc949d6b20a67a2558a7604 has been approved and work on it has started in #11503.

[2022-07-26 16:53] #11501 closed

[2022-07-26 17:00] danhhz commented on #13888
Possibly related: we had to roll back https://github.com/MaterializeInc/materialize/pull/13794 because it conflicts with https://github.com/MaterializeInc/materialize/pull/13795 in a way that doesn't really make sense. Either of them work individually but together they lead to any reads from tables hanging.

I have a suspicion that the underlying cause of both of these is lost wakeups in one of th

[2022-07-26 17:00] danhhz commented on #13888
cc @benesch @pH14 @aljoscha

[2022-07-26 18:01] danhhz commented on #13867
Works for me, but I'm always surprised by tokio nuance so take that with a grain of salt.

[2022-07-26 18:02] danhhz commented on #13888
Okay I added a wrapper for our Activator that prints when it gets a wakeup. I now see the poll_next returning a Poll:Pending and then never see the activator getting the wake up. I'm going to double check that my Activator wrapper actually works, but if it does, this seems pretty damning.

[2022-07-26 18:05] brennanvincent commented on #13756
LGTM

[2022-07-26 18:05] #13756 closed

[2022-07-26 19:10] brennanvincent commented on #13854
This is reproducible locally -- each `CREATE CLUSTER REPLICA` command is faster than in cloud, but the behavior that take longer the more replicas have been created is still true.

After creating a bunch of replicas, even after destroying them all, Materialize still seems to be in "slow mode" (new replicas take several seconds), so maybe there is some kind of resource leak ...

I am also seeing si

[2022-07-26 19:11] uce opened #13889 "[Epic] SIZE Parameter in CREATE SINK"
This is the sink counterpart to #13125. We're splitting the sink side out of #13125, because it overlaps with the ongoing work on sinks in #11503.

The existing [design document](https://www.notion.so/materialize/storaged-sizing-and-pricing-cbc30495a87845fa981432adb97e5ea1) covers both sources and sinks. This epic tracks implementation of the sink side.

### Time Horizon

Small

### Work items

*

[2022-07-26 19:16] jkosh44 opened #13890 "test: Specifying an argument in `Composition.testdrive` can lead to duplicate arguments"
### What version of Materialize are you using?

v0.26.1-dev

### How did you install Materialize?

Built from source

### What is the issue?

When creating a `Testdrive` service many of the testdrive arguments are specified in the constructor:
https://github.com/MaterializeInc/materialize/blob/c5b9619ba852ec29a12f676f3121c1ca27b83df3/misc/python/materialize/mzcompose/services.py#L589-L614

These a

[2022-07-26 19:20] danhhz commented on #13888
okay found one thing! here we see an individual persist_source operator (I added the UUIDs to keep track of ones on different workers/for different shards) get scheduled, successfully acquire the persist clients mutex, make it past the file blob (only because I'm using std::fs::create_dir_all in this branch) and try to connect to postgres. The async_Waker+timely_Activator glue indeed gets a wake c

[2022-07-26 19:32] danhhz commented on #13888
GOT IT

we're taking the mutex lock, then the `mz_storage::source::util::source`'s ActivateOnDrop token is being dropped (somewhere dunno why), preventing the tick logic from ever being run again (and thus preventing the mutex from being unlocked)

[code]

[2022-07-26 19:37] danhhz commented on #13888
confirmed the removing the following unbreaks the deadlock. still mulling over a mergeable fix https://github.com/MaterializeInc/materialize/blob/33143731de58e6a55d07466b79a0de9eeef70608/src/storage/src/source/util.rs#L90-L93

[2022-07-26 19:50] andrioni commented on #13125
Eh, it was simpler than I expected: PR open #13891 for everything before `ALTER SOURCE`.

[2022-07-26 20:23] brennanvincent commented on #13854
@lluki , @teskje , @antiguru , since this reproes locally I went ahead and bisected it. It bisects to Persisting Introspection Dataflows Part 1 (#13340)

[2022-07-26 22:48] #13888 closed

[2022-07-27 01:56] ruf-io commented on #9694
@morsapaes @andrioni I noticed this conflicts with the information in docs https://materialize.com/docs/integrations/#sql-clients

is docs wrong?

[2022-07-27 04:55] andrioni commented on #9694
I think the interpretation we had at that time is that while not everything in DBeaver works, the parts that don't work are because they use features we don't support nor intend to support anytime soon (e.g. triggers).

[2022-07-27 06:52] morsapaes commented on #9694
What Alessandro said! The non-working parts were pinned down in: https://github.com/MaterializeInc/developer-experience/discussions/53

[2022-07-27 07:47] #13722 closed

[2022-07-27 08:44] antiguru commented on #13854
I can reproduce the problem locally. Start Materialize: `bin/environmentd --release --reset` and then run the following script:
[code]

Timing output:
[code]

The compute processes hover at around 1-2% CPU utilization, postgres and `environmentd` both at ~20%, but my SSD is 100% busy with writes.

[2022-07-27 09:14] morsapaes commented on #13675
Closing this after #13865.

[2022-07-27 09:14] #13675 closed

[2022-07-27 09:47] philip-stoev commented on #12860
Now that `MATERIALIZED` means `RECORDED` , all the items from the QA checklist are being implemented by existing tests. I can not think of anything else to test at this time.

[2022-07-27 09:52] #12860 closed

[2022-07-27 11:50] #13657 closed

[2022-07-27 12:40] antiguru commented on #13854
This seems to come from `create_collections`:
![image](https://user-images.githubusercontent.com/582946/181248933-f6e1e48e-bfb0-48e4-9b28-614904118fd6.png)

[2022-07-27 12:42] philip-stoev opened #13906 "loss of interactivity, 100% CPU loop in storaged (compare_and_append_batch)"
### What version of Materialize are you using?

environmentd v0.26.1-dev (47b01007f)

### How did you install Materialize?

Docker image

### What is the issue?

When I was testing the creation of a lot of materialized views that depend on system tables, storaged went into a 100% cpu loop with loss of interactivity:

[code]

### Relevant log output

_No response_

[2022-07-27 15:00] materializer opened #13911 "release: v0.27.0-alpha.6 required reviews"
The following PRs in [`v0.27.0-alpha.6`](https://github.com/MaterializeInc/materialize/tree/v0.27.0-alpha.6) require review:
* [x] [#13907 doc/user: clean up last bits of PubNub](https://github.com/MaterializeInc/materialize/pull/13907) (@morsapaes)

The following commits in this release were not associated with any PR and therefore require review:
* [x] [`9190192a6` release: v0.27.0-alpha.6](http

[2022-07-27 15:00] materializer commented on #13911
All PRs and unassociated commits:

* [ ] [#13876 doc/user: document `CREATE CONNECTION`, pt. II](https://github.com/MaterializeInc/materialize/pull/13876) (@morsapaes)
* [ ] [#13907 doc/user: clean up last bits of PubNub](https://github.com/MaterializeInc/materialize/pull/13907) (@morsapaes)
* [ ] [#13908 compute: only truncate log collections on one worker](https://github.com/MaterializeInc/mater

[2022-07-27 15:18] philip-stoev opened #13914 "regression: assert_eq!(old_config, Some(new_config)) in src/compute/src/server.rs:439"
### What version of Materialize are you using?

environmentd v0.26.1-dev (550670b32)

### How did you install Materialize?

Docker image

### What is the issue?

Asserts as shown below with this test that restarts environmentd:

[code]

The assert was introduced here:

[code]

### Relevant log output

[code]

[2022-07-27 15:36] antiguru commented on #13914
This seems like an actual bug:
* old: `status_shard: ShardId(a2dda8e4-33df-4eb8-b7bf-a39be18b5b1c)`
* new: `status_shard: ShardId(3d83abb8-6e1c-48c8-a991-52b21924a63f)`
This means the configuration for the instance changed and the only thing it can do is crash.

[2022-07-27 15:37] frankmcsherry commented on #13914
I think @andrioni and @benesch know what `status_shard` is and can perhaps opine on whether it should change when a replica is reconnected to!

[2022-07-27 15:43] antiguru commented on #13854
It looks much better after 550670b321d506589a81455c50656e0274017be5, and I'm now able to create 100 replicas. My terminal now gets spammed with:

[code]

[2022-07-27 15:43] benesch commented on #5273
We should definitely figure out which of these are platform blockers. I'll add that to my queue.

[2022-07-27 15:44] andrioni commented on #13914
`status_shard` used to be persisted, but this was changed in #13806: after this, it can indeed vary for objects that are not sources (the adapter guarantees that sources have a stable assignment, but everything else gets a random `ShardId` every `create_collections` call), but it's also not used in those cases. I guess the best fix here would probably to turn it into an `Option` and just not fill

[2022-07-27 15:47] brennanvincent commented on #13854
@antiguru what's the timing like when creating the 100 replicas? Is it low? (0-500ms per replica, no increase over time)

I think investigating whether we should be worried about this fatal postgres error is a separate issue.

[2022-07-27 15:51] philip-stoev commented on #13914
Bisection failed unfortunately, here are a few failing commits:

git bisect bad 54ba3052f58ed083f046358976570890f3271c3b
git bisect bad 9af5d3d4452d88ec71ae325ea929666372d17861
git bisect bad 56404052d5fbf57372c12db9ce4da883c0ca3061
git bisect bad bc3ea9f929a7df907057f3879b31e85890bb0967

[2022-07-27 15:51] antiguru commented on #13854
It still slows down over time:
[code]

[2022-07-27 15:52] antiguru commented on #13854
My SSD is back at 100% utilization around the 100 replica mark.

[2022-07-27 15:55] benesch commented on #13914
Oops, yup, that sounds right.

[2022-07-27 15:56] teskje opened #13916 "Persist shard sinces are not advanced after environmentd restart"
### What version of Materialize are you using?

v0.26.1-dev (d625f21f8)

### How did you install Materialize?

Built from source

### What is the issue?

Restarting environmentd seems to break the correct advancing of `since`s of storage collection persist shards.

To reproduce:

1. Instrument Materialize to print shard IDs of storage collections. For example [here](https://github.com/MaterializeI

[2022-07-27 15:59] brennanvincent commented on #13854
I would describe this as still being the bad behavior (I would have typed `git bisect bad` on that result)

[2022-07-27 16:00] danhhz commented on #13916
Ah yeah, this is exactly it! They are leased, but actually writing the expiry task is a TODO. (Coming up soon as part of stuff @pH14 is working on.)

[2022-07-27 17:53] danhhz opened #13918 "persist: provide introspection through a SQL source/view"
Materialize has a general pattern of exposing raw diagnostic information in a way that's allows us to use SQL and dataflow to introspect and process it for debugging. Persist should also be a good citizen here and do that same.

Roughly, I thinking of something that presents at the SQL level similarly to `mz_arrangement_sizes` with a schema perhaps something like the following (which is a strawman

[2022-07-27 17:59] danhhz commented on #13918
Implementation-wise, my initial idea is that persist would expose something like `Listen` but for changes to its internal state, which we can then... wrap in an operator and hook it up as a new kind of dataflow source? We could instead write it down like any other shard, but then we have a chicken-and-egg problem of using persist to write out information about the usage of persist (and thus consta

[2022-07-27 18:03] andrioni opened #13919 "sql-parser: move minor `CREATE SOURCE` options to `WITH` block"
[More context in Slack](https://materializeinc.slack.com/archives/C01CFKM1QRF/p1658843321106399), but the main idea is to move options like `REMOTE` and `TIMELINE` to the new `WITH (OPT1 VAL1 OPT2 VAL2)` block that supports order-independent settings, similar to `CREATE CONNECTION` already works.

[2022-07-27 18:52] danhhz commented on #13858
This was closed by #13897

[2022-07-27 18:52] #13858 closed

[2022-07-27 19:52] JLDLaughlin commented on #12355
yay @jkosh44 !

[2022-07-27 20:42] JLDLaughlin commented on #12470
@benesch thinks this may have been fixed. @jkosh44 would you be able to confirm and close?

[2022-07-27 21:12] benesch opened #13921 "storage controller does not retry failed persist writes"
The storage controller does not retry failed calls to `compare_and_append`. We observed a crash due to a persist consensus connection to a cockroach node that was shutting down; this caused a `PersistWorker` to take down `environmentd`.

I'm not entirely sure whether it's safe to retry this blindly, but there's surely some sort of check we can make to determine whether we can retry.

Backtrace: ht

[2022-07-27 21:16] mjibson commented on #13921
I'm pretty sure this is also https://github.com/MaterializeInc/materialize/issues/13210

[2022-07-27 21:24] jkosh44 commented on #12470
The repro query is no longer a valid due to change of syntax. The updated syntax would be:
[code]

This gives the following error
`ERROR:  1.3.schema_reg is not a kafka connection`
which is a completely different error but doesn't echo the password.

If you run the following instead, which is closer to the provided query
[code]
You get the following error: `ERROR:  invalid PASSWORD: must provide a

[2022-07-27 21:24] #12470 closed

[2022-07-27 22:16] danhhz commented on #13916
This should also maybe be fixed by https://github.com/MaterializeInc/materialize/pull/13922

[2022-07-28 08:10] uce commented on #13748
This is low priority for now. We will want to revisit this towards the end of the current milestone.

[2022-07-28 08:13] uce commented on #13629
It's unlikely that we'll support transaction sources going forward. We can revisit this issue in case we decide that we'll support them.

[2022-07-28 08:14] uce commented on #13379
For storage, we are fine with the availability implications of restarting. Philip has created #13872 for the parts that we do want to address.

[2022-07-28 08:24] ggevay opened #13927 "`true and` inserted at the beginning of join conditions"
### What version of Materialize are you using?

v0.26.1-dev (0228369af)

### How did you install Materialize?

Built from source

### What is the issue?

`src/sql/src/plan/query.rs:plan_using_constraint` inserts a `true AND` at the beginning of join constraints (see e.g., `joins.slt:645`). This obviously does not affect the query semantics, so it should be removed.

However, if I remove it then so

[2022-07-28 08:34] uce commented on #12118
This got assigned to @philip-stoev in order to break out sub issues.

[2022-07-28 08:35] uce commented on #11820
It's unlikely that we'll support transaction sources going forward. We can revisit this issue in case we decide that we'll support them.

[2022-07-28 08:38] uce commented on #6584
@philip-stoev is assigned to fix the test issue. On top of that, should look into this in the context of #11503.

[2022-07-28 08:44] teskje commented on #13916
I just tested with the latest main and unfortunately I still don't see the sinces advancing after a restart.

[2022-07-28 08:48] uce commented on #13914
Fixed in #13917.

[2022-07-28 08:48] #13914 closed

[2022-07-28 08:51] philip-stoev commented on #6584
The test was substantially rewritten by Petros in

[code]

so all the comments in this ticket are obsolete and only muddle the picture, with the exception of the one about this failure https://buildkite.com/materialize/nightlies/builds/950#018180bd-f427-4714-a5ec-0d4ef6c378a9

I am closing this issue to avoid further confusion about what was tested before and what is being tested now. Will open a

[2022-07-28 08:51] #6584 closed

[2022-07-28 08:52] vmarcos commented on #13918
Hi Dan, this issue may be related to https://github.com/MaterializeInc/materialize/issues/13489. Perhaps both would be addressed by the present one?

[2022-07-28 08:54] philip-stoev commented on #12118
All the individual performance issues that are readily reproducible have their own tickets. I am closing this one as too broad.

[2022-07-28 08:54] #12118 closed

[2022-07-28 09:02] uce commented on #13786
#13893 fixed the time it takes to run the tests by adding indexes for the user tables.

[2022-07-28 09:02] philip-stoev commented on #11920
Has not failed in the last 28 days - https://buildkite.com/organizations/materialize/analytics/suites/mzcompose/tests/1839461?branch=main so closing.

[2022-07-28 09:02] #11920 closed

[2022-07-28 09:51] ggevay opened #13928 "Flatten calls to associative variadic functions"
### Elevator pitch

#### What does the transformation do?
Currently, `MirScalarExpr::flatten_and_or` flattens calls to AND/OR. For example,
`a AND (b AND c)` -->
`a AND b AND c` (which is internally `AND(a,b,c)`)
We could do the same for any associative variadic function, e.g., `concat`, `list_cat` `least`, `greatest`, `coalesce`:
`list[1,2] || (list[3,4] || list[5,6])` -->
`list[1,2] || list[3,4]

[2022-07-28 10:00] ggevay opened #13929 "Add more cases to `introduces_nulls`"
`BinaryFunc::introduces_nulls` and `VariadicFunc::introduces_nulls` is presently conservative, i.e. may indicate that a function
introduces nulls even when it does not. We should go through all binary and variadic functions and decide for each of them whether it can introduce nulls.

[2022-07-28 10:20] philip-stoev opened #13930 "Nightly SLT: part encode task failed JoinError::Cancelled(Id(44940))"
### What version of Materialize are you using?

50670b

### How did you install Materialize?

Docker image

### What is the issue?

Some sort of tokio issue I assume

https://buildkite.com/materialize/sql-logic-tests/builds/5312#01823f6d-4fd5-44cd-b460-55bbd51323da

### Relevant log output

[code]

[2022-07-28 10:23] ggevay opened #13931 "Make `+` and `*` variadic"
### Elevator pitch

#### What does the transformation do?
Currently, if the user writes `1+2+3+4` we represent it as `((1+2)+3)+4`, because `+` can have exactly 2 args. We could make `+` and `*` `VariadicFunc`.

(This is similar to https://github.com/MaterializeInc/materialize/pull/13731, but it should be much easier to do.)

#### Why should we add it?
- Avoid stack overflow in the optimizer if th

[2022-07-28 13:08] philip-stoev commented on #12775
The numbers for 100 connections are substantially better, 1.4 seconds to establish all 100. Also, opening 1000 connections no longer leads to loss of interactivity. So I am closing this issue for the time being.

[2022-07-28 13:08] #12775 closed

[2022-07-28 13:09] philip-stoev commented on #12397
The test is no longer realistic, the product is not expected to handle hundreds of tables at this time. So closing it for the time being.

[2022-07-28 13:09] #12397 closed

[2022-07-28 13:10] lluki opened #13935 "Add `CASCADE` to `DROP CLUSTER REPLICA`"
If there is a view that uses a clusters introspection data, `DROP CLUSTER REPLICA` fails (correctly). But there is no `CASCADE` option. This should be added.

[2022-07-28 13:11] philip-stoev commented on #12331
This ticket does not bring any value over #8853, so I am closing it.

[2022-07-28 13:11] #12331 closed

[2022-07-28 13:41] #13885 closed

[2022-07-28 13:46] pH14 commented on #13916
Mm it might not have run for long enough. Dan's PR conservatively takes 15min for a reader to expire after its last heartbeat.

[2022-07-28 13:47] teskje commented on #13916
Ah, that would definitely explain it! I didn't wait nearly as long.

[2022-07-28 14:31] lluki opened #13937 "Thread 'tokio-runtime-worker' panicked at 'A Tokio 1.x context was found, but it is being shutdown."
### What version of Materialize are you using?

fd6faca6642072a429a35185cbf7d9895707cef4

### How did you install Materialize?

Built from source

### What is the issue?

Computed crashes occasionally with `Thread 'tokio-runtime-worker' panicked at 'A Tokio 1.x context was found, but it is being shutdown.`.

This error seems to happen more often in CI and usually I don't see it locally. Coincident

[2022-07-28 14:34] danhhz commented on #13867
@benesch do you have a link handy for this?

[2022-07-28 14:51] teskje commented on #13916
I tested it with a one-minute expiry timeout and that works, so I'm satisfied!

[2022-07-28 14:51] #13916 closed

[2022-07-28 14:53] pH14 commented on #13379
Yesterday we saw a case of `ADMIN SHUTDOWN` killing `environmentd` through the storage controller: https://materializeinc.slack.com/archives/CL68GT3AT/p1658954774110619

And specifically this `compare_and_append`:

https://github.com/MaterializeInc/materialize/blob/1f9e0ec9a044f06c45a4db06d54f527765db4ff1/src/storage/src/controller.rs#L1391-L1401

On Cockroach, `AdminShutdown` is used in a few pla

[2022-07-28 14:55] brennanvincent commented on #13141
We aren't clear either, that's the problem. Someone needs to spend a few hours thinking hard about this and either write a formal justification for the claim that they always converge to a good state (given enough time between failures), _or_ identify why it actually doesn't.

Example of the general flavor of issue: https://github.com/MaterializeInc/materialize/issues/12800

[2022-07-28 14:57] brennanvincent commented on #13141
IIRC there are also possible states where we hang indefinitely rather than crash looping. I'll describe one here if I can remember or find it.

[2022-07-28 15:01] lluki commented on #13937
Dup of #13867

[2022-07-28 15:01] #13937 closed

[2022-07-28 15:41] frankmcsherry commented on #13840
I just tried this out, and my experience was not (today) as bad as @philip-stoev's.
[code]
This involves three trips through `persist`, the table being sealed at the query time, then `v1`, then `v2`. Tbh, I expected it would take longer. With more views it is worse, but it seems to be about 200ms per trip through `persist`.
[code]

[2022-07-28 16:05] philip-stoev commented on #13867
See also https://github.com/MaterializeInc/materialize/issues/13930

[2022-07-28 17:26] mjibson opened #13941 "cockroach: investigate what happens with connections and DNS"
If there are 3 nodes in a cluster, do we cache the DNS resolution of one and always use it? If so, try to make our connections use a new IP each time they reconnect.

[2022-07-28 17:29] mjibson opened #13942 "testing: down cockroach server at envd startup"
When envd starts up, if the cockroach server is not up or not responding we should do the right thing. Make a test that emulates that (start mz, wait 30 seconds, start cockroach) and see if it does something good.

[2022-07-28 17:58] #13882 closed

[2022-07-28 17:59] #13883 closed

[2022-07-28 20:20] danhhz commented on #13918
Howdy! They're definitely related but I'm not sure either replaces the other. :)

That issue seems to be entirely about frontier propagation. Also included in this one would be various information about resource usage in s3 and cockroachdb that are unavailable though other means.

[2022-07-28 22:12] JLDLaughlin commented on #12470
thank you @jkosh44 !

[2022-07-28 22:13] JLDLaughlin commented on #13307
@frankmcsherry are you still looking at this?

[2022-07-29 11:13] antiguru commented on #12885
I can't reproduce the error anymore, neither the way I was able to repro earlier this week or using the instructions provided by @teskje. @philip-stoev, can you still reproduce the problem?

I checked if I could find the problem in CI in the last few days, but I didn't see it.

[2022-07-29 11:56] philip-stoev commented on #12885
It last happened here https://buildkite.com/materialize/nightlies/builds/1033#0182351f-af15-4a60-a40b-4e3d97315b13, so a couple of days ago.

The following test was running:
[code]

[2022-07-29 14:18] philip-stoev opened #13958 "K8s: initial queries against a source are delayed by 30s due to interaction between computed and storaged"
### What version of Materialize are you using?

f7d1751ab7518c67bac050e68dd0131b2d18711e

### How did you install Materialize?

Docker image

### What is the issue?

If a source is created in a K8s environment, there is a 30-second delay before the source becomes queryable. The log of the storaged shows this gap:

[code]
30 seconds between the time it has started listening and the time a remote cl

[2022-07-29 18:58] danhhz commented on #13861
Also partially fixed by #13953, we think we're still working on at least one more

[2022-07-29 21:41] jkosh44 opened #13970 "coord: Run leadership check in parallel to strict serializable reads"
### Feature request

#13850 added the feature to prevent strict serializablility violations when there are multiple Coordinators. The Coordinator will check and confirm that it's the current leader before committing and returning a strict serializable read. This leadership check can actually happen at any point during the strict serializable read transaction and doesn't need to wait until commit t

[2022-07-29 22:08] #13461 closed

[2022-07-30 16:23] benesch opened #13974 "Load generator source crashed and failed to restart"
### What version of Materialize are you using?

v0.27.0-alpha.8

### How did you install Materialize?

Materialize Cloud

### What is the issue?

I created an auction load generator source:

[code]

I let it run for about 30m. It crashed. I don’t have the logs from the first crash, unfortunately. Kubernetes doesn’t save them and I can’t find them in Honeycomb. Upon restart the `storaged` process e

[2022-07-30 21:31] pinkforest commented on #8669
@petrosagg @elindsey there is only one crate version in crates.io and there is 272 downloads on it

The crate version has not been updated since this was fixed and I assume the one in crates.io would be affected by this as no new versions are published after this was fixed in the associated crate.

However since I am not sure whether the crate is supposed to be used via crates.io I am not sure wha

[2022-07-30 23:50] benesch commented on #13941
I looked into this! Cockroach Cloud puts an ELB in front of the cluster. The hostname that we're given resolves to that ELB rather than any particular node in the cluster. So we're totally good here. On failure, all we need to do is retry connecting to the hostname that we already have and we'll get routed to a healthy node.

[2022-07-30 23:50] #13941 closed

[2022-07-31 00:57] benesch opened #13975 "`persist` consensus and CockroachDB's default GC TTL uses a lot of storage"
I observed an environment in Materialize Cloud with no sources using ~3GB of space in `consensus.consensus` after leaving the environment on for about 20 hours. I suspect this is pileup from the introspection views in the default cluster.

The default garbage collection TTL in Cockroach is 24 hours. I suspect we want to turn that way, way down.

In theory, I think we want a GC TTL of zero seconds,

[2022-07-31 01:22] benesch commented on #13975
Here's the SQL traffic with the three environments we have running in production right now:
<img width="964" alt="image" src="https://user-images.githubusercontent.com/882976/182005389-d1e7c551-6a67-4e95-ba1f-e734e3aca0ce.png">

Works out to 20 inserts/s, 10 selects/s, and a bit under a delete every second.

I'm not sure precisely how many shards this is. But it seems reasonable for having three b

[2022-07-31 01:23] benesch commented on #13975
@danhhz, @mjibson, @alex-hunt-materialize: assuming y'all agree with my above assessment, who should own setting the GC TTL? Persist or cloud?

[2022-07-31 08:17] benesch commented on #13468
Calling this one done. We have #13872 to track the testing efforts now.

[2022-07-31 08:17] #13468 closed

[2022-07-31 08:19] benesch commented on #13735
This should be fixed now, @philip-stoev, if you want to give it a retest!

[2022-07-31 08:26] benesch commented on #12797
I spent a while thinking about this on a flight just now. I prototyped https://github.com/MaterializeInc/materialize/pull/13976, which adds an idempotency token to each write, and stores the last idempotency token for each writer in the state. This _seems_ to be sufficient to allow `persist` to retry indefinitely—I can't come up with the ordering where this falls apart—but I'm probably missing som

[2022-07-31 18:26] danhhz commented on #13975
Great find! My first reaction is that only doing full backups would in fact be desirable for consensus. Given the workload pattern, each Incremental backup would consist of deleting the entirety of the old contents and then putting in the new contents, so e.g. 1 full + 1 incremental would be 3x the data vs if the incremental was just a full backup.

I haven't actually typed it out, but from a scan

[2022-07-31 19:28] mjibson commented on #13970
An idea: instead of always issuing a parallel query, we might be able to save some queries by having coord maintain the upper bound of the timestamp it knows it has ownership of. Only queries that need a timestamp greater than it need to block until it's known they are safe. coord could have a way to register "wait for timestamp X to be certain", and coord should be able to coalesce many of those

[2022-08-01 07:01] philip-stoev commented on #13735
computed seems to be OK now, environmentd is panicking. Will open a separate ticket for that.

[2022-08-01 07:01] #13735 closed

[2022-08-01 07:04] philip-stoev commented on #13379
Straight up killing and restarting the postgres container causes environmentd to panic:

[code]

This is even with the connection pool already in the codebase.

[2022-08-01 07:18] #13721 closed

[2022-08-01 14:07] brennanvincent commented on #8669
We are mainly using the in-tree mz-avro; the one on crates.io is ancient.

I'll publish an updated version in a few days. Thanks for letting me know, @pinkforest .

[2022-08-01 15:00] rjnn commented on #13975
On long running queries, how things work is that the GC ttl sets a bit of a cap on query running time. So you _could_ set it to 1 minute, but then pretty much any query that takes longer than a minute to execute that might touch those rows is likely to fail.

As long as we're comfortable saying that we don't have query access patterns that take a minute that touch these rows, then we can set it to

[2022-08-01 15:25] danhhz commented on #13975
This callsite is 99%+ of our usage by volume:

https://github.com/MaterializeInc/materialize/blob/a6a772e329a3b14b1ea750a2838e25625ac952ab/src/persist/src/postgres.rs#L278

cc @pH14 This 512 MiB thing might be an argument against switching to the head+history style schema we've discussed.

I definitely agree that there's something to be tuned here. Now that we've manage to keep persist from immedi

[2022-08-01 15:37] pH14 commented on #13975
Seems reasonable to try this out! I've seen very similar scan/tombstone behavior before in other systems, so it would not surprise me if CRDB doesn't naturally like our usage pattern. Since the knob can be set per-table, it seems reasonable for persist to handle it, if it does turn out to be fruitful

[2022-08-01 15:39] jkosh44 commented on #13970
I definitely did not make this clear in my feature request, but the current solution and the proposed solution would have one epoch check per batch of user queries. I'll update the feature request to make that clear.

However, I do think that per session every query needs to wait for an epoch check. If I understand your proposal correctly I believe that it still has the following issue:
1. Coord A

[2022-08-02 05:53] mjibson commented on #13974
This doesn't repro locally. A started a local kind cluster and started it, then ran copy tail in a `kubectl exec` psql terminal. In k9s I killed the `environmentd` pod which disconnected, but on reconnect the tail was fine. Then I killed the storaged pod. This caused the tail output to stop producing new rows for some seconds, then the rows resumed exactly as expected.

Unless we have a better way

[2022-08-02 07:55] pinkforest commented on #8669
Great thank you -

Could you do cargo yank for the old version after so nobody is going to build with that ?

Also would you be on board for us to publish informational advisory so e.g. tooling like cargo deny will raise an informational warning about it advising to move to the new published version once the fix is available if someone had compiled a binary previously with it and they were using c

[2022-08-02 09:38] vmarcos opened #14010 "Incorrect assertion in compute logging when recording source instantiation frontiers"
### What version of Materialize are you using?

v0.26.1-dev (dde3adc3e)

### How did you install Materialize?

Built from source

### What is the issue?

The following assertion in the code recording source instantiation frontiers is based on an incorrect assumption:

[code]
The assertion is based on the idea that a source instantiation frontier logging event can only be reported for an active dat

[2022-08-02 10:33] philip-stoev commented on #13133
Related tickets from times past:
- #6738
- #3740

[2022-08-02 12:13] #14010 closed

[2022-08-02 13:26] sploiselle commented on #11958
@JLDLaughlin @chaas The design for this is closer than further to completion. Do you all have resources lined up for the implementation, or is that something that would be helpful if I worked on, as well?

[2022-08-02 16:08] jkosh44 opened #14015 "Test: Add test with multiple concurrent `environmentd`s"
We don't have any tests that make sure Materialize behaves correctly when there are multiple concurrent environmentds running. We should add a test with multiple concurrent environmentds running. Rust tests and mzcompose tests both use the ProcessesOrchestrator which doesn't work with multiple environmentds, so we'd need to use a kubernetes based test.

[2022-08-02 16:25] frankmcsherry opened #14016 "Postgres source could materialize replicated tables directly"
### Feature request

At the moment, a postgres source gets created with a homogenous collection of records containing table identifiers and packed up row payloads. The `CREATE VIEWS` command can create views that unpack them, but they are then inefficient to read (re-reading, filtering, and decoding the data for each use). It would seem that common users would then materialize these views back to

[2022-08-02 16:25] benesch commented on #11958
I think it'll depend on how extensive the required changes are, @sploiselle! I was hoping a good chunk of the work would be documenting the semantics of what we currently have rather than code changes. But perhaps that hope is naive.

[2022-08-02 16:27] benesch commented on #13974
Let me give a repro a shot. Cockroach started applying a maintenance update at the exact moment this crashed, so I'm going to try restarting PostgreSQL locally and seeing if that causes the bug.

[2022-08-02 16:27] sploiselle commented on #11958
@benesch A lot of the work is there, but e.g. providing PG-like transactional semantics + supporting parameters requires more code

[2022-08-02 16:47] benesch commented on #13663
Completed in #13571, #13706, and #13848.

[2022-08-02 16:47] #13663 closed

[2022-08-02 16:58] benesch commented on #13974
Ok, here's something interesting:

[code]

I'm going to try running these steps again but waiting 10m to kill storaged. That might expose the crash loop I was seeing in cloud.

[2022-08-02 17:01] mjibson commented on #13974
I did observe the waiting for same time thing. I had assumed it was just storaged startup time, but it did feel longer than I expected. https://github.com/MaterializeInc/materialize/blob/9850d790a6e9f694bc6c04097eef1bc65a1f4752/src/storage/src/source/generator.rs#L84 is supposed to handle this, but it assumes the offset is set to the number of `Finalized` messages it sent back. Is that not the cas

[2022-08-02 17:34] benesch commented on #13974
I don't know! But I assume not. I just did an experiment where I waited 18m between starting and killing `storaged`. Didn't cause the crash I saw in cloud, but my `SELECT` against the source is now quite hung. `EXPLAIN TIMESTAMP` shows an 18m skew between the current time and the source upper.

[2022-08-02 17:38] mjibson commented on #13974
I'll look into this.

[2022-08-02 17:45] mjibson opened #14018 "stash: postgres transact can take ~1s"
The `transact` function called when changing the adapter catalog can be quite slow. The last time I benchmarked this it was ~25 queries. Now that we've fully switched to cockroach, we should benchmark against that and try to make it overall faster: probably by reducing query count and maybe optimizing existing queries.

Also note above that `allocate_id` calls transact 3 times! We should try to re

[2022-08-02 17:57] mjibson opened #14019 "environmentd: `show views` sitting in pending for half a second"
`SHOW VIEWS` is taking half a second for 2 views over a load generator source (with a 1s tick interval so not loaded at all):

[code]

Seems like this should be faster. But seems like the upper is still regularly behind the timestamp. Maybe this is just SS biting us?

[code]

![ss_000](https://user-images.githubusercontent.com/41181/182441759-8e46ef57-ca9d-4360-8d73-1549cd169e52.png)

[2022-08-02 18:03] mjibson commented on #14018
Another query with `transact` being called many times, each time taking around 3s:

[code]

This just keeps going:

![ss_001](https://user-images.githubusercontent.com/41181/182443062-1edcc456-46bb-4feb-81c3-53e1ee3bc2de.png)

[2022-08-02 18:04] #13678 closed

[2022-08-02 18:30] jkosh44 commented on #14019
I think this is probably SS biting us. Is it faster in Serializable? Hopefully https://github.com/MaterializeInc/materialize/pull/13967 will fix this.

[2022-08-02 18:31] ggevay commented on #7825
Relevant (TPCH Q01):
https://materializeinc.slack.com/archives/C02PPB50ZHS/p1659456085111329

[2022-08-02 19:04] jpepin commented on #13911
@arusahni Are we good to close this?

[2022-08-02 19:12] arusahni commented on #13911
@jpepin we don't merge the cloud release PRs, so I believe so.

[2022-08-02 19:33] #13911 closed

[2022-08-02 20:34] mjibson commented on #13974
Adding some debugs:

[code]

After letting the counter load gen run into the 400s at a 1 second interval prints:

[code]

And running a COPY TAIL of that only takes a few seconds after starting up to start producing tail results again. This is not obviously the generator's problem. Doing this a few times, though, sometimes was quite slow after startup. I noticed this in the logs:

[code]

Seems th

[2022-08-02 20:42] benesch commented on #12857
Now that the `persist` connection pool is in, this is complete! h/t to @uce for calling this out. The one incomplete task that @guswynn mentioned above about `resume_upper` is tracked by https://github.com/MaterializeInc/materialize/issues/13534.

[2022-08-02 20:42] #12857 closed

[2022-08-02 21:04] jkosh44 opened #14024 "Reading from introspection sources can cause a panic"
### What version of Materialize are you using?

main

### How did you install Materialize?

Built from source

### What is the issue?

Certain introspection sources can cause a panic. Specifically to reproduce run the following:

[code]

The error is because we try and update the read policy on a compute collection that we've never seen before. The issue only happens with newly created clusters an

[2022-08-02 22:17] #14024 closed

[2022-08-03 05:52] #13658 closed

[2022-08-03 08:50] philip-stoev commented on #13133
Tickets about loss of interactivity due to issues in the dataflow layer. I guess those also count towards improved interactive query times:
- #8853
- #7577
- #7575

[2022-08-03 13:11] sjwiesman commented on #14016
The more I test with larger postgres instances, the more this feels like a hard requirement. For example, tpch scale 10 is 10GB but the regions table only has 5 **rows**. Having to process the full dataset just to work with that table is incredibly inefficient, and in practice requires users to materialize all tables into persist before using them. Ideally, this should happen directly from storage

[2022-08-03 13:12] sjwiesman commented on #14016
Also linking this issue @frankmcsherry indicated may be related. https://github.com/MaterializeInc/materialize/issues/6591

[2022-08-03 13:35] frankmcsherry commented on #14016
One sorta-resolution of that issue could be that in the dataflow implementation of postgres sources, it can hotwire in a bespoke use of timely's `partition` operator. That might be easier than solving the general problem of #6591.

[2022-08-03 14:35] JLDLaughlin commented on #11958
Hm. @sploiselle I don't think we have anyone that can pick that up at the moment. If you have time and are interested, we'd love to have you! If not, would you mind writing up what we'd need to change and I can figure out when we can get it prioritized.

[2022-08-03 15:01] sploiselle commented on #11958
@JLDLaughlin great--I'll get a draft of the changes up for review, and then can carry out the implementation. I'll have a clearer estimate of the timing based on the feedback to the proposal.

[2022-08-03 15:37] philip-stoev commented on #13749
I am adding the C-Triage tag to this bug in order for it to enter back into the triage system. There has been zero movement (tags, priority, assigment, anything) on this ticket for 14 days.

[2022-08-03 17:04] vmarcos opened #14037 "Recurrent CI issues with postgres-cdc-tests due to SSL errors"
### What version of Materialize are you using?

v0.26.1-dev (ca392a37f)

### How did you install Materialize?

Built from source

### What is the issue?

Every so often, the Postgres CDC Tests fail in CI due to SSL issues. The relevant error is reported during a source creation in `pg-cdc-ssl.td`:

[code]

The error has been recurrent in CI and temporarily fixed by PRs that change files or image v

[2022-08-03 17:36] mjibson opened #14038 "adapter: extended protocol transaction handling is wrong"
Our extended protocol should adopt what postgres recently did: optionally commit statements it needs to before a Sync. #13996 has a change that allows reads to be done transactionally before the Sync, but DDLs are executed outside of that transaction, so we're in a kinda weird state.

https://www.postgresql.org/message-id/flat/17434-d9f7a064ce2a88a3%40postgresql.org
https://git.postgresql.org/gitw

[2022-08-03 21:00] danhhz opened #14043 "persist: unexpected missing blob"
### What version of Materialize are you using?

38bb6db06bba2d9f5174cdcd2b058b819105da72

### How did you install Materialize?

Built from source

### What is the issue?

The following seems to fairly reliably reproduce an unexpectedly missing blob on main:

[code]

When it happens, the following shows up in the logs and we process no further maelstrom requests

[code]

My initial suspicion was th

[2022-08-03 21:47] bkirwi commented on #13682
I spent some time poking at this one this afternoon. I believe this is the relevant search path code: https://github.com/MaterializeInc/materialize/blob/6d7b6230100a397c6c88ad3744ff1365a5df04f0/src/adapter/src/catalog.rs#L1005-L1036

The resulting search path is: the temp schema, mz catalog, pg catalog, everything else. The builtin `mz_objects` is in the mz catalog, and our new `mz_objects` is in

[2022-08-03 22:20] frankmcsherry opened #14052 "Introduce "Session Timelines""
### Feature request

Materialize currently assigns timestamp by way of a `TimestampOracle` associated with what I'll call a "Collection Timeline" (CT). Each collection is associated with at most one CT, and potentially (afaict) no CT. The timestamp oracle is used if your query can identify a CT, we are using Strict Serializability, and you have not indicated an `AS OF`.

For the moment, there is e

[2022-08-03 22:48] JLDLaughlin opened #14053 "coordinator panic due to an invalid AntichainRed oldtime"
### Feature request

A new panic was found in the canary Cloud deployment for @sjwiesman :

[code]

From @frankmcsherry's perspective, this is due to a newly added `assert`. It looks like there is an invalid `oldtime` in a frontier `AntichainRef,` and that we think we have a read hold on a closed collection. Both things seem wrong!

I believe this will block successful Cloud deployments until 1) t

[2022-08-03 22:49] JLDLaughlin commented on #14053
tagging in the adapter team: @jkosh44 , @mjibson , and @frankmcsherry .

tagging in cloud team rep: @antifuchs .

[2022-08-04 01:12] wangandi opened #14054 "Optimization: It is difficult to have circular joins be implemented with delta query"
The basic intuition for how to make a multi-input equijoin be implemented as a delta join is to think of the join as a graph where the inputs are vertices and the join conditions are edges. For each edge in the graph, you need to create an index on each input connected by the graph indexed by the columns or expressions in the join condition.
<img width="914" alt="Screen Shot 2022-08-03 at 8 29 29

[2022-08-04 07:48] lluki opened #14057 "Recreate views over introspection source for each replica"

[2022-08-04 10:27] ggevay opened #14059 "Differential join applies de-permutation before the first join"
### What version of Materialize are you using?

v0.26.1-dev (3a15e2389)

### How did you install Materialize?

Built from source

### What is the issue?

There are some issues around the `initial_closure` of the `LinearJoinPlan`:
1. A comment in `render_join` says "In the current code this should always be `None`". This doesn't seem to be true anymore. In fact, it's always `Some` if there is a `so

[2022-08-04 11:28] philip-stoev opened #14060 "performance: spikes in latency (>0.5-1s) for simple , non-concurrent SELECT queries"
### What version of Materialize are you using?

3dbcaada4147db206a46a381b88af3d52cf1834a

### How did you install Materialize?

Docker image

### What is the issue?

SLT tests are about 3x slower when run in Platform v.s. the single-binary Mz. There are various sources of delays: the absence of a default index, slower bootstrap, slower DDLs and INSERTs and generalized slower SELECT performance, bu

[2022-08-04 12:00] frankmcsherry opened #14061 "`Threshold` elision"
### Elevator pitch

#### What does the transformation do?
[code]

The `Threshold` operator can be removed when we can determine that we are subtracting a restriction of some relation from itself. This happens above, but also has happened for a prospect where they perform a `TopK` (producing a restriction of the input) and want to form the collection of input things that are not in the top k.

####

[2022-08-04 12:17] philip-stoev opened #14062 "cannot append updates: InvalidBounds { lower: Antichain { elements: [1659591912362] }, upper: Antichain { elements: [1659591912314] } }"
### What version of Materialize are you using?

environmentd v0.26.1-dev (d23b1a035)

### How did you install Materialize?

Docker image

### What is the issue?

Seen in CI on a test that has historically been quite stable. The test kills and restarts `storaged`:

[code]

https://buildkite.com/materialize/tests/builds/38938#0182675f-f59e-4cb2-a451-aa98cc6046f4

### Relevant log output

_No respons

[2022-08-04 12:22] joacoc opened #14063 "Make `SECRETS` available in schemas outside the default schema"
### What version of Materialize are you using?

v0.27.0-alpha.10

### How did you install Materialize?

Materialize Cloud

### What is the issue?

Secrets only work on the `default` schema.

[code]

It would also affect a source creation:

[code]

### Relevant log output

_No response_

[2022-08-04 12:41] joacoc commented on #14063
Closing.
Reason: Bad informed issue. Secrets in other schemas work.

In Psql/PG, after setting schema, if no schema is defined, it would throw:
`ERROR:  no schema has been selected to create in`
But by default will be created in default. No issue but just an experience.

[2022-08-04 12:41] #14063 closed

[2022-08-04 12:47] sploiselle opened #14066 "sql: support PG Simple Query transactional semantics with HTTP API"
### Feature request

The `api/sql` endpoint aims to handle requests as if they were submitted via the [Simple Query][simple-query] flow of the PostgreSQL protocol. However, the code as-is does not currently support the same transactional semantics--namely, the transaction continues returning values after failed statements in the transaction.

For example:

[code]

should return an error as its fin

[2022-08-04 12:53] sploiselle opened #14067 "sql: support parameters with SQL HTTP API"
### Feature request

We aim to support parameterized queries with the `api/sql` HTTP endpoint.

We can support this by supporting a new `parameters` key in the request's body, which takes an array of values of the form:

[code]

In the `simple_execute` method, we can then generate the appropriate values, and bind them to a portal. We currently use the empty portal for these requests, but can inste

[2022-08-04 12:59] sploiselle opened #14068 "sql: support WebSockets via `api/sql`"
### Feature request

@necaris drafted #11833 to demo how we might support a WebSocket-based API to support e.g. `TAIL`. This issue just tracks that this work ought to be done.

[2022-08-04 13:01] necaris commented on #14068
Also chiming in to say I would love to help with this!

Sent from my iPhone

[2022-08-04 13:05] jkosh44 commented on #13682
In general we try and mimic the behavior that PostgreSQL has. They don't have sources but I think using views is a good analogy.
[code]

So I think your suggestion of `NotASource` is a good one because that seems to be the same behavior as Postgres. Just make sure that you can use the source if you prepend the schema to the source name.

We also have a similar error for dropping things:
[code]
So

[2022-08-04 13:21] morsapaes commented on #9374
Was just re-testing the integration and double checked that both this and #9375 have been fixed in #10019. Closing the issue(s)!

[2022-08-04 13:21] #9374 closed

[2022-08-04 13:22] #9375 closed

[2022-08-04 13:28] aalexandrov commented on #14061
Redundant join might have logic that we can reuse for the restriction test.

[2022-08-04 13:29] sploiselle opened #14069 "sql: more meaningful value for `SimpleResult::Ok` from `api/sql`"
### Feature request

Currently `SimpleResult::Ok` gets serialized as `null`, which isn't ideal UX. Instead, this should generate a JSON object like:

[code]

where `<tag>` is the equivalent to the response a client would receive from the command line, e.g. `CREATE VIEW`.

[2022-08-04 13:40] sploiselle opened #14070 "sql: firm up `simple_execute`'s `ExecuteResponse` handling"
### Feature request

As mentioned in #11958:

This could be made more secure by e.g. disallowing certain types of statements to execute in the first place, rather than erroring only after they execute.

[2022-08-04 13:44] sploiselle opened #14071 "sql: tidy up `simple_execute`'s Datum -> JSONB mapping"
### Feature request

Not sure that this requires any changes, but using this to track the work item.

[2022-08-04 14:01] aljoscha commented on #14062
I'm medium sure that this is caused by this change: https://github.com/MaterializeInc/materialize/pull/14003. cc @frankmcsherry & @jkosh44

I'm more sure that this is ultimately caused by a footgun in the persist `WriteHandle` API: The code in question [1] uses `fetch_recent_upper()`, assuming that this will update the internal `upper` field of the `WriteHandle`. Then, the code uses `upper()` to s

[2022-08-04 14:03] frankmcsherry commented on #14062
O I C

[2022-08-04 14:28] frankmcsherry commented on #14062
This is easy to fix in the code too, if there is some reason not to update `WriteHandle`. But I agree that fixing the footgun is a great thing to do.

[2022-08-04 14:35] #13935 closed

[2022-08-04 14:36] danhhz commented on #14062
wow no kidding, it sure doesn't. fetch_recent_upper is meant to update self.upper, too

[2022-08-04 14:38] jkosh44 commented on #11631
With the merge of #13461, this is now complete.

[2022-08-04 14:38] #11631 closed

[2022-08-04 14:50] danhhz commented on #14062
fix is up in https://github.com/MaterializeInc/materialize/pull/14075

looks like we even had a unit test for the bad behavior 😬. this all seems to have gotten missed when we pulled `append` out as a sugar method on top of `compare_and_append` (`append` was originally also a state command)

[2022-08-04 15:08] JLDLaughlin commented on #13974
@mjibson would you like the compute team to take a look at this? (cc @chaas)

[2022-08-04 15:11] JLDLaughlin commented on #13927
it's a cosmetic issue in the query plan!

[2022-08-04 15:12] JLDLaughlin commented on #13906
couldn't reproduce, but happened twice. suspect that when `storaged` runs out of disk space we're not handling it gracefully.

[2022-08-04 15:15] aalexandrov commented on #13927
Downgrading this to `C-refactoring`, as this does not result in wrong plans. We should work on that, but it is not a "stop and do this immediately" kind of an issue.

[2022-08-04 15:15] JLDLaughlin commented on #13879
If something in sinks is blocking compaction, that's a bug. otherwise, this might just not be performant.

[2022-08-04 15:16] JLDLaughlin commented on #13867
another instance of a panic on shutdown.

[2022-08-04 15:17] JLDLaughlin commented on #13867
we _think_ this might have been fixed, please reopen if you see this again!

[2022-08-04 15:17] #13867 closed

[2022-08-04 15:21] JLDLaughlin commented on #13749
cc @uce

[2022-08-04 15:22] JLDLaughlin commented on #14037
yesterday this part of the test was disabled by @danhhz.

[2022-08-04 15:22] JLDLaughlin commented on #14037
cc @uce

[2022-08-04 15:29] philip-stoev commented on #13890
Yes, the last command line option value wins. This is how rust command-line option parsing works with `clap`. Is that OK with you? Or you prefer some other way?

[2022-08-04 15:42] philip-stoev commented on #13930
The hope is that this was fixed by recent tokio-related refactoring. Closing for the time being util it happens again.

[2022-08-04 16:10] antiguru commented on #14060
I'll take a look into this; judging from the description this is not a blocker for other work so I'll scope it as a P2.

[2022-08-04 16:12] antiguru commented on #14059
This is only a bug in terms of a missed opportunity to run a better plan than we currently do. I'll scope it as a P2, leaning towards P3 unless it blocks other items.

[2022-08-04 16:13] antiguru commented on #14059
cc @brennanvincent for awareness.

[2022-08-04 16:22] brennanvincent commented on #14059
Good catch @ggevay

[2022-08-04 16:43] jkosh44 commented on #13890
Ahh if that's how rust does it then I suppose it's fine. I just found it a bit confusing on how to properly override the `materialize-url`.

[2022-08-04 16:43] #13890 closed

[2022-08-04 19:14] bkirwi commented on #13682
Opened a PR for the error message improvement.

The core issue remains -- what to do about the search path, if anything. Looking at the [postgres docs](https://www.postgresql.org/docs/current/ddl-schemas.html#DDL-SCHEMAS-PRIV) it seems like our current behaviour is closest to their behaviour... which is to say, they put the builtin table at the beginning of the search path unless specified otherwi

[2022-08-04 19:35] chaas commented on #13500
Updating this ticket to reflect https://github.com/MaterializeInc/materialize/pull/14045#issuecomment-1205606981.
New AI: change docs to specify PEM format, but leave syntax the same.

[2022-08-04 19:47] frankmcsherry commented on #14053
Some more context: these asserts mean that the coordinator's belief about what data it has access to at which times is not supported by the controller's view of the same. The coordinator thinks it can ask questions at a certain time, and the controller says "nope; we got rid of that time". In this specific case, the controller has a frontier of `[]` meaning "the collection has been dropped".

Ther

[2022-08-04 19:57] brennanvincent opened #14084 "Restore the ability to retract errored upsert records in Platform"
### What version of Materialize are you using?

platform

### How did you install Materialize?

Materialize Cloud

### What is the issue?

After #14055 lands, we will have the ability to run upsert sources in Platform, but not to retract errors that are re-ingested from the persisted state into the upsert hashmap.

In order to do so, we will need to change the persisted error type to something tha

[2022-08-04 19:58] brennanvincent commented on #14084
See further discussion in Slack beginning [here](https://materializeinc.slack.com/archives/C01CFKM1QRF/p1659484880771939?thread_ts=1659484880.771939).

[2022-08-04 20:04] umanwizard opened #14086 "Determine/document memory bound guarantees for consolidation in Persist."
### Feature request

See discussion in Slack beginning [here](https://materializeinc.slack.com/archives/C01CFKM1QRF/p1659063332027139).

In order to access the consolidated state of a persist shard at a given timestamp, consolidation is necessary. However, Persist does not guarantee anything about "how uncompacted" nor "how unconsolidated" data will be, nor anything about the order updates will be

[2022-08-04 20:15] brennanvincent commented on #8669
Sure, but please point out in the advisory that there is only UB in the case where a user provides a struct whose `Read` impl inspects its `read_exact` buffer before writing into it. It's indeed possible to use the trait unsoundly, but only by writing a highly unidiomatic `Read` impl.

[2022-08-04 20:28] pinkforest commented on #8669
Great - Thank you for the input - enjoy the weekend :purple_heart:

[2022-08-04 21:55] #12437 closed

[2022-08-05 08:38] antiguru commented on #14060
Running the test with the wall clock ticking down my neck, it's obvious that we have a hiccup exactly at 1s intervals. Adding debug logging to `mz_persist_client` indicates that the hiccup occurs synchronized with persist's `downgrade_sice` and `gc_and_truncate`, as indicated by the following excerpt:

[code]

Note the call to `downgrade_sice` which is more than 100ms after the last call. This doe

[2022-08-05 08:40] antiguru commented on #14060
@aljoscha Can you get someone to look into this to confirm or falsify my assumption that the delay is related to persist? Thank you!

One additional note: The hiccups are not caused by the actual queries, and adding an index doesn't change the behavior. Every time I run the test, a different set of queries show up with the large delay. This makes me believe it's likely a problem outside compute.

[2022-08-05 11:39] philip-stoev opened #14098 "sinks stop after Redpanda restart: Producer attempted a transactional operation in an invalid state"
### What version of Materialize are you using?

9457d33a4dbae7770260a37489925d868fd869bc

### How did you install Materialize?

Docker image

### What is the issue?

If Redpanda is restarted, the sinks stop producing stuff. The errors in the log can be seen below.

To reproduce:

1. Clone `git@github.com:philip-stoev/materialize.git`, branch `checks-restart-redpanda`
2. Run
[code]
3. It will hang

[2022-08-05 11:42] aljoscha commented on #14098
Thanks! seems we need to tackle this after @cjubb39 is done moving Sinks over to storage.

[2022-08-05 11:44] aljoscha commented on #13958
Thanks! I assigned P2

[2022-08-05 11:49] uce commented on #14098
@aljoscha I moved this to P2 since we will only get to it after the sinks move lands (I've also linked it in the respective epic to not loose track).

[2022-08-05 11:58] aljoscha commented on #14098
many thanks! :bow:

[2022-08-05 11:59] aljoscha commented on #14060
I asked @danhhz and/or @pH14 to quickly check if this is a persist problem. Based on that we can decide what to do.

[2022-08-05 12:01] aljoscha commented on #13749
Sorry for the slow response! @petrosagg Could you please take a look at this once you're back and have time. You should be the person that is most familiar with a) Postgres and b) the restart logic.

[2022-08-05 16:41] #13887 closed

[2022-08-05 16:43] vmarcos commented on #7174
We have observed in connection with PR #14031 a few more naming inconsistencies that could be considered as part of this issue:

- `mz_materialization_dependencies` has a column termed `dataflow` that refers to the ID of the index or materialized view that is backed by a given dataflow. So technically, the column name might not be correct, since it does not match the meaning for a dataflow ID expr

[2022-08-05 16:47] vmarcos opened #14102 "Input -> output latency introspection relations only show `persist` source dependencies, failing to capture index dependencies"
### What version of Materialize are you using?

v0.26.1-dev (8dbe5bd60)

### How did you install Materialize?

Built from source

### What is the issue?

Recently, introspection information was deemed necessary to observe the input &rarr; output latency for dataflow updates (see #13885 and #13887). The following catalog relations were added:

- `mz_worker_materialization_delays`, capturing a per-w

[2022-08-05 18:20] chaas commented on #13500
Docs change is merged

[2022-08-05 18:20] #13500 closed

[2022-08-05 20:16] nmeagan11 opened #14105 "Bring Back S3 Sources in Platform"
### Feature request

Materialize Platform only supports Kafka and Postgres sources at present. We want to bring back S3 sources which were supported in the binary.

Historical Issues to Consider:

- [ ] https://github.com/MaterializeInc/materialize/issues/4914
- [ ] https://github.com/MaterializeInc/materialize/issues/12431
- [ ] https://github.com/MaterializeInc/materialize/issues/12232
- [ ] htt

[2022-08-05 20:34] nmeagan11 opened #14106 "Bring Back Kinesis Sources in Platform"
### Feature request

Materialize Platform only supports Kafka and Postgres sources at present. We want to bring back Kinesis sources which were supported in the binary.

Historical Issues to Consider:

- [ ] https://github.com/MaterializeInc/materialize/issues/12304
- [ ] https://github.com/MaterializeInc/materialize/issues/8776
- [ ] Determine what to do about re-sharding (see https://github.com/

[2022-08-05 20:43] jordanlewis commented on #13975
👋  I wanted to call to your attention the ability to run `EXPLAIN ANALYZE (VERBOSE)` on a query to see the amount of MVCC garbage a query encounters. That might help you further confirm hypotheses like the one you were looking at in the flamegraph.

[2022-08-07 01:41] doki23 opened #14107 "dataflow refered in guide-testing.md doesn't exist"
### Documentation request

Section `What kind of tests should I write?` of guide-testing.md refers `dataflow` package which does not exist. It may be out-of-date.

### Related work

_No response_

[2022-08-07 17:10] heeringa commented on #12855
@nmeagan11 can you coordinate with @bobbyiliev to test the above formats in Materialize Cloud and document (or link the results here)?   We need a way to track these with confidence as we move into Previews.

Can we also create or link an issue for (1) determining whether we need to persist schemas or not and also for (2) the question of determining how to deal with `FROM SCHEMA FILE` in the futur

[2022-08-08 06:26] aljoscha commented on #2186
Whoever finds this in the future: this is decidedly more complicated than it looks. See Ben's excellent summary on an attempted PR: https://github.com/MaterializeInc/materialize/pull/14022#issuecomment-1206856063

[2022-08-08 09:12] aljoscha commented on #13335
@sjwiesman Any update? :sweat_smile:

[2022-08-08 10:57] antiguru opened #14122 "Alter Persist's row and error representation to avoid unused memory"
The persist API represents rows and errors in memory in a multiplexed format using `Result`. This causes to bloat the memory required for rows significantly due to the size mismatch of the row and error variants.

Rows are encoded as a 32-byte `SmallVec` (8 byte variant, 24 byte inline storage). The `DataflowError` type has a size of 96 bytes. Multiplexing both in an enum requires 104 bytes (8 byt

[2022-08-08 11:04] aljoscha commented on #14122
cc @danhhz

[2022-08-08 11:39] uce commented on #12855
@heeringa Updated the original issue description to reflect the open tasks here.

[2022-08-08 11:59] uce commented on #13125
We now have defaults in place. I'm moving the priority down to P2.

[2022-08-08 12:09] pH14 commented on #14043
Hmm I tried running this locally, and it's a bummer that the Maelstrom test can reproduce the bug, but doesn't signal any errors when it runs. I wonder if we want to change the behavior of https://github.com/MaterializeInc/materialize/blob/19c9736241017477be9d996d45d44e6a7b8a8e07/src/persist-client/src/read.rs#L843-L865 and panic if we fail to read a batch part from a linearizable blob store

[2022-08-08 12:52] petrosagg commented on #14016
It would be amazing to demux the source during ingestion!

This issue has been around since the original implementation of the postgres source (in form of the issue @sjwiesman linked). Apart from figuring out how to render the dataflow, which I think is much easier today that we don't have the concept of source instances, there is also an SQL interface error.

Back then we were considering a onesh

[2022-08-08 12:52] sjwiesman commented on #13335
Whoops sorry. I haven’t run into any issues in weeks. This is safe to close

[2022-08-08 12:52] #13335 closed

[2022-08-08 13:24] sjwiesman commented on #14016
CREATE SOURCES is probably the wrong direction. There should be a single source object in the catalog for ddl operations such as rescaling the source and dropping. I believe the new MATERIALIZED VIEW catalog object makes everything simpler. MATERIALIZED VIEWS CONTAINS the actual data users select, indicating the data is constantly changing, is accessible from any cluster, and has the performance c

[2022-08-08 13:54] sploiselle commented on #12865
We ended up using #13849 to merge the code for sharded reads from persist. However, the code is currently unused.

Dan + Aljoscha realized there is an issue with how we handle distributing `SeqNo`s alongside batches; namely after distributing the `SeqNo` via `ReaderEnrichedHollowBatch`, the `SeqNo` could get garbage collected, despite the fact that the data's still needed.

The high-level approach

[2022-08-08 14:10] uce commented on #11491
We can probably pick up the remaining testing tasks after the upsert source work has been implemented.

[2022-08-08 14:42] jkosh44 opened #14124 "TAIL and SINK can miss writes due to conccurrent DDL"
### What version of Materialize are you using?

`main`

### How did you install Materialize?

Built from source

### What is the issue?

Group commit causes writes to be asynchronous. If a table is deleted while a write is pending in group commit, then we just respond to the client with an OK. See below for more details:
https://github.com/MaterializeInc/materialize/blob/19c9736241017477be9d996d45

[2022-08-08 14:52] bkirwi opened #14125 "Support logging sources in our builtin migration infrastructure"
### Feature request

Our builtin migraiton tooling [does not currently support logging sources](https://github.com/MaterializeInc/materialize/blob/d23b1a035d040ba1707b033e48640a763e1d96cb/src/adapter/src/catalog.rs#L2229-L2232).

This is a known TODO, but it's a bit more important than we realized. When we ran into this limitation as part of #14022, we believed that we should be able to work aroun

[2022-08-08 14:53] bkirwi commented on #14125
@jkosh44 helped with a lot of the investigation here... any other detail to add on this one? (Feel free to edit!)

[2022-08-08 15:18] pH14 commented on #14060
@aljoscha this seems to be tied to the current `advance_local_inputs` behavior, which writes an empty batch + calls `downgrade_since` once a second on each table. The shorter we can make the roundtrip through persist for these advancements, the shorter the spike would be. I don't think I'd call this a problem in persist, the behavior is more an artifact of how the controllers and persist are curre

[2022-08-08 15:19] OscarTHZhang commented on #13929
Hi, I can take a look at this task.

[2022-08-08 15:24] lluki commented on #12576
Some ideas how we could reproduce the issues:

1. Write an (untargeted) stress test: Have x processes connect via SQL interface and have them: create a replica, create materialized view, select from a it, then drop replicas.
2. Alternatively, we could instrument one of the computed's to delay the processing of an incoming command (ie. a sleep after the GRPC receive or so). Then activate the sleep

[2022-08-08 15:38] morsapaes commented on #14016
Resurfacing the original discussion around `CREATE SOURCES`, for context: https://github.com/MaterializeInc/materialize/issues/5370#issuecomment-773569202. I'm +1 on sticking with `CREATE SOURCE` and creating multiple materialized views for the specified tables. The only thing I'd suggest on top of @sjwiesman's proposal is to use `TABLES` instead of `VIEWS`:

[code]

Something that isn't clear to

[2022-08-08 15:44] nmeagan11 commented on #12855
@heeringa, please see the [linked devex issue](https://github.com/MaterializeInc/developer-experience/issues/166).

[2022-08-08 15:46] ggevay commented on #13929
That would be great, thx!

[2022-08-08 15:47] nmeagan11 commented on #12855
@benesch, can you confirm the status of `FROM SCHEMA FILE`? Was it removed? @uce, @aljoscha, and I weren't sure!

[2022-08-08 15:49] sjwiesman commented on #14016
@morsapaes that's a great point. What about something like:

[code]

[2022-08-08 15:53] bkirwi commented on #13682
Alright, the error message fix has landed: the user will now get an "unexpected type" error instead of the incorrect "does not exist."

I propose to do nothing about the search path, since postgres pretty clearly documents that system tables shadow user tables, and IIUC we follow postgres on this sort of thing. However, I do plan wrap some tests around this behaviour to more clearly document it /

[2022-08-08 16:12] jkosh44 commented on #14125
The biggest question for me was how to drop and recreate an introspection source in an already running COMPUTE cluster? I don't think we have the APIs needed for this.

It might also be the case that we need to special case introspection indexes, STORAGE objects, and views, though I'm not sure.

[2022-08-08 16:34] aljoscha commented on #14060
Hmm yes, I once referred to the retry pattern as "cas ping-ponging". :see_no_evil:

[2022-08-08 16:46] aljoscha commented on #14060
I'm still wondering why that spike shows up in the queries: both advancing and downgrading happen in separate tasks right now, so they should not block coordinator work. Hypothesis: with `SET transaction_isolation = 'strict serializable'
` we have to wait for those downgrade calls to go through. So with `SET transaction_isolation = 'serializable'` we might see an improvement.

I'm calling it a day

[2022-08-08 16:59] jkosh44 opened #14126 "Support renaming builtin objects"
### Feature request

There have been a couple of times that we've wanted to rename a builtin object, for example: https://github.com/MaterializeInc/materialize/issues/2186. However our current migration framework does not support a rename like this. The mapping of object name to global ID only exists within the Coordinator and Catalog and therefore it should be possible to perform these renames wi

[2022-08-08 17:10] chaas commented on #11714
Hi @andrioni . I have a few clarifying questions
1) Since you mentioned dates, I wanted to confirm the needed function is the numerical `trunc` (https://www.postgresql.org/docs/current/functions-math.html) and not `date_trunc` (https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC).
2) Assuming `trunc`, do we need support for the two-argument function? Implementi

[2022-08-08 18:06] bkirwi commented on #14125
Dropping a link to the related issue: https://github.com/MaterializeInc/materialize/issues/14126

[2022-08-08 18:37] guswynn commented on #12977
thanks @JLDLaughlin !

[2022-08-08 19:46] nmeagan11 commented on #14016
FYI @ggnall as our surfaces PM

[2022-08-08 22:32] brennanvincent opened #14133 "Implement `avro_decode`"
### Feature request

We want a function `avro_decode(data, reader_schema, writer_schema)` that allows the user to decode arbitrary avro values in the data.

This is weird/hard for a few reasons:

* The `reader_schema` determines the shape of the output. One possible solution is to just always emit a record type which has the proper fields (determined by the reader schema). But then the user is dup

[2022-08-08 22:48] brennanvincent opened #14134 "Allow avro decoding to (optionally) continue on uninterpretable data."
### Feature request

Imagine a writer schema that contains a union of several types. It's reasonable to want to create a view that selects elements where a particular one of the types is inhabited; the way this would be expressed would be by using a reader schema that replaces the union with the concrete type in question.

The avro spec states that this should succeed in schema resolution, but sig

[2022-08-08 22:56] brennanvincent commented on #14107
Thanks, you're correct. Uploaded a PR to change the reference.

[2022-08-08 23:12] #14107 closed

[2022-08-08 23:38] mjibson commented on #13974
Restarting cockroach after creating the source spits out a bunch of `[1menvironmentd:[0m [2m2022-08-08T23:36:37.849813Z[0m [33m WARN[0m [2mmz_storage::controller::persist_write_handles[0m[2m:[0m Retrying indeterminate table write: Indeterminate { inner: error connecting to server: Connection refused (os error 111)`, but then resumes normally. It's possible this got fixed or is triggered

[2022-08-09 01:50] sploiselle opened #14136 "adapter+storage: storage collections initialized w/ read frontiers in advance of read holds"
### What version of Materialize are you using?

 v0.26.1-dev (4604a289e)

### How did you install Materialize?

Built from source

### What is the issue?

The following command:

[code]

generates the following log:

[code]

The source which generates this error says:

This seems like it is either is an acceptable situation and the comment/warning level should be amended, or this should be investi

[2022-08-09 09:16] philip-stoev commented on #14061
Item No #1. The optimization does not kick in for the following case:

[code]

It does kick in for `f2=5` . For `f1=5`, the plan contains a `Map 5` , could this be the reason?

[2022-08-09 10:27] uce opened #14139 "[Epic] perf: TPC-H optimization and dataflow"
Run TPC-H queries with eye towards optimization and dataflow performance.

### Description

* Optimization
  * Plan quality (analytical assessment)
* Dataflow
  * Execution: one-off, materialized view, materialized view with index
  * How does varying the cluster size impact query performance?

### Steps

- [ ] dataflow: Create playbook for gathering measurements
- [ ] optimization: Identify subop

[2022-08-09 10:37] philip-stoev opened #14141 "Stack exhaustion in mz_transform::Optimizer::optimize with nested unions"
### What version of Materialize are you using?

environmentd v0.26.1-dev (4604a289e) listening...

### How did you install Materialize?

Docker image

### What is the issue?

Running the query below results in stack exhaustion. The stack is 56K frames deep. The query is compicated, but is it really that complicated?

[code]

### Relevant log output

[code]

[2022-08-09 10:42] uce commented on #14136
@jkosh44 should have a fix up for this in https://github.com/MaterializeInc/materialize/pull/14092.

[2022-08-09 12:28] aalexandrov opened #14142 "Item No 2 . Consecutive `Negates` produced by `INERSECT` are not always cancelled out"
Example:

[code]

_Originally posted by @philip-stoev in https://github.com/MaterializeInc/materialize/issues/14085#issuecomment-1209272893_

[2022-08-09 12:32] cheparukhin commented on #2678
Any updates on this?

[2022-08-09 15:31] mjibson commented on #14060
https://github.com/MaterializeInc/materialize/pull/13967 is a PR out that will probably improve this. "strict serializable is slow, downgrade from strict to make things fast" is an understood result in adapter due to the correctness goals, and we're trying to make it faster by default now.

[2022-08-09 16:24] benesch commented on #14134
Would we get this for free with a combination of #14133 and #6367?

[2022-08-09 16:36] brennanvincent commented on #14134
Yes, but this is about 45000x easier than #14133, and independently useful, so we might want to support it directly rather than waiting for that.

[2022-08-09 16:42] brennanvincent commented on #13309
I agree with Nikhil that this is unnecessary, as long as we are messaging eventual consistency (which is already the case without the transaction topic)

[2022-08-09 16:44] brennanvincent commented on #13311
The code for this has now landed, with the caveat that errors are un-retractable until https://github.com/MaterializeInc/materialize/issues/14084 lands.

Leaving the issue open pending QA signoff as the code is still only very lightly tested.

[2022-08-09 16:44] brennanvincent commented on #13312
The code for this has now landed, with the caveat that errors are un-retractable until https://github.com/MaterializeInc/materialize/issues/14084 lands.

Leaving the issue open pending QA signoff as the code is still only very lightly tested

[2022-08-09 17:32] frankmcsherry opened #14146 "Likely mis-optimization in `SELECT` subquery"
### What version of Materialize are you using?

main

### How did you install Materialize?

Materialize Cloud

### What is the issue?

The commands
[code]
results in
[code]
It appears to be important that `test3` has a primary key (using `test2` directly in its place does not provoke the error).

Further things that do and do not reproduce the error:
[code]
The evaluation errors seem fine, and are

[2022-08-09 18:51] pH14 commented on #14060
I've also been wondering - do tables need to have `downgrade_since`  called immediately after each `advance_local_inputs`, or could those calls be staggered from one another? e.g. calling `maybe_downgrade_since` would automatically rate limit their calls and reduce time spent in persist consensus.

[2022-08-09 19:41] jkosh44 commented on #14060
@pH14 are you referring to #13967 or the current behavior? I'm not exactly familiar with the what will trigger a `downgrade_since` call. The Coordinator never needs to force compaction on tables, it just periodically updates it's read holds as an indication that it will no longer read at a certain time, so it's ok for that time to be compacted. So it sounds like using `maybe_downgrade_since` would

[2022-08-09 20:20] aalexandrov commented on #14146
In postgres the same result returns:

[code]

Is the issue here that we are not throwing the same error?

[2022-08-09 20:21] frankmcsherry commented on #14146
If we ever return
[code]
we have introduced a collection with negative multiplicities. This seems like some flavor of consistency violation.

[2022-08-09 20:23] aalexandrov commented on #14146
Yeah I mean is this an issue for a query which is ill-defined either way. Looking at the definition

[code]
I think there is a slight chance that what you really want to say is:
[code]
I just want to double-check on that before I dig deeper.

[2022-08-09 20:25] frankmcsherry commented on #14146
The issue is only about the inconsistency. The query is probably "the wrong query", but we shouldn't be introducing negative multiplicity collections without erroring. So, the bug is probably "postgres gives a clear error; we only give an error if you look at the results, and might not if you materialize them, and then use them in another query".

[2022-08-09 20:26] aalexandrov commented on #14146
Got it.

[2022-08-09 20:31] aalexandrov commented on #14146
[code]
produces the expected error, whereas
[code]
and the from simpler
[code]
only the first one has this issue, so I think the first thing is to look at differences in the plans produced by those three.

[2022-08-09 20:37] materializer opened #14152 "release: v0.27.0-alpha.12 required reviews"
No PRs in [`v0.27.0-alpha.12`](https://github.com/MaterializeInc/materialize/tree/v0.27.0-alpha.12) require review.

The following commits in this release were not associated with any PR and therefore require review:
* [x] [`84f59c1fb` release: v0.27.0-alpha.12](https://github.com/MaterializeInc/materialize/commit/84f59c1fbb00a41a4a839a952accde91a47d529d) (@doy)

[2022-08-09 20:37] materializer commented on #14152
All PRs and unassociated commits:

* [ ] [#14101 persist: fix "unexpected missing blob" bug](https://github.com/MaterializeInc/materialize/pull/14101) (@danhhz)
* [ ] [#14121 Update guide.md](https://github.com/MaterializeInc/materialize/pull/14121) (@lluki)
* [ ] [#14129 Un-unsafify `CREATE SOURCE ... SIZE`](https://github.com/MaterializeInc/materialize/pull/14129) (@brennanvincent)
* [ ] [`84f59

[2022-08-09 20:43] aalexandrov commented on #14146
Looks like an optimization bug, the decorrelated plans for the two queries are similar, but the optimized plans are different. Assigning to myself and I will find somebody to look at this ASAP.

[2022-08-09 20:45] aalexandrov commented on #14146
We can simplify and look just at:

[code]
vs
[code]

[2022-08-09 20:53] nmeagan11 opened #14154 "Flagging Tables in Postgres Sources as Monotonic"
### Feature request

There exist cases where the user may want to flag a particular table in their Postgres source as being monotonic in order to take advantage of optimizations in the planner. In order for the user to flag this, we'd probably need to extract this info from `CREATE VIEWS FROM SOURCE`, as otherwise it's impossible for us to know this in advance. Internal discussion can be found [he

[2022-08-09 21:51] morsapaes commented on #13788
(**CC:** @sjwiesman)

Logging some [user feedback](https://materializeinc.slack.com/archives/C03648YB34N/p1660075107841369) about `dbt_utils.date_spine`:

In the process of porting things over, we should audit all macros to make sure that we're not just being compatible with dbt's implementation, but making them useful in the context of Materialize.

[2022-08-10 02:44] chaas opened #14160 "PG Wire Tests Flaky with OS error"
### What version of Materialize are you using?

20220808 (commit 521a83ebf47b995f3600b9a756d3efa7c41bcb4)

### How did you install Materialize?

Docker image

### What is the issue?

Test failed with
[code]
followed by
[code]

Link to test run: https://buildkite.com/materialize/tests/builds/39205#018284a5-c940-4703-8e21-0f39c1d1add3

Note - a potentially similar issue with this test suite occurred

[2022-08-10 03:15] benesch commented on #13921
This got fixed by #14003.

[2022-08-10 03:15] #13921 closed

[2022-08-10 04:45] benesch commented on #14134
Makes sense. If we do that, let's make sure we put the option next to `FORMAT AVRO`

[code]

and not

[code]
CREATE SOURCE
FROM KAFKA CONNECTION ...
WITH (SIZE 'small', OMIT INVALID AVRO UNIONS)
[code]

[2022-08-10 05:25] benesch commented on #13309
Great, let's call this one done then!

[2022-08-10 05:25] #13309 closed

[2022-08-10 05:32] benesch commented on #12855
It's gated behind unsafe mode, so we're good for the purposes of GA. It's tech debt we need to clean up at some point though—a bunch of our internal tests still rely on the feature! Details in #13703.

[2022-08-10 05:35] benesch commented on #13919
We should cleanly separate the options! Some of the legacy with options (like `start_offset`) ought to move to a Kafka-specific option block. Only the options that are unrelated to the connector, format, or envelope should move to the new top-level `WITH` block. I _think_ that's just `REMOTE`, `SIZE`, and `TIMELINE`, but not sure. `TIMELINE` is also not something we want to expose to users quite y

[2022-08-10 05:44] benesch commented on #13682
🎉

Oh, right. I'm out of date here. We used to report the wrong search path (#6754) for our behavior. But that got fixed in #12222. I think we're all good here!

[2022-08-10 05:44] #13682 closed

[2022-08-10 05:46] benesch commented on #6754
#12222 fixed most of this. Looks like the remaining work item is to make `CREATE` statements create their objects in the first schema on the search path, rather than in `public`.

[2022-08-10 06:29] benesch commented on #13975
😲 thanks for the protip, @jordanlewis!

[2022-08-10 07:04] benesch commented on #13141
I'd personally be inclined to optimistically close this and #12800. We haven't seen any failures of this sort since we killed `linkerd`, right? I suspect that we can rely on TCP connections failing much faster than Kubernetes's maximum backoff, and that should make this all work out.

Somewhat relatedly, I put up https://github.com/MaterializeInc/materialize/pull/14162 to remove the linkerd workar

[2022-08-10 07:13] benesch commented on #12868
Reopening because this needs tests and QA signoff!

[2022-08-10 07:26] neverchanje opened #14163 "Wrong comparison for intervals"
### What version of Materialize are you using?

v0.26.4

### How did you install Materialize?

Homebrew tap

### What is the issue?

[code]

Somehow Materialize thinks 'days' is always larger than 'hours'.

[code]

### Relevant log output

_No response_

[2022-08-10 07:31] benesch commented on #14163
Thanks for the report, @neverchanje! Unfortunately this is a known issue. Closing as a duplicate of #10854.

[2022-08-10 07:31] #14163 closed

[2022-08-10 07:40] benesch commented on #14016
This roughly LGTM. There are some hairy questions about the lifetime of the auto-created materialized views. The questions are similar to the questions about if `CREATE SINK` learned to auto-create materialized views materialized views, which I touched on [here](https://www.notion.so/materialize/Internal-storage-sink-syntax-017251c532df465fb3a3ec7c344df54b#64735b887aa24348a1812a06fb44d25d).

Note

[2022-08-10 07:45] aalexandrov commented on #14146
Assigning this to @ggevay. Please take a look at that after you have opened a PR for the `IN` list planning.

[2022-08-10 08:17] aljoscha commented on #12864
We need to audit which source errors make it into the `Err` collection, and eventually into the persist shard. As of now, I think too many errors make it in there that shouldn't be there. They instead should go to the new status shard that @andrioni introduced.

10_000 ft summary: Only _definite_ errors should make it into the `Err` collection. System errors/runtime errors, which are transient sho

[2022-08-10 08:27] #14061 closed

[2022-08-10 10:49] lluki opened #14164 "Enable querying the data across multiple replicas using a unified view"

[2022-08-10 10:53] lluki opened #14165 "Catalog entries for arranged introspection sources do not update id"

[2022-08-10 11:13] lluki opened #14166 "Use renditions or new storage API for introspection sources"

[2022-08-10 11:19] lluki opened #14167 "Offer a configurable compaction window specific to introspection data"

[2022-08-10 11:25] lluki commented on #14167
It's probably a good idea to consider this along with #12660

[2022-08-10 13:25] aljoscha commented on #14060
Just because I tried: when you run the tests with `SET transaction_isolation = 'serializable'` these slt tests fail.

[2022-08-10 13:30] jkosh44 commented on #14163
@neverchanje In the meantime you can use `justify_interval` to get the expected behavior (https://materialize.com/docs/sql/functions/justify-interval/)
[code]

[2022-08-10 13:33] #13133 closed

[2022-08-10 14:00] brennanvincent commented on #13141
I don't think this can be closed yet. It is conceptually distinct from issues of the form "TCP connections can randomly go down". Even if we consider such issues to be out-of-scope and less likely due to having removed linkerd, I believe the class of issues I described in #12800 can happen due to issues that still _are_ part of our threat model, like a pod going down because the node it was on fai

[2022-08-10 14:05] philip-stoev commented on #14060
How do they fail exactly?

[2022-08-10 14:10] nmeagan11 commented on #13534
From @aljoscha:

[2022-08-10 14:13] aljoscha commented on #14060
With things like
[code]

[2022-08-10 14:18] philip-stoev commented on #14060
so the query returns no rows with `serializable` ? That is not good

[2022-08-10 14:29] aljoscha commented on #14060
I mean it is correct. If you try for a bit more it will _eventually_ return the correct result.

Side note: I don't know much about how it should behave with `serializable` so I'm quite possibly wrong about this being correct. Paging @jkosh44.

[2022-08-10 14:31] philip-stoev commented on #14060
oh so tables are now hm "eventually consistent" under `serializable` TIL

[2022-08-10 14:35] philip-stoev opened #14170 "CREATE CLUSTER REPLICA ... AVAILABILITY ZONE is not obeyed"
### What version of Materialize are you using?

v0.26.1-dev (86c6f75d2)

### How did you install Materialize?

Docker image

### What is the issue?

Running this:

[code]

does not cause 3 replicas to be placed in a single availability zone. Instead, it produces the following K8s error:

[code]

### Relevant log output

_No response_

[2022-08-10 14:37] philip-stoev commented on #14170
Assigning to @uce as I am not sure which team belongs to. The functionality lives in environmentd, in the K8s orchestrator, but is used by the cloud team.

[2022-08-10 14:51] danhhz commented on #13975
hi @jordanlewis :wave:! we'll definitely try that out. it might be a week or two before we do anything here tho, we've got a couple bigger fish to fry first

[2022-08-10 15:09] nmeagan11 commented on #14016
@benesch I think this is fine. I can capture the work for the limitation in a separate issue, so long as everyone agrees.

[2022-08-10 15:13] jkosh44 commented on #14060
This is correct under serializable, maybe undesirable, but correct.

[2022-08-10 15:33] benesch commented on #14152
@doy-materialize's commit LGTM.

[2022-08-10 15:33] #14152 closed

[2022-08-10 17:02] mjibson commented on #14160
The antichain error here is probably not related because it appears all the time. The pgtest panic feels like it's a envd crash that we aren't printing the logs for.

[2022-08-10 19:14] brennanvincent commented on #14134
Did we get rid of the `WITH` options in different places, and now we only use the `WITH` keyword on the options that apply to the entire DDL statement?

[2022-08-10 21:33] jkosh44 opened #14182 "benchmark: Add feature benchmark for table read latency"
### Feature request

It would be useful to have a feature benchmark for table read latency.

[2022-08-10 21:34] jkosh44 commented on #14182
FYI: This came out of the surfaces weekly meeting, @chaas @benesch @mjibson @JLDLaughlin.

[2022-08-10 22:06] mjibson commented on #13974
I made a auction source, then ran `copy (tail demo) to stdout` in a terminal and got some rows. Then `pkill storaged`, which paused the tail and I see in the logs that it restarts after some seconds, tail stream resumes as expected. Then `pkill computed` and same thing: tail pauses, computed restarts, tail resumes as normal. Am currently out of ideas for how to repro this locally.

[2022-08-11 03:43] benesch commented on #13534
Yep, that's what's described in my previous comment!

[2022-08-11 04:03] benesch commented on #13534
So, here's a rough smattering of thoughts:

  * I think I like `AllowResumption`, `AllowUpstreamCommit`, or `AllowUpstreamAcknowledgment` as a name for the command more than `AllowFastForward`.
  * Each upstream source has something equivalent to a replication slot. PostgreSQL literally calls them replication slots. Kafka calls them consumer groups. Each source _replica_ should get its own replica

[2022-08-11 04:44] benesch commented on #14134
The code is still a bit of a mess, but any option that is in the wrong place is gated behind unsafe mode.

[2022-08-11 04:48] benesch commented on #13974
One thing we haven't tried (I think) is killing Cockroach, waiting a few minutes, and _then_ turning it back on. Maybe something goes wrong like that.

[2022-08-11 05:06] benesch commented on #12800
I'm still trying to wrap my head around this. Is the problem that we don't check whether a prior connection has broken during initialization? If process 0 accepts a connection from process 1, but then process 1 crashes, process 0 won't attempt to read from the connection to process 1 _until_ it gets a connection from process 2, and therefore it won't notice that process 1 has crashed until it comp

[2022-08-11 06:20] benesch opened #14184 "Unstable documentation search bounces you back to stable"
The [unstable docs site](https://materialize.com/docs/unstable/) does not have its own Algolia search index. This is a bit of a double whammy. Content from the unstable site is not searched, and if you do click on a result, you get silently bounced to the stable site.

cc @ruf-io @morsapaes

[2022-08-11 09:25] philip-stoev commented on #13580
All items from the checklist have been implemented except for the version-related ones. Those will wait for a dedicated Epic on upgrades to show up before they can be worked on.

[2022-08-11 09:25] #13580 closed

[2022-08-11 11:36] philip-stoev opened #14188 "K8s: storaged and compute services remain behind on DROP, only pods are cleaned up"
### What version of Materialize are you using?

ec131b0f7caa36beac95dbbedfe13a5236da0834

### How did you install Materialize?

Docker image

### What is the issue?

After running the `test/cloudtest` tests, the K8s cluster looks like this:

[code]

In other words, the `storage` and `compute` pods that were created by the test were cleaned up when the test `DROP`-ed them, but the respective servic

[2022-08-11 12:13] philip-stoev commented on #13720
Done and pushed.

[2022-08-11 12:13] #13720 closed

[2022-08-11 12:13] philip-stoev commented on #13719
This is left as a good first issue -  a Python K8s API exercise for new hires.

[2022-08-11 12:28] antiguru commented on #14062
This problem still happens: https://buildkite.com/materialize/tests/builds/39333#01828cce-2050-4190-9b00-72fbd91e72d0

[2022-08-11 13:02] #14160 closed

[2022-08-11 13:50] chaas commented on #14160
Thanks @mjibson !

[2022-08-11 13:56] brennanvincent commented on #12800
Right now that's correct, yes. We don't start reading until initialization is over. So one possible fix to this issue might be to crash earlier. (I'd still need to think about it in more detail to convince ourselves it converges to a good state)

[2022-08-11 15:36] jkosh44 commented on #14060
I just pushed a commit that should have sped up reads under strict serializability (https://github.com/MaterializeInc/materialize/pull/13967). I'm not sure if it fixed this, but it might be worth retesting.

[2022-08-11 15:40] nmeagan11 commented on #11504
Anything left to do here? Can we close this? (cc @sploiselle @benesch)

[2022-08-11 15:42] nmeagan11 commented on #12401
Is this issue complete? If so, can we close?

[2022-08-11 15:42] jkosh44 opened #14194 "Coord: Removing objects from a timeline is done non-transactionally"
### What version of Materialize are you using?

`main`

### How did you install Materialize?

Built from source

### What is the issue?

In the coordinator when executing a `DROP` statement, we remove objects from their timelines before we know if the `DROP` has succeeded or failed.
https://github.com/MaterializeInc/materialize/blob/2b31ab8e07b488f6a2950f3b87f47c9647c80aa0/src/adapter/src/coord/dd

[2022-08-11 15:46] mjibson commented on #14060
I'm going to test main in the cloud testing session today, which will include this.

[2022-08-11 16:10] sjwiesman opened #14196 "Cannot create a postgres source"
### What version of Materialize are you using?

v0.27.0-alpha.12 (84f59c1fb)

### How did you install Materialize?

Materialize Cloud

### What is the issue?

Creating a postgres source from a known good connection string fails. Creating other source types are successful.

### Relevant log output

[code]

[2022-08-11 16:22] sjwiesman commented on #14196
nevermind, seems my db ran out of disk. Not really sure how that happened, but not mz's fault.

[2022-08-11 16:22] #14196 closed

[2022-08-11 16:32] sploiselle commented on #11504
@nmeagan11 The remaining work is

This is largely tracked in #13374, so this could be closed and we could just track that as the remaining work item. I know it's also part of the ongoing `SINK` work, too.

[2022-08-11 16:36] mjibson commented on #13974
Killed cockroach for 4 minutes then restarted it with a 50ms tick. The tail resumed a few seconds later, didn't see any crashes in the console. One thing that did happen though was the tail had queued all of the data it had generated over those minutes. But even with a 50ms interval that should not be enough to oom anything that is queuing it.

[2022-08-11 17:00] ggnall opened #14198 "UI: App specific passwords bleeds into footer"
### What version of Materialize are you using?

Release 7a91acee71d0ee3af41c1d06e2eed09c7778e5fc

### How did you install Materialize?

Materialize Cloud

### What is the issue?

![image](https://user-images.githubusercontent.com/4104582/184191206-e2c9d736-4890-4d6f-9a63-39bd27dd2340.png)

When adding too many app passwords (7 on MBP 13"), the list breaks and bleeds into the footer area.

### Rele

[2022-08-11 17:11] guswynn commented on #13534
@benesch thanks for the notes, very helpful!

My question is: how do we calculate the _resumption frontier_? Is it just the `Lattice::meet` of the remap and data `FrontierUppers`? Also, is the _resumption frontier_ **always** a safe frontier to compact to the resumption frontier? my guess is "yes"

This is true, but we could technically do this (this meaning compact the remap collection and give f

[2022-08-11 18:06] jpepin commented on #12868
Issues required for completion of this epic:

- https://github.com/MaterializeInc/cloud/issues/3739
- https://github.com/MaterializeInc/cloud/issues/3737

Related but not necessarily required for billiing:

- https://github.com/MaterializeInc/cloud/issues/3726
- https://github.com/MaterializeInc/cloud/issues/3716

[2022-08-11 18:34] benesch commented on #13975
Reopening, because I think there's something to continue to look into here! `consensus.consensus` in my environment in the steady state (nothing going on but the introspection sources in the two empty replicas) is still using 4GB of data:

[code]

[2022-08-11 18:47] benesch commented on #13534
Whatever `get_resume_upper` currently does is right!

Yup!

Yup! I'd say the reason to do it in the controller is largely philosophical. The controller should be in charge of making decisions like "advance the resumption frontier."

[2022-08-11 18:59] guswynn commented on #13534
So the idea is:
- For new sources, we use `get_resume_upper` to get the resumption upper, and add that to the
- We store this `get_resume_upper` in the controller, and update it on `FrontierUppers` using the same logic as `get_resume_uppers` (merging the remap and data upper using `Antichain::insert`). On rehydration we use this upper, instead of talking to persist
  - A philosophically equivalent

[2022-08-11 19:41] danhhz commented on #13975
from slack: looks like all of this is live persist data. I actually think this is good news! much easier to fix the problem if it's us than if it's crdb

[code]

[2022-08-11 19:48] #4370 closed

[2022-08-11 19:51] brennanvincent commented on #4370
Why was this closed? As far as I know we don't still have CDCv2 sinks?

[2022-08-11 20:02] cjubb39 opened #14200 "Allow sinks to export tables"
After #14009 , sinks can export materialized views and sources -- but not tables (even though they're based in persisted collections).  They follow a different codepath (persist_write_workers) than materialized views or sinks so there will have to be a little bit of work to get them working again.

When resolving this, we'll want to re-enable:
- `test/persistence/user-tables/table-persistence-befo

[2022-08-11 20:13] cjubb39 opened #14202 "Remove ComputeSink* structs etc from storaged package"
Follow-up on #14009.  Should just be code movement

[2022-08-11 20:18] cjubb39 opened #14203 "[kafka sink] Move consistency info from sidecar topic to headers"
As described in https://www.notion.so/materialize/Kafka-Sinks-9ba8f8c0ddc949d6b20a67a2558a7604, we want to move the consistency info from a sidecar kafka topic to kafka headers.  This was not part of in #14009 (which is just moving the actual execution from a comptued to storaged process and the associated framework -- and not adjusting the kafka impl at all).

[2022-08-12 01:00] sploiselle opened #14206 "sql: CREATE SINK parsing needs significant refactor"
### What version of Materialize are you using?

v0.26.1-dev (8b9c797ea)

### How did you install Materialize?

Built from source

### What is the issue?

This is valid syntax for a `CREATE SINK` statement:

[code]

This should be refactored before we make sinks broadly accessible again.

### Relevant log output

_No response_

[2022-08-12 07:13] #13744 closed

[2022-08-12 12:06] philip-stoev opened #14211 "Debezium can inject snapshots in the middle of the stream, which causes data duplication on the Mz side"
### What version of Materialize are you using?

510b6a9aa3da6253ca1f9773de9d27db9c07d57a

### How did you install Materialize?

Docker image

### What is the issue?

Apparently nothing prevents Debezium from re-snapshotting the entire table and inserting the snapshot again into the stream. Mz will then ingest that snapshot without retracting any data that existed previously in the dataflow. Wrong

[2022-08-12 12:08] philip-stoev commented on #14211
To reproduce, clone `https://github.com/philip-stoev/materialize/`, branch `gh14211` and run:

[code]

[2022-08-12 12:11] benesch commented on #14211
@philip-stoev can you confirm this happens only with `ENVELOPE DEBEZIUM` and not `ENVELOPE DEBEZIUM UPSERT`? If so, this is a known issue and is tracked by this work item in #11772:

<img width="812" alt="image" src="https://user-images.githubusercontent.com/882976/184351237-cfc37056-da8a-4595-a97d-6a0badbc38a9.png">

[2022-08-12 12:39] frankmcsherry commented on #14139
In case it is helpful, here are notes from a similar exercise for CH-benCHmark: https://github.com/MaterializeInc/materialize/issues/521

[2022-08-12 12:40] benesch commented on #12401
This still needs a test, unfortunately!

[2022-08-12 12:46] frankmcsherry commented on #9345
I think partly addressed by https://github.com/MaterializeInc/materialize/pull/13731

[2022-08-12 13:26] ggevay commented on #13482
Added an item about records, lists, arrays.

[2022-08-12 17:17] cjubb39 opened #14220 "[sinks] Move sink storage initialization into async task"
Followup from #14009.  Maybe `create_storage_export` (the function that spins up a new storaged, etc) ought to be in an async task -- maybe the same one where we create the kafka connection?

[2022-08-12 17:24] chaas commented on #11714
Added support for single-param `trunc` function. Confirmed with @andrioni that Tableau only needs the single param function. Feel free to re-open or create a new ticket if we end up needing the two-param version.

[2022-08-12 17:24] #11714 closed

[2022-08-12 17:28] cjubb39 opened #14221 "[sinks] More helpful error message if persisted collection doesn't exist"
Currently we use `StorageError::IdentifierMissing` when looking up the from_collection to signify that you're trying to create a sink based on something that isn't a persisted collection.  That prints as "collection identifier is not present" which isn't super helpful to the user!

There are a few testdrive lines that have `contains:collection identifier is not present` that we'll want to update

[2022-08-12 18:03] philip-stoev commented on #14211
@benesch if the workload is not updating the primary key,  `ENVELOPE DEBEZIUM UPSERT` seems to work. However, both Debezium envelope types are equally affected and return wrong results if the workload updates the primary key.

It is actually worse than not having prior state in order to skip duplicates, but in a different way. If one updates the primary key of a record from one value to another, e

[2022-08-12 18:38] cjubb39 commented on #14200
cc @aljoscha

[2022-08-12 18:38] cjubb39 commented on #14202
cc @aljoscha

[2022-08-12 18:38] cjubb39 commented on #14203
cc @aljoscha

[2022-08-12 18:38] cjubb39 commented on #14202
cc @aljoscha

[2022-08-12 18:38] cjubb39 commented on #14220
cc @aljoscha

[2022-08-12 18:38] cjubb39 commented on #14221
cc @aljoscha

[2022-08-14 21:18] rjnn opened #14227 "Implement formalism.md"
### Feature request

In [formalism.md](https://github.com/MaterializeInc/materialize/blob/main/doc/developer/platform/formalism.md), we say:

At some point, we will want to be able to delete this paragraph, either through updating that document, or modifying the code. This issue tracks progress towards that end-goal. As a starter, what does the current system not deliver that we want to deliver in

[2022-08-15 05:12] benesch commented on #14211
Oh, what a total disaster. I don't know that this is even solvable. I don't think Debezium indicates in any particular way when it retries a snapshot. I mean, you might know better than I at this point! Have you seen any way to detect in the Kafka topic when Debezium has retried the snapshot?

[2022-08-15 08:16] antiguru commented on #14165
Alternatively, could we hide the introspection sources from `mz_sources`? They're not intended for general consumption anyways and have special handling requirements.

[2022-08-15 08:33] #11782 closed

[2022-08-15 08:39] aljoscha commented on #14211
Also looping in @brennanvincent (née umanwizard)

[2022-08-15 09:52] antiguru commented on #12576
Here's a test where this seemed to have happened: https://buildkite.com/materialize/tests/builds/39331#01828cc0-fe0d-43e9-9b61-d5ffa545b8b1

[2022-08-15 11:47] philip-stoev commented on #14211
The only solution that I can see is the following, but I do not really know. If a snapshot is received:
 - if the previous event is a non-snapshot one, assume that this is a new snapshot
 - if previous event is a snapshot, compare the LSNs to determine if they a new snapshot has happened or not.

This is all very fragile:
- the Debezium documentation around snapshots appears to lag the code. That

[2022-08-15 12:56] philip-stoev opened #14236 "DEBEZIUM UPSERT deduplication fails with a large snapshot"
### What version of Materialize are you using?

510b6a9aa3da6253ca1f9773de9d27db9c07d57a

### How did you install Materialize?

Docker image

### What is the issue?

A test that kills and restarts the Postgres source database for a Debezium source works with smaller data volumes but fails with a larger snapshot in a way that indicates that dedupication did not properly kick in. Unlike #14211, here

[2022-08-15 13:10] benesch commented on #14236
Do you have reproduction instructions handy, Philip?

[2022-08-15 13:10] philip-stoev commented on #14236
I am on it. I filed a placeholder ticket in order to get a github number

[2022-08-15 13:31] brennanvincent commented on #14211
@philip-stoev what do the debezium records look like if the PK is updated?

[2022-08-15 13:35] philip-stoev commented on #14211
@brennanvincent if part of the normal stream, a delete of the pre-update record followed by a fresh insert of the updated record.

However, if snapshots are involved, then snapshot #1 will contain an insertion of the pre-update record and snapshot #2 will contain an insertion of the post-update record.

[2022-08-15 13:41] benesch commented on #14211
I don't *think* this can happen. Or if it can, it'll be _extremely_ rare. Once Debezium emits a complete snapshot, it flips into replication mode and never emits another snapshot.

The only exception to this is the [incremental snapshot](https://debezium.io/blog/2021/10/07/incremental-snapshots/) feature. But those are pretty nonstandard, and require a separate table that signals to Debezium when

[2022-08-15 13:44] brennanvincent commented on #14211
@benesch what do you mean? Isn't that the entire issue we're discussing? Debezium can apparently re-snapshot under certain conditions.

[2022-08-15 13:45] philip-stoev commented on #14211
At least in the kafka messages I captured above, they seem to have some:

[code]

[2022-08-15 14:11] jkosh44 opened #14237 "MZ_OBJECTS doesn't contain all objects"
### What version of Materialize are you using?

`main`

### How did you install Materialize?

Built from source

### What is the issue?

`mz_objects` is a catalog view that is supposed to be a single place to look at all the created objects in Materialize. Specifically it's supposed to contain all objects that are identified by a `GlobalId`. However, we have recently added some new object types wi

[2022-08-15 14:21] jkosh44 commented on #14237
I say "probably on purpose" above for types and functions for the following reasons
- They have existed for a long time and have never been included in the view (the docs leave them out too https://materialize.com/docs/sql/system-catalog/#mz_objects).
- They would probably clutter the view.

Though I don't know for sure.

[2022-08-15 14:28] mjibson commented on #13930
This is happening quite consistently in PRs and main builds now.

[2022-08-15 14:29] mjibson opened #14238 "environmentd: flake in test_auth: expected refresh count 2, got 1"
See: https://buildkite.com/materialize/tests/builds/39494#0182a1cb-d352-43e9-8868-a8561ebaf748

[2022-08-15 15:02] brennanvincent commented on #14211
Found something interesting from the Dbz docs:

An UPDATE operation that changes a row’s primary key field(s) is known as a primary key change. For a primary key change, in place of an UPDATE event record, the connector emits a DELETE event record for the old key and a CREATE event record for the new (updated) key. These events have the usual structure and content, and in addition, each one has a

[2022-08-15 15:02] brennanvincent commented on #14211
Tl;dr it seems you can read Kafka headers to detect PK changes.

[2022-08-15 15:12] brennanvincent commented on #14211
Also -- @philip-stoev when you said this:

Did you mean to write `"last"`, instead of `"latest"` ? If so, I can explain what it means: `"last"` is supposed to represent the last record in the snapshot. `"true"` represents some record in the snapshot other than the last one. `"false"` means it is not part of the snapshot at all. See https://issues.redhat.com/browse/DBZ-1295 for the issue that intro

[2022-08-15 15:55] danhhz commented on #13930
Hopefully closed again by #14240

[2022-08-15 15:55] #13930 closed

[2022-08-15 16:13] philip-stoev commented on #14211
The examples above are two separate 1-record snapshots

[2022-08-15 16:16] brennanvincent commented on #14211
OK, got it. In that case, it makes sense for them to have snapshot=last.

[2022-08-15 16:24] benesch commented on #14237
I _think_ it's meant to contain everything, but I am also not sure. For a brief second, I thought "maybe it's just supposed to contain relations", but then I looked and we have a _separate_ table called `mz_relations`. That table is likely missing materialized views—at least it's missing them in the docs—and that should be corrected too!

[2022-08-15 18:44] philip-stoev commented on #14236
I am unable to reproduce this again, so I will close it until it becomes reproducible. Thank you.

[2022-08-15 18:44] #14236 closed

[2022-08-15 19:09] ggnall commented on #13456
TODO:
Break into more specific epics + what's needed for GA?
Determine what/when to stage Billing

[2022-08-15 19:16] mjibson opened #14244 "stash: move compaction and consolidation to a background task"
These don't need to block user queries. Move them.

[2022-08-15 19:27] ggevay opened #14248 "`optimize_dataflow_index_imports` should only soft-delete index imports"
Originally, `optimize_dataflow_index_imports` was introduced as part of the effort to make index use decisions in MIR, so that a user needs to look at only the MIR plan (and not the physical plan) to know whether her indexes are being used (https://github.com/MaterializeInc/materialize/pull/13713). However, @frankmcsherry pointed out that the old and already well-tested index usage decision code i

[2022-08-15 19:33] brennanvincent commented on #14211
I need to check the dbz code to confirm this, but I think maybe you can detect new snapshots by checking whether the LSN has changed.

[2022-08-15 19:52] brennanvincent commented on #14211
I've [asked on their Zulip](https://debezium.zulipchat.com/#narrow/stream/302529-users/topic/Detecting.20new.20snapshots) to confirm. I think this will probably be quicker than trying to figure it out from the code.

[2022-08-15 20:01] #14238 closed

[2022-08-15 20:34] benesch commented on #14211
Ooh, that's a fun edge case to consider if we end up reasoning about `snapshot=first` (forthcoming in Debezium 2.0). If the same record is both the first and last record in the snapshot... Debezium has to pick either "first" or "last", as it can't pick both. Oy.

@brennanvincent today in the office noted that he thinks the LSN can be used to detect when a snapshot has restarted. We _think_ the LSN

[2022-08-15 21:01] benesch commented on #14211
Oh, sigh, GitHub didn't show me the updated comments. Anyway, thanks @brennanvincent!

[2022-08-15 21:38] JLDLaughlin commented on #14237
cc @ggnall + @chaas

[2022-08-15 22:35] chaas commented on #14237
@JLDLaughlin I see this marked as "good first issue" - let me know if you think I should work on it, depending on priority.
Also I tested out `mz_relations` and it does include materialized views, so it looks like just the docs need to be updated.

[2022-08-15 23:32] guswynn commented on #13534
After collecting feedback on my first pr from @aljoscha, @frankmcsherry, and @benesch, here is an overview of what I think the implementation of this epic entails, followed by some important points about the implementation:

Bounded input reliance is primarily about calculating a _resumption frontier_ for a source, and communicating it back to the source instance.
- A _resumption frontier_ is effe

[2022-08-16 00:15] pH14 opened #14251 "persist read handles are not dropped when source/table is dropped"
### What version of Materialize are you using?

main

### How did you install Materialize?

Built from source

### What is the issue?

The storage controller heartbeats readers to keep them active, but will continue to do so even if the source or table has been dropped (`since` advanced to empty antichain):

https://github.com/MaterializeInc/materialize/blob/f9a4f2b63c5886a26979abd7b33f9629ea26662

[2022-08-16 01:06] #14084 closed

[2022-08-16 02:31] #14184 closed

[2022-08-16 10:20] antiguru opened #14255 "[Epic] Enable multi-process replicas"
Enable multi-process replicas in Materialize Cloud.

## Description

We want to be able to reliably host multi-process replicas in Materialize. For this to happen, we need to have the right integration with Kubernetes, a strategy on version upgrades, and support to reconcile state correctly to enable `environmentd` restarts. At the moment, multi-process replicas work with severe constraints.
* We

[2022-08-16 10:36] philip-stoev commented on #11288
We now have CREATE/DROP cluster in multiple testing frameworks, so I think this ticket can be closed.

[2022-08-16 10:36] #11288 closed

[2022-08-16 10:37] philip-stoev commented on #8823
This is a pre-Platform QA task, so is obsolete by now.

[2022-08-16 10:37] #8823 closed

[2022-08-16 10:39] philip-stoev commented on #8322
This is a pre-Platform, pre-persistent-user-tables QA task, so is obsolete.

[2022-08-16 10:39] #8322 closed

[2022-08-16 10:43] philip-stoev commented on #13879
CPU usage is indeed limited to Debug, so I guess nothing can be done here. The proliferation of blob files no longer occurs.

[2022-08-16 10:43] #13879 closed

[2022-08-16 11:02] philip-stoev commented on #14136
Also seen with `CREATE INDEX` and the test case for gh 13879 , if one requires a reproduction scenario.

[2022-08-16 12:32] philip-stoev commented on #12871
All of this output comes from the entrypoint.sh of the materialized container, not the environmentd binary. Calling `environmentd --version` directly does not print any of the cruft.

[2022-08-16 12:32] #12871 closed

[2022-08-16 14:36] #14200 closed

[2022-08-16 15:09] pH14 opened #14261 "environmentd stops downgrading since on read handles if computed restarts"
### What version of Materialize are you using?

main

### How did you install Materialize?

Built from source

### What is the issue?

If `computed` restarts, `environmentd` will stop sending `PersistWorkerCmd::Downgrade` calls to its read handles for the introspection shards. This can be easily reproduced locally:

1. Run `./bin/environmentd`
2. `pkill -f computed`
3. The metrics on `environmentd

[2022-08-16 16:16] aljoscha commented on #14251
I _think_ we can drop handles in the `PersistWorker` when we notice that we're downgrading to the empty frontier.

[2022-08-16 16:25] antiguru commented on #14261
I can reproduce the issue but haven't determined the cause for it. It seems best if someone from the persist team provides some guidance on how the `since` information flows through the system.

[2022-08-16 16:39] frankmcsherry commented on #14261
I think we should be able to observe (or not observe) the storage controller call `persist_read_handles.downgrade()` in response to `update_read_capabilities`. If that is happening, it could be a `persist` issue, but my first guess would be that this isn't happening for some crazy reason. If that *is* happening, .. idk it could be a read lease held by the failed `computed` that takes 15 minutes to

[2022-08-16 16:51] danhhz commented on #14251
yeah, I think so too. we have to remain idempotent to a downgrade_since of empty antichain, so I think we actually have to replace the ReadHandle with an Option<ReadHandle> and then treat a none as a no-op for any downgrade_since. I have it mostly typed up locally but I'm working through a borrow checker error

[2022-08-16 16:58] jkosh44 commented on #14136
Quick update, I closed #14092 and @frankmcsherry is planning on pushing a fix for this.

[2022-08-16 17:00] frankmcsherry commented on #14136
I have something that might reduce the noise, but there would still be a "bug" in that we don't know the full space of reasons this triggers. In particular, I don't have a fix for `ReadHolds` being a quality-of-life struct that doesn't know what to do if its invariants aren't met.

[2022-08-16 17:06] danhhz commented on #14251
I'm still not sure what's going on with the borrow checker issue. Draft up at https://github.com/MaterializeInc/materialize/pull/14263

[2022-08-16 17:10] chaas opened #14264 "stash: Make stash data human-readable & accessible"
### Feature request

### Objective
Make stash data human-readable and accessible.
This will allow for easier debugging and is needed for billing.

### Solution
Either store stash data as JSON or build reader to map from protobuf to human-readable format (either JSON or protobuf text format https://developers.google.com/protocol-buffers/docs/text-format-spec).

Bonus: Ability to write sql queries a

[2022-08-16 17:41] pH14 opened #14265 "persist: more precise since/seqno/heartbeating of handles"
On prod we saw a problematic behavior where a crash looping writer causes the frontier of a shard to stall, but the storage controller's read handle would continue to heartbeat and accumulate unbounded amounts of consensus state, due to its seqno hold.

But! A heartbeating writer doesn't _need_ a seqno hold, so it seems like we can work around this problem by moving around our since/seqno/heartbea

[2022-08-16 17:46] pH14 commented on #13975
More consensus state leakage! In order of most scary to least scary, here are more bugs we need to fix to control our consensus data:

- [ ] read handles stop receiving downgrade_since calls for introspection shards if computed restarts
   * https://github.com/MaterializeInc/materialize/issues/14261
- [ ] read handles are not dropped when a source or table is dropped, so they heartbeat indefinitel

[2022-08-16 18:13] frankmcsherry opened #14266 "Storage controller should expose (introspection?) `GlobalId` and `ShardId` association"
### Feature request

The storage controller owns the creation of collections associated with `GlobalId` identifiers, and creates `persist` shards in response. This association is not published, which has complicated the debugging of various cross-cutting performance issues. It could be quick win to present this as a introspectable collection.

[2022-08-16 18:15] benesch commented on #14266
Would be very helpful with MaterializeInc/cloud#3726 too.

[2022-08-16 18:25] guswynn commented on #13450
@philip-stoev did we reduce the size of the pg-cdc-resumption tests? anecdotally, I feel these are running faster now, so if we didnt, it may be worth re-running this to see if the regression is still there

[2022-08-16 19:09] bkirwi opened #14267 "[sinks] Consider using offset commits for tracking metadata in the Kafka sink"
When sinking messages to Kafka, Materialize needs to store and retrieve some metadata to ensure that it publishes messages exactly once to Kafka. Traditionally, it's done this by writing metadata to a "sidecar" topic. This works, but it's a pain to create and configure an additional topic for every sink; we may not have the right permissions, and it's one more thing for users to have to manage and

[2022-08-16 19:14] danhhz commented on #14266
I would also very much like this

[2022-08-16 20:24] pH14 commented on #14251
https://github.com/danhhz/materialize/commit/4a64df4f0cfa828bd993726f1db6c75b1f52dc6a should cover this for now, and we have a better long term fix in mind after

[2022-08-16 20:24] #14251 closed

[2022-08-16 20:32] jkosh44 commented on #14237
FYI, the view definition can be found here: https://github.com/MaterializeInc/materialize/blob/49e19abc4d70e481bedf8350040a4f962a9d56e8/src/adapter/src/catalog/builtin.rs#L1262-L1273

[2022-08-16 20:55] aljoscha commented on #11216
@nmeagan11 & @morsapaes & @sjwiesman: What do you think of this one? If we want to do it, we should do it now. And I would again do it without a migration path.

[2022-08-16 21:30] sjwiesman commented on #11216
seems like a good idea to me!

[2022-08-16 21:46] morsapaes commented on #11216
The usability question for me IWRT consistency topic formats is more #10163. If we only support Avro (even for JSON-formatted sources), what is the upside of having users explicitly define the format, @aljoscha?

[2022-08-17 08:22] antiguru commented on #14261
It could be we're retracting a timestamp twice:
[code]

[2022-08-17 08:29] #8411 closed

[2022-08-17 08:34] aljoscha commented on #11216
This might even be obsoleted if we go more towards https://github.com/MaterializeInc/materialize/issues/14267. Thought I think in that case it might be good to keep both options, in case users need that consistency topic.

I can definitely see a world where we only support an Avro-formatted consistency, though. Which also makes the syntax tighter. I can't say what users would want here though, and

[2022-08-17 09:13] philip-stoev opened #14273 "sources hang with no error if storaged uses --workers > 1"
### What version of Materialize are you using?

e852e357c23043850cb235258048fd998079d664

### How did you install Materialize?

Docker image

### What is the issue?

If a storaged is started with --workers 2 , any attempts to select from a source will hang. The log has the stuff printed below.

To reproduce, clone https://github.com/MaterializeInc/materialize/pull/14272 and then run

[code]

It wo