[2021-06-04 18:49] antifuchs commented on #6947
Taking this to pass on to Moritz later (:

[2021-06-07 07:00] philip-stoev opened #6949 "apd: numbers not right-justified in psql client"
### What version of Materialize are you using?

[code]

### What was the issue?

In the psql client, the ```apd``` data type is left-justified, like a string, and not right-justified like any other number. This may mean that the proper metadata is not being sent to the client?

### Is the issue reproducible? If so, please provide reproduction instructions.

[code]

Contrast with decimal:

[code]

[2021-06-07 09:07] asenac commented on #6944
The following patch seems to be fix the issue above by not considering the complex predicate as an equivalence, but try to rewrite it in terms of a single input.

[code]

However, that is not entirely correct, since if the predicate cannot be rewritten in terms of a single join input it should still be considered as an equivalence? Idk...

[2021-06-07 10:00] philip-stoev opened #6950 "coord: ```IF NOT EXISTS``` causes various creation-time errors to be ignored , success reported instead to user"
### What version of Materialize are you using?

[code]

### What was the issue?

Thanks to @petrosagg for scrolling through this code as he was screen-sharing during this presentation.

```coord.rs``` has multiple code blocks like this:

[code]

In other words, if the ```NOT EXISTS``` flag is set, any error coming from ```catalog_transact``` will be silenced even errors that are not "object alread

[2021-06-07 13:43] sploiselle commented on #6949
Ah, yeah––this is because the data is currently getting sent back to the client as `text` because we haven't yet implemented the proper binary encoding for it to be read as a PG `numeric`. Will leave this issue open and assigned to myself as insurance that this gets resolved when we merge `apd` into `numeric` in MZ.

[2021-06-07 13:57] umanwizard commented on #6296
After discussion with Ruchir we came to the conclusion that this is probably not urgent enough to be top pri.

[2021-06-07 15:32] #6950 closed

[2021-06-07 16:10] frankmcsherry opened #6953 "[docs] SQL section of architecture documentation"
#6308 is missing a section on the SQL front end.

cc @benesch for triage.

[2021-06-07 16:11] frankmcsherry opened #6954 "[docs] Catalog section of architecture documentation"
#6308 is missing a section on catalog properties and manipulation.

cc: @benesch for triage

[2021-06-07 16:12] frankmcsherry opened #6955 "[docs] Timestamp determination missing from architecture overview"
#6308 landed without information on timestamp determination for queries.

cc: @mjibson for triage

[2021-06-07 16:14] frankmcsherry opened #6956 "[docs] Sources and Sinks missing from architecture doc"
#6308 landed without information on sources and sink.

cc: @umanwizard for triage.

[2021-06-07 17:11] #6865 closed

[2021-06-07 17:15] benesch commented on #399
This did in fact get done! The resulting type was called `DataflowDesc`: https://github.com/MaterializeInc/materialize/blob/17a67b4f6bd0daa18014c147100ec8022c2c3d69/src/dataflow-types/src/types.rs#L77-L101

It's probably evolved substantially since this issue was filed, but morally I think we can consider this complete!

[2021-06-07 17:15] #399 closed

[2021-06-07 17:20] benesch commented on #1919
We've got consensus that we ought to consolidate Kafka consumers (#3791, #6450). Short of replacing librdkafka, I don't think there's any other way to solve this issue, so going to close this out.

[2021-06-07 17:20] #1919 closed

[2021-06-07 17:26] benesch commented on #3794
Now that we've agreed that #3791 is worth doing, the remainder of this issue (atomically creating multiple dataflows) is covered by #318, so let's centralize discussion there!

[2021-06-07 17:26] #3794 closed

[2021-06-07 17:30] ruchirK commented on #3793
this is covered by #6532

[2021-06-07 17:30] #3793 closed

[2021-06-07 17:31] quodlibetor opened #6957 "Release: 0.8.0"
## Current status: 🚀 [Released](https://github.com/MaterializeInc/materialize/releases/tag/v0.8.0) 🚀

## Announce the imminent release internally

- [x] Create this release issue.
- [x] Check for open blocking issues:
  - [x] For any release, check if there are any open [`M-release-blocker`][rel-blockers]
    issues or PRs
    - [x] Document postgres sources, seems to be for 0.9: https://github.co

[2021-06-07 17:33] uce commented on #6689
Fixed in https://github.com/MaterializeInc/materialize/pull/6941.

[2021-06-07 17:33] #6689 closed

[2021-06-07 17:45] umanwizard commented on #6956
I think filling this in depends on the project to define the interface between the sources module and the rest of the system.

[2021-06-07 17:50] benesch commented on #4307
0.7 has shipped.

[2021-06-07 17:50] #4307 closed

[2021-06-07 17:51] benesch commented on #333
@mjibson is working on some consistency stuff that supersedes this issue. Closing!

[2021-06-07 17:51] #333 closed

[2021-06-07 17:53] benesch commented on #375
This got duplicated as #3791. That issue has more detail now, so closing this one. See also #6450.

[2021-06-07 17:53] #375 closed

[2021-06-07 17:54] benesch commented on #426
We seem to have found a set of Clippy lints that people broadly think are valuable, so I no longer think there's anything to do here.

[2021-06-07 17:54] #426 closed

[2021-06-07 17:56] benesch commented on #452
I don't think this is particularly actionable any more. We'll just have to let active/active replication guide the design here.

[2021-06-07 17:56] #452 closed

[2021-06-07 18:00] benesch commented on #692
I believe we got this with the map-filter-project operator (#6339).

[2021-06-07 18:02] cuongdo commented on #6586
@quodlibetor Where do we stand with this bug?

[2021-06-07 18:03] benesch commented on #678
We've supported `AS OF` for quite a while!

[2021-06-07 18:03] #678 closed

[2021-06-07 18:05] benesch commented on #777
I think we can consider this done with the temporal filters work that landed (#5635).

[2021-06-07 18:05] #777 closed

[2021-06-07 18:06] benesch commented on #846
@danhhz has taken this on. There are various Google Docs floating around internally mapping this out, and a proper team that is owning this project, so I'm going to consider this done!

[2021-06-07 18:06] #846 closed

[2021-06-07 18:31] frankmcsherry commented on #692
@asenac may want to revive this, as he is specifically interested in a multilinear operator as proposed here. That would be something we do not yet have.

[2021-06-07 18:41] ruchirK commented on #391
I think we can close this issue too - given that render.rs now has a dedicated lower level IR and performs optimizations?

[2021-06-07 18:42] benesch commented on #1312
Tables are now our answer to this, especially once we support table persistence. #1701 tracks the addition of an HTTP interface to tables.

[2021-06-07 18:42] #1312 closed

[2021-06-07 18:43] ruchirK commented on #493
Is the intent of this issue covered by the memory usage visualization that @mjibson built (I know that didn't use the exact solution described in the issue)

[2021-06-07 18:49] ruchirK commented on #1357
I think we can close this because we don't have bootstrap.sql anymore?

[2021-06-07 18:58] umanwizard commented on #493
I don't think so, as that only counts number of rows, without taking into account the size of each row.

[2021-06-07 19:57] benesch commented on #1076
We support this in the pgwire protocol via `COPY`, cursors, and streaming directly for clients that support it, so closing this!

[2021-06-07 19:57] #1076 closed

[2021-06-07 20:01] benesch commented on #1078
#1076 and #1080 are done now. #1031 and #1077 are still todo, but low priority. Going to close this issue because empirically I don't think this framing has panned out.

[2021-06-07 20:01] #1078 closed

[2021-06-07 20:07] benesch commented on #2599
This hasn't been an issue lately, I don't think.

[2021-06-07 20:07] #2599 closed

[2021-06-07 20:09] frankmcsherry opened #6966 "Add function to report the size of a row in bytes"
Consider a table-valued function that for each row reports the number of bytes required to represent the row. This seems like a handy method that could be used for diagnostics, for us to track what sort of slop we are maintaining, and for users to try and get a handle on which ways of representing their data may be more or less efficient. It gives us a lower bound on the amount of memory we should

[2021-06-07 22:24] benesch commented on #1824
We're swapping out our decimal implementation, and now we have a new issue to track this: #6846.

[2021-06-07 22:24] #1824 closed

[2021-06-07 22:25] #5 closed

[2021-06-07 22:25] #126 closed

[2021-06-07 22:26] #51 closed

[2021-06-07 22:26] #384 closed

[2021-06-07 22:26] #391 closed

[2021-06-07 22:27] #572 closed

[2021-06-07 22:29] benesch commented on #1568
Closing per @quodlibetor's compelling arguments.

[2021-06-07 22:29] #1568 closed

[2021-06-07 22:29] #3624 closed

[2021-06-08 02:31] ruchirK commented on #2211
I think we can close this?

[2021-06-08 02:33] ruchirK commented on #2686
I think we can close this one?

[2021-06-08 02:35] ruchirK commented on #2915
This has merged with experimental support

[2021-06-08 04:33] benesch opened #6978 "ci: exactly-once sink test is flaky"
See, for example: https://buildkite.com/materialize/tests/builds/18006#0353d456-78da-4205-b020-e125a4ee059a

[2021-06-08 09:12] philip-stoev opened #6984 "pg-cdc: DROP DATABASE may fail if the postgres server is not available"
### What version of Materialize are you using?

[code]

### What was the issue?

```DROP DATABASE``` may fail if the postgres server is no longer there.

the pg-cdc-resumption testdrive reports the following:

[code]

While the materialized log has the following:

[code]

### Is the issue reproducible? If so, please provide reproduction instructions.

I got it by running pg-cdc and pb-cdc-resumpti

[2021-06-08 09:44] asenac commented on #692
Yes! This is basically the idea behind the query graph model. Normalization/simplification is a lot easier/simpler with a reduced set of logical operations. I think we should revive this and do it after the LIR is pushed. Then, we can fuse these operators into one and move join planning to the code that does the MIR -> LIR transformation.

[2021-06-08 10:14] asenac commented on #6944
The following patch adds a workaround for the issue in the comment above:

[code]

[2021-06-08 14:36] aljoscha opened #6985 "Allow manually specifying a (non-enforced) primary key on sources"
Currently, Materialize only knows about primary keys for Kafka and Postgres sources. This possibly reduces optimization potential and in some cases prevents users from using certain constructs.

The immediate motivation for this is https://github.com/MaterializeInc/materialize/pull/6709 which added a check to UPSERT sinks that verifies that the sinked relation actually has a compatible primary key

[2021-06-08 14:48] ruchirK commented on #6978
I can reproduce the flakiness on my laptop - will look more closely this afternoon

[2021-06-08 14:50] ruchirK commented on #4216
I'm not sure we still need this given Frank's suggestion above - should I close this issue?

[2021-06-08 14:54] benesch commented on #4216
Yes do it!

On Tue, Jun 8, 2021 at 8:50 AM Ruchir Khaitan ***@***.***>
wrote:

[2021-06-08 14:55] petrosagg commented on #6984
Materialize fails to drop the database because the drop cascades to the source which will attempt to clean up the slot we created. If we ignore this error the upstream database will have a leftover slot that will slowly eat up all disk space unless manually deleted.

Should we close this as not a bug?

[2021-06-08 15:45] benesch commented on #6985
This is a wonderful writeup! Thanks very much for doing the survey of the other database systems. I don't think we need any more of a design doc than this. Let's get this scheduled!

[2021-06-08 15:45] asenac opened #6987 "optimizer: redundant outer joins are not detected and removed in the optimizer"
[code]

The join above could be completely removed since none of the columns from the non-preserving side are needed, and for each row in the preserving side there will always be a matching row from the non-preserving side (either a unique one or the null one).

[2021-06-08 15:47] asenac opened #6988 "optimizer: redundant join not removed"
[code]

The join above could be removed since both operands come from the same source and are joined through their unique key.

[2021-06-08 16:02] frankmcsherry opened #6990 "[durability]: Assess and document durability for Kafka upsert sources"
It would seem that with Kafka upsert sources, which are able to compact themselves without damaging their long-term interpretability of the data, and persisted source timestamps, we have the ability to claim some amount of durability. I think we probably don't actually have "durability" yet (e.g. the coordinator hasn't been trained to hold back SELECT answers until timestamps are durable) but we c

[2021-06-08 16:17] #6877 closed

[2021-06-08 16:17] #6883 closed

[2021-06-08 16:18] sploiselle commented on #6912
Closed by #6945

[2021-06-08 16:18] #6912 closed

[2021-06-08 19:41] ruchirK opened #7003 "De-experimentalize real time source exactly-once sinks"
Exactly once sinks (reuse kafka topic names as asked for in #2915 ) merged behind the experimental flag in #6926 but has some known flakiness as covered in #6978 -- lets fix the flakiness, do some more testing and get this out for real

- [x] #7598
- [x] further load and chaos tests, especially against RT sources. This will likely shake out some more concerns but the one known performance issue is

[2021-06-08 20:20] quodlibetor opened #7004 "Kafka Sources: Support accessing message metadata in dataflows"
Split off from #5863 , Kafka metadata properties like timestamp, offset, etc have been variously requested either for internal purposes or by users.

[2021-06-08 21:04] ruchirK commented on #7004
Possible duplicate of #1577 and #2268

[2021-06-08 21:45] quodlibetor commented on #2211
Oh yeah this is done. The test definitely needs to be improved, but it does exist and catches issues.

[2021-06-08 21:45] #2211 closed

[2021-06-09 04:41] mjibson opened #7008 "optimize_dataflow can get stuck on large static views"
The following SQL (7 billion static rows) will hang the coordinator in ship_dataflow when it calls `transform::optimize_dataflow(dataflow)`. That function should perhaps be more sensitive to not over optimizing, and like timeout or bail at a certain depth, and/or become async? I'm making up solutions for something I don't understand, so someone can probably come up with a better one.

[code]

[2021-06-09 05:03] mjibson commented on #7008
`COPY (select * FROM generate_series(1, 100000)) TO STDOUT;` similarly makes `Optimizer.optimize` hang for many seconds for a mere 100k rows. Not sure if this is the same problem but feels possible.

[2021-06-09 08:23] philip-stoev opened #7009 "s3: "failed to read from SQS queue" error reported in the log, but does not cause the source to error out"
### What version of Materialize are you using?

[code]
### What was the issue?
@antiguru  as mentioned during our call.

If the SQS queue goes away, the retries are exhausted and the log ends like this:
[code]

But the source is not put in an errored state.

### Is the issue reproducible? If so, please provide reproduction instructions.

1. Run the existing SQS test:
[code]
2. Kill the localstack

[2021-06-09 08:26] philip-stoev opened #7010 "s3: all keys from a single bucket are not ingested in a single transaction"
### What version of Materialize are you using?

[code]
### What was the issue?

As @antiguru observed, individual keys from S3 are ingested separately, so they do not form a single transaction. Therefore, the user can see partial view of their data.

### Is the issue reproducible? If so, please provide reproduction instructions.

@antiguru has reported seeing this visually as he worked on S3

[2021-06-09 11:50] uce commented on #6553
@umanwizard @JLDLaughlin I'd be happy to look into this if you didn't start yet.

[2021-06-09 14:29] frankmcsherry opened #7012 "[coord] Queries create redundant arrangements"
A relatively simple queries like
[code]
Should be just a reduce operator, which produces arranged data that can then be consulted. However, the `DataflowDesc` built at the coordinator has two objects to build,
[code]
There are 1. the reduce operator, which produces an arrangement by its key, and 2. a new arrangement using both columns. We have elsewhere the information that primary keys are a grea

[2021-06-09 14:47] frankmcsherry commented on #7012
It seems like we may be messing this up for materialized views as well, which are intended to pick smart keys based on the unique key structure of the query relation.
[code]
This produces a collection that has `a` as a unique key, and forms an arrangement on it. However, in our `DataflowDesc` for this, we build a second arrangement and export that:
[code]

[2021-06-09 14:55] frankmcsherry commented on #7012
In the SELECT code, we unconditionally choose to build an index on all columns, even if a different arrangement already exists (or perhaps: without knowing a different arrangement exists):
[code]

[2021-06-09 15:35] umanwizard commented on #3370
@quodlibetor is this roughly the same as #5863 ?

[2021-06-09 15:40] umanwizard commented on #6433
This seems like it could be a mistake in the spec, as they don't explain what `default` is supposed to mean here -- they only explain that for `default` in a record field definition. It's reasonable to assume that it means the same thing (use the given value as the field default value if the field is missing in the writer schema), but it doesn't seem to make much sense for that to be part of the t

[2021-06-09 15:47] cuongdo commented on #6553
This has no assignee, so I'm assigning to @uce

[2021-06-09 15:47] ruchirK commented on #6978
I merged a temporary fix in #6996

[2021-06-09 15:47] #6978 closed

[2021-06-09 15:59] #6966 closed

[2021-06-09 17:35] #7012 closed

[2021-06-09 18:01] wangandi commented on #4951
Am I understanding you correctly when I think:
* You're not making a statement as to whether or not you believe the ability to create keyless indexes is a bug.
* You believe regardless of whether or not the ability to create keyless indexes is a bug, we should change the interface for keyless indexes to use arrays/lists.

[2021-06-09 18:02] frankmcsherry commented on #4951
Ah, I should have said that yes. I read it and thought "that's not a bug" and then saw the final bit about us not reporting them and thought "that is a bug!".

[2021-06-09 18:42] umanwizard commented on #6385
Having thought more about this, I don't think it's a P1 issue.

We should indeed fail hard for the `deduplication = full` case, because that's the only place where Kafka keys are semantically meaningful. For `UPSERT`, this is not an issue at all, and we probably shouldn't even warn (do we now?). For `DEBEZIUM`, this issue will only prevent various optimizations from being applied; it will not caus

[2021-06-09 18:44] umanwizard commented on #6985
+1

[2021-06-09 19:21] aljoscha commented on #6385
I would, yes. The change would be: when `ENVELOPE DEBEZIUM` and `deduplication = full` are requested we fail instead of logging a warning. I think that should already be it.

For `ENVELOPE UPSERT`, the key columns don't have to be a subset of the value columns, and we don't check or log anything.

[2021-06-09 20:16] #6957 closed

[2021-06-10 05:43] philip-stoev commented on #6385
Apologies for the late response. Thank you very much for the discussion -- please proceed as you see fit. After  #5863 lands and keys are exposed, I will be able to check for any residual correctness issues that may have remained and provide provable test cases.

[2021-06-10 07:54] philip-stoev opened #7021 "apd: Value casted to scale N may not fit in scale N"
### What version of Materialize are you using?

[code]

### What was the issue?

Casting should return an error if the value does not fit in the scale requested. Both the existing decimal and the new apd type are affected.

This is a correctness issue because we are returning a value that is wider than the desires of the user. Such a value can then be mangled upstream by any code that is not ready

[2021-06-10 09:52] antiguru commented on #6433
I think this is a mistake in the spec. The Avro parser does not use the `default` value defined on the type in any useful way. The `default` value on the field is correctly used as the field's default value. The following test within Avor fails as expected:

[code]

Result:
[code]

Here is my research trail:
* Avro parser: [Schema::parse(...)](https://github.com/apache/avro/blob/68708e718c8f373176

[2021-06-10 10:39] cuongdo commented on #6943
@frankmcsherry could you please triage?

[2021-06-10 11:02] philip-stoev commented on #6433
I am fine with closing, it was a niche issue anyway.

[2021-06-10 11:41] antiguru commented on #6433
It seems the error was introduced with https://github.com/apache/avro/pull/662 and https://issues.apache.org/jira/browse/AVRO-2574. Should we raise it as a concern with Avro?

[2021-06-10 11:52] uce commented on #6433
@antiguru With my Apache hat on, I'd say yes, please 👍🏼

[2021-06-10 12:33] frankmcsherry commented on #6943
This fix looks correct; @asenac do you mind putting a PR together?

[2021-06-10 12:37] umanwizard commented on #6433
What’s the proper channel for reporting issues with the Avro spec? I’ve tried one or two times on the Avro users’ mailing list, but never got a response. Perhaps there’s a better channel for Avro implementors to discuss the spec?

[2021-06-10 12:50] uce commented on #6433
Creating an issue at https://issues.apache.org/jira/projects/AVRO/issues. If the Jira project requires special permissions for new users to create a ticket, I would suggest to write to the dev mailing list.

Since the PR linked by Moritz was done by a committer/PMC, I'd expect that we will get an answer soonish.

[2021-06-10 13:19] cuongdo commented on #5262
@umanwizard what is the latest on this issue?

[2021-06-10 13:20] antiguru commented on #6433
I filed an issue: https://issues.apache.org/jira/browse/AVRO-3155

[2021-06-10 13:31] petrosagg commented on #6600
The current implementation supports all datatypes that mz supports

[2021-06-10 13:31] #6600 closed

[2021-06-10 13:45] msudberg opened #7024 "doc: Users need to import a new GPG signing key in order to upgrade"
As a consequence of our migration from Bintray to S3, users will need to import a new GPG signing key -- upgrading will be broken until they do.  We should add a docs note on this and link to it from community Slack.

https://materializeinc.slack.com/archives/C015RHB3LDR/p1623274738084900

cc: @umanwizard, @ruf-io

[2021-06-10 14:36] umanwizard commented on #5262
It depends on https://github.com/MaterializeInc/materialize/issues/6553 , which will involve fixing an edge-case in how Debezium emits sequence numbers. After we do that (requires upstream work in Debezium) and the release goes out, then we can start reading those sequence numbers in Materialize which will finally fix this issue.

Alternatively, we could fix this now, and it should make postgres/d

[2021-06-10 14:37] videni commented on #5971
Hope this can be resolved soon, need this feature badly

[2021-06-10 14:37] umanwizard commented on #5262
Added to the Sources and Sinks project board so we don't lose track of this

[2021-06-10 15:09] petrosagg commented on #5971
@videni the feature is included in the 0.8 release (that got out just yesterday!) behind the experimental flag! So you can just download the new binary and try it out :)

We're in the process of finalizing documentation here https://github.com/MaterializeInc/materialize/pull/7017

[2021-06-10 15:36] asenac commented on #6943
Working on it.

Simpler version:
[code]

Note: I'm still trying to verify/understand the resulting plan is correct.

[2021-06-10 17:05] #6385 closed

[2021-06-10 17:30] sploiselle opened #7030 "apd: allow untyped values to be coerced to APD"
undo #7029

[2021-06-10 17:31] #2597 closed

[2021-06-10 17:35] frankmcsherry commented on #978
Closing as addressed by temporal filters.

[2021-06-10 17:35] #978 closed

[2021-06-10 18:10] frankmcsherry commented on #6790
I marked this as P2, as there is a very simple query one can type that will wedge Materialize. It's kind of the user's fault, but it is still worryingly easy.

[2021-06-10 18:53] umanwizard commented on #6405
@quodlibetor , @benesch do I understand correctly that the implementation of this is relatively easy, and it's figuring out the actual semantics of the variable that is hard?

If so, let's just pick one and document it well. Copying what golang or curl does seems fine.

[2021-06-10 19:28] frankmcsherry opened #7031 "[dataflow] Arrangement -> Stream operator is not fueled"
The operator that turns an arrangement into a stream of updates does not use "fuel", in the sense that it will run to completion even if that involves a substantial amount of data production. This operator is a bit like a source, in that it produces dataflow data "from nothing", and not fueling things can result in substantial bursts of work for other operators. Adding fuel based limiting has the

[2021-06-11 05:28] videni commented on #5971
@petrosagg  , thanks for your quick reminder.

[2021-06-11 09:23] #6947 closed

[2021-06-11 11:21] asenac commented on #6943
As we were guessing, the plan after applying the fix above is not correct. The error filter ends up being pushed on top of the outer table, which makes all executions of the query throw and error if the outer table is not empty, which should return NULL result instead.

The plan becomes wrong somewhere around here:

[code]

%2 is removed since it returns no rows, which makes %4 go away as well, th

[2021-06-11 11:28] asenac commented on #6943
`Filter false` in %2 appears after pushing down the predicate from the join. It is pushed through union %4, but it doesn't reach %0 which would invalidate both branches of the union. Instead it results in the removal of the result branch, leaving the error branch behind:

[code]

after predicate pushdown:

[code]

After column knowledge:

[code]

[2021-06-11 11:33] frankmcsherry commented on #6943
What's happening here, btw, is that in `lowering.rs` we introduce the error checking code that implements what I was given for SQL semantics (if the subquery as written would return multiple results, it should be an error). This behavior will be preserved under arbitrary rewrites of the `MirRelationExpression`.

Tbh, I'd love for team SQL to take over "SQL semantics" and be in charge of things lik

[2021-06-11 13:58] #4915 closed

[2021-06-11 15:53] danhhz commented on #1532
@frankmcsherry Do you have any thoughts about how to implement this?

I tried to pick this off as a skunkworks friday project, but none of the approaches I tried were satisfying. First, I'm assuming we want to keep this info maintained, instead of computing it in response to a request. It feels like having to walk an entire arrangement each time we want this isn't going to scale. The intuition I w

[2021-06-14 08:16] philip-stoev opened #7035 "storage: librdkafka: "Timed out FetchRequest in flight" after temporary network disruption, ingestion fails with no error in source"
### What version of Materialize are you using?

[code]

### What was the issue?

One of the Antithesis test runs produced the following error:

[code]

The error implies that ```FetchRequest``` timed out after 60 seconds in flight. While it is true that Antithesis disrupted the network multiple times within that time period, their logging indicates that packets were being exchanged during the peri

[2021-06-14 17:23] awang commented on #6859
fixed by https://github.com/MaterializeInc/materialize/pull/7017

[2021-06-14 17:23] #6859 closed

[2021-06-14 17:45] aljoscha opened #7043 "sinks,kafka: sinking a materialized view will queue all messages, causing memory usage to spike"
The Kafka sink stashes records for "open" timestamps until they are finalized/consistent/durable. The (avro) encoded records are essentially stashed in a `Vec` in a `HashMap` (see [1] and [2]).

When sinking a materialized view, all sinked records have the same timestamp (more or less, possibly depending on timestamp compaction). Say the view has 100M individual entries. The (Kafka) sink will now

[2021-06-14 17:46] aljoscha commented on #7043
cc @nmeagan11 and @frankmcsherry (because you mentioned this to Cuong, apparently)

[2021-06-14 18:30] aljoscha commented on #7043
Also, thanks @krishmanoh2 for reporting this!

[2021-06-14 18:38] frankmcsherry commented on #7043
Related to: https://github.com/MaterializeInc/materialize/issues/2808

[2021-06-14 21:22] frankmcsherry opened #7046 "[optimization] Introduce RelationExpr CSE"
Our analysis will inline `Let` expressions, but does no hard work to identify opportunities to create `Let` expressions that re-use expressions. Re-using expressions would result in fewer dataflow fragments, which results in less computation and less state maintained, at least from those fragements.

The downside of `Let` bindings is that we lose the opportunity to optimize expressions independent

[2021-06-15 07:49] philip-stoev opened #7047 "wrong result: Query with subquery, aggregate, outer join wrongly reduced to Constant"
### What version of Materialize are you using?

[code]

### What was the issue?

This reasonably valid, plausible, realistic, non-impossible, entirely possible, non-self-defeating query:

[code]

Is judged to have a Constant plan:

[code]

and returns no rows whereas it should have returned a row as per Postgresql:

[code]

I think the ```Constant``` verdict comes from the ```ON FALSE``` clause, h

[2021-06-15 08:32] asenac commented on #6944
https://github.com/MaterializeInc/materialize/pull/6936#issuecomment-860811280 The patch in that comment also fixes this issue.

[2021-06-15 08:35] philip-stoev opened #7048 "panic: "Collection not pre-loaded" with nested aggregates, subquery"
### What version of Materialize are you using?

[code]

### What was the issue?

This at-least-remotely realistic query:

[code]

results in the following panic:

[code]

All the instances of ```TRUE``` in the query were put there by the automatic simplification, initially there were more complex expressions in those positions.

### Is the issue reproducible? If so, please provide reproduction ins

[2021-06-15 09:19] philip-stoev opened #7049 "wrong result: outer join inside derived table reduced to inner join in the presence of aggregates, top-level where clause"
### What version of Materialize are you using?

[code]
### What was the issue?

If an outer join is inside a derived table and there is a realistic aggregation and where clause, it will be reduced to an inner join. The dataflow bits that otherwise produce the ```NULL``` values for any non-matching rows are no longer present. The aggregation and the outer query will then return wrong results.

###

[2021-06-15 09:38] asenac commented on #7049
Same issue can be reproduced without a derived relation, but a having filter:

[code]

[2021-06-15 09:54] asenac commented on #7049
For some reason, the having filter triggers the conversion of the outer join into an inner join:

[code]

[2021-06-15 10:38] asenac commented on #7049
The bug seems to be in NonNullRequeriments transform. It erroneously assumes that a null input for an aggregate function is required for it not to be null. That is true for min,max,sum,etc, but not for COUNT. The following patch fixes this issue, although it should depend on the actual agg function:

[code]

Symmetrically, column knowledge should not forward the nullable flag of the input expressi

[2021-06-15 10:46] asenac commented on #7049
Also, according to the buggy code above, the non-null requirement is only forwarded if and only if there is exactly one aggregation:

[code]

[2021-06-15 20:29] mjibson opened #7062 "repr: intervals accept various incorrect things that postgres rejects"
For example, these should be rejected:

[code]

Found with the following Go program:

[code]

[2021-06-15 20:50] aljoscha commented on #7043
Thanks! One of the approaches I have in my head for CDCv2 sinks would work like #2808. I have half a mind to do that even though it seems a smidge more complicated than our current sinks in the short run.

The scheme I have in mind allows writing batches in parallel (multiple workers) and still get exactly-once semantics with RT-timestamping. However, even with that, we would have to wait for RT t

[2021-06-15 22:52] JLDLaughlin opened #7067 "dbt-materialize: support authenticated connections"
Currently, we don't support any sort of authenticated connection from dbt to Materialize. We only support the connection parameters outlined in our [sample profiles](https://github.com/MaterializeInc/materialize/blob/main/misc/dbt-materialize/dbt/include/materialize/sample_profiles.yml#L20):
[code]

Different types of authentication options were listed in our [community Slack](https://materializec

[2021-06-16 07:25] #6943 closed

[2021-06-16 08:04] philip-stoev commented on #7047
Yes.  but the plan is now inner-join-y whereas the original query has an outer join. Would you mind pushing this query into your .slt test and closing this ticket as a duplicate?

[2021-06-16 09:55] asenac commented on #7047
Done. The inner join plan is OK, since `count(right_table.f1) on false` is equivalent to `count(null)`.

However, we should detect that `count(null)` is always 0. Filing a ticket for that.

This issue will be automatically closed when merging #7052 .

[2021-06-16 10:00] asenac opened #7069 "optimizer: count(null) is always 0"
Spotted while working on #7047. LiteralLifting transform isn't detecting that `count(null)` is a compile-time constant. The plan below should just be `Constant (0)`.

[code]

[2021-06-16 11:07] cuongdo commented on #6586
@quodlibetor we could use an update on this bug, as well as a plan to make progress

[2021-06-16 11:08] cuongdo commented on #7003
As this is a P1, what is the next step for this issue? Is it removing the nonce?

[2021-06-16 11:09] cuongdo commented on #5262
This is a P1 issue and lacks an owner. Does this make sense for @JLDLaughlin to own, since she did the earlier upstream PR?

[2021-06-16 11:46] frankmcsherry opened #7070 "[dataflow] Explicitly plan TopK stages"
The `TopK` stage is sufficiently non-trivial that we should plan it, like we do for `Reduce` and `Join`. The `Reduce` example is probably the closest, though it is much more complex than `TopK` requires.

[2021-06-16 12:35] frankmcsherry opened #7071 "Support expressions in `LIMIT` and `OFFSET` clauses"
Postgres will allow you to write
[code]
whereas we do not have this ability. At the lowest level, our `TopK` operator requires a constant `offset` and `limit`, though this could be generalized to "any function of the key", which would unlock the uses like above for lateral joins.

[2021-06-16 12:40] awang opened #7072 "Specific exact topic name when creating a Kafka sink"
**Proposal**
allow users to specify the exact topic name that will be used by a Kafka sink.

**Background**
Now that exactly-once sinks have been released, the nonce has been removed, and topic names are now stable across Materialize restart.

The Kafka topic name is now `{prefix}-{dataflow-id}`, where the user configures the prefix. We believe it will be much easier to allow users to fully contro

[2021-06-16 13:03] aljoscha commented on #7043
Also seems related to this: #7031

[2021-06-16 13:33] awang opened #7073 "Document how to use exactly-once sinks"
We've added a new `exactly_once` WITH option (which needs to be documented).  Note that both `exactly_once` and `consistency_topic` need to be set for exactly_once to work.

example:
[code]

Note that this is an experimental-only option. I don't recall the exact procedure for how to document this in the release notes

[2021-06-16 13:52] #6433 closed

[2021-06-16 13:55] umanwizard commented on #5262
@quodlibetor , are you interested in picking this up? It should be a relatively simple change -- we need to start reading the `sequence` field in Debezium output when it exists, rather than the LSN field as we're reading now.

[2021-06-16 14:02] aljoscha commented on #7043
Couple thoughts on my earlier, ahem, thoughts

**This is already what an arrangement gives us.** Change batches are only sent downstream when the frontier has passed them. Someone more knowledgeable should confirm, though.

I'm thinking more and more that we could do a very nice sink with CDCv2. Writing in parallel, good performance ...

Coming back to the immediate issue. I believe the only reaso

[2021-06-16 14:06] krishmanoh2 commented on #7073
Does it make a difference if using envelope upsert/debezium ?

[2021-06-16 14:15] umanwizard commented on #5262
I spoke to Brandon; he will tentatively pick this up. He already has a lot on his plate and is out next week, so we can reassign if necessary if it doesn't get done.

[2021-06-16 14:32] ruchirK commented on #7003
Sure:

theres a couple of small prs to fix the glitchiness issues

1. https://github.com/MaterializeInc/materialize/pull/7053
2. https://github.com/MaterializeInc/materialize/pull/7065

and then I'll merge a fix for https://github.com/MaterializeInc/materialize/issues/7072, and then this is ready for user testing.

Once we have user testing and are ready for de-experimentalizing I think we should

[2021-06-16 15:02] aljoscha commented on #7003
There is also https://github.com/MaterializeInc/materialize/issues/6035, and potentially other problems with EO sink performance. I do remember from testing a while back that there is a 20% (plus or minus) hit to performance with EO enabled in the sink.

I do agree with your suggestion, though!

[2021-06-16 15:43] umanwizard commented on #7010
Do we expect all elements of a given bucket to be at the same timestamp? We've never discussed this, AFAICT.

[2021-06-16 15:44] quodlibetor commented on #6586
## Was it in rdkafka?

The first thing that I investigated was exactly how it could be possible for rdkafka to
permanently disconnect. It is well-designed, though, and essentially always reconnects after any
timeout.

I started by adding a backtrace to the error handler that was generating some of the concerning
logs to see some relevant code paths:

[code]

Our entrypoint to getting messages from

[2021-06-16 15:49] umanwizard commented on #6010
@philip-stoev  - are you working on coming up with a test for this ?

[2021-06-16 16:03] awang opened #7074 "CREATE SOURCE dbt macro"
details forthcoming, [requested by a user](https://docs.google.com/document/d/1PZg6P0XAOHM0tuKxhXUAcmMeaq87fizPT-l-38SM9Ew/edit#bookmark=id.xh9u6usgvpap) (internal doc). unknown priority

if we're adding CREATE SOURCE, we should consider adding CREATE SINK as well.

[2021-06-16 16:09] philip-stoev commented on #6586
@quodlibetor that is a massive debugging effort, apologies for sending you on a wild goose chase! If this ```AS OF X``` thing complicates things, should I find another test that fails that does not rely on compaction -- from Antithesis testing it seems that tests unrelated to compaction are also failing in a similar manner.

There is at least one more bug -- librdkafka reports an ```ERROR``` in th

[2021-06-16 17:06] #6933 closed

[2021-06-16 17:21] asenac commented on #6944
After #6936 both plans in the description lead to the same plan.

[code]

[2021-06-16 17:21] #6944 closed

[2021-06-16 17:26] #6244 closed

[2021-06-16 17:53] quodlibetor commented on #6586
the `AS OF X` issue didn't distract me for very long, I just thought it was worth pointing out, as mentioned there's definitely another bug.

If you have an list of other tests that fail in similar ways that definitely might help me narrow down or expand my search, I'd appreciate any subset of them.

[2021-06-16 20:28] umanwizard opened #7081 "Catalog corruption caused by map cast syntax"
In psql:

[code]

On restarting Materialize:

[code]

[2021-06-16 20:40] mjibson opened #7083 "parser: add roundtrip parse-print-parse-print tests"
This would have caught #7081.

[2021-06-16 21:30] #7081 closed

[2021-06-16 21:32] ruchirK commented on #7003
@awang I spoke to Brennan about this but once #7072 and #7065 land (which I think can happen tomorrow) we are ready to have prospects play with exactly once sinks.

From my perspective, the remaining work to de-experimentalize the feature is

- extend our testdrive based tests to validate the contents of the consistency topic.
- further load and chaos tests, especially against RT sources. This wil

[2021-06-17 00:35] sploiselle commented on #6761
Avro schemas require a [fixed precision and scale for decimals](http://avro.apache.org/docs/current/spec.html#Decimal); this wasn't an issue for decimals previously because the scale was intrinsic to the type's declaration, e.g. the scale defaulted to 0. However, the new implementation supports dynamically scaled values.

To work around this, I'm encoding values with an indeterminate scale as valu

[2021-06-17 07:43] asenac commented on #6875
Example of wrong results due to this issue:

[code]

[code]

As Frank mentioned above, non-left-commutative joins, like `right join` or `full outer join`, lead to wrong results.

[2021-06-17 13:37] antiguru opened #7090 "Cleaning up S3 buckets after tests can fail"
### What version of Materialize are you using?

https://buildkite.com/materialize/tests/builds/18370
[code]

### What was the issue?

The test failed to delete the test buckets during cleanup:
[code]

https://buildkite.com/materialize/tests/builds/18370#00e56d84-58a6-4a08-b93c-815ace14e7cb/314-365

### Is the issue reproducible? If so, please provide reproduction instructions.

It cannot be reprod

[2021-06-17 16:10] umanwizard commented on #7009
@petrosagg can you give a size estimate for this?

[2021-06-17 16:19] petrosagg commented on #7009
@umanwizard you mean an estimate of how hard it is to put the source in an errored state when this happens or something else?

[2021-06-17 16:21] umanwizard commented on #7009
Yes, that is what I meant, but I got confused when I tagged you; should have asked @quodlibetor instead.

[2021-06-17 16:50] umanwizard commented on #7043
This also matches my understanding.

[2021-06-17 17:01] umanwizard commented on #6645
@nyancol This should be fixed with the latest unstable Materialize; the fix will go to the stable version in v0.8.1.

We believe it's fixed, but please reopen if you run into any issues.

[2021-06-17 17:01] #6645 closed

[2021-06-17 20:03] #7072 closed

[2021-06-17 21:41] JLDLaughlin commented on #7067
We now support TLS certificates! (From [this PR](https://github.com/MaterializeInc/materialize/pull/7084).)

I think that's good enough for now... if someone needs something else, feel free to comment here!

[2021-06-17 21:41] #7067 closed

[2021-06-18 00:33] JLDLaughlin commented on #7067
Submitted this change upstream as well!

[dbt issue](https://github.com/fishtown-analytics/dbt/issues/3472), [dbt PR](https://github.com/fishtown-analytics/dbt/pull/3473)

[2021-06-18 09:21] aljoscha commented on #7043
Thinking a bit outside the box. We emit records in timestamp order from the sink for two reasons:
 1. To satisfy the happens-before nature of UPSERT sinks. Updates that "happen" later in time need to be later in the topic, so that the sinked view can be faithfully reconstructed
 2. To write a DEBEZIUM consistency topic that is compatible with DEBEZIUM consumers, including our own DEBEZIUM source.

[2021-06-18 13:17] ruchirK commented on #7003
@awang exactly once sinks are ready for customer trials / ready to be documented as experimental. I'm going to assign this issue to @aljoscha now because he's going to own the rest of the de-experimentalization followups

[2021-06-18 14:09] asenac commented on #5213
We could convert `IN (values...)` into `IN (SELECT * FROM (VALUES(values...))`, but that still results in a cross join:

[code]

In a first pass we could rediscover the IN list after lowering, converting filters with nested ORs on the same column into a FlatMap operator.

[2021-06-18 19:18] nmeagan11 commented on #7074
Updated with priority P2 as there have been a couple user requests for this feature.

[2021-06-18 20:48] benesch commented on #7074
Have we gotten clarity on what exactly users are asking for?

[2021-06-18 20:59] antifuchs commented on #3562
I just hit this and am gonna take a stab at it. The main complicating factor is probably that re-creating the sink from a saved schema will be problematic, but we can remain backwards-compatible, probably... or maybe make a migration that drops unknown fields on upgrade

[2021-06-18 23:56] mlazowik opened #7105 "Panic when decoding Avro: range end index 10 out of range for slice of length 0"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Docker image
* [ ] Linux release tarball
* [ ] APT package
* [ ] macOS release tarball
* [ ] Homebrew tap
* [ ] Built from source

### What was the issue?

A panic.

### Is the issue reproducible? If so, please provide reproduction instructions.

Yes. I can't share the data and query that trigger th

[2021-06-21 06:34] antiguru commented on #6834
In #7097 we added support for emitting the `data_collections` field to the consistency topic. This would allow downstream clients to determine which collection changed. In our case, it is trivially the same information included in `event_count`, because our topics always only cover a single source relation. This is a first step towards allowing our code to re-ingest our own sinks with de-duplicati

[2021-06-21 08:24] philip-stoev opened #7107 "sql: Race condition in test_no_block, fake schema registry server may terminate with unexpected error message"
### What version of Materialize are you using?

[code]

### What was the issue?

Sporadic test failures have been observed in buildkite

https://buildkite.com/materialize/tests/builds/18388#cafa9670-90fa-4149-b2db-e78e236c77dd

I was able to reproduce the issue locally and this is the offending statement:

[code]

I added this instrumentation:

[code]

and so I am getting:

[code]

In other words,

[2021-06-21 11:52] frankmcsherry commented on #4987
Almost certainly related: https://github.com/MaterializeInc/materialize/issues/2310

[2021-06-21 12:16] frankmcsherry commented on #1532
Mostly that it probably isn't as important as folks think. Our perf debugging so far has been based on record counts, and those seem to be the ones that move the needle the most (that is: maintaining too many records has been a better indicator of problems than "I am surprised by what is in my data"). There is probably an observability bias here.

https://github.com/MaterializeInc/materialize/pull

[2021-06-21 12:56] umanwizard commented on #7107
https://github.com/seanmonstar/reqwest/issues/1221 possibly related?

[2021-06-21 13:35] uce commented on #6938
What do you think about adding a high-level best practices or style guide section to [mzbuild.md](https://github.com/MaterializeInc/materialize/blob/b401deb/doc/developer/mzbuild.md)? Ideally, we would have checks that prevent certain constructs, but I haven't checked yet how much we would be able to cover with automated checks.

[2021-06-21 13:39] umanwizard opened #7109 "For asserting cargo tests, the binary dumps core, and backtraces are not printed."
See for example:

https://buildkite.com/materialize/tests/builds/18388#cafa9670-90fa-4149-b2db-e78e236c77dd

Possibly relevant discussion: https://github.com/MaterializeInc/materialize/issues/279#issuecomment-865038929

[2021-06-21 13:40] umanwizard commented on #7107
Bumping to P2 on the hypothesis that `reqwest` is giving sporadic failures.

[2021-06-21 14:02] awang commented on #7074
@nmeagan11 can you add details?

[2021-06-21 14:56] antiguru opened #7112 "Crash in DD"
### What version of Materialize are you using?

Materialize running from branch [progress_4987](https://github.com/antiguru/materialize/tree/progress_4987)

`cargo run --bin materialized -- --dev --experimental`

### How did you install Materialize?

Built from source

### What was the issue?

Materialized crashed after left idling

### Is the issue reproducible? If so, please provide reproduction

[2021-06-21 15:20] umanwizard commented on #7107
We believe that this is fixed by https://github.com/MaterializeInc/materialize/pull/7111 , and that `reqwest` was not in fact giving sporadic failures.

@philip-stoev , if you see this again, do please reopen.

[2021-06-21 16:36] philip-stoev commented on #7107
This is still reproducible as described above after the following commit:

[code]

[2021-06-21 17:06] awang commented on #7074
i think these 2 issues might have more details:  https://github.com/MaterializeInc/materialize/issues/6788 and https://github.com/MaterializeInc/materialize/issues/6249

[2021-06-21 17:10] benesch commented on #7074
Oops, sorry, did not mean to press the "close" button here!

[2021-06-21 17:59] nmeagan11 commented on #7074
@awang #6249 is a duplicate of this ticket, so I will close this out.

@benesch There are more details in #6249, but to answer your question, our dbt adaptor is limited on what Materialize statements it supports, as we have not implemented all of the macros. There are now use cases where users want their dbt models to include creating Materialize sources.

[2021-06-21 17:59] #7074 closed

[2021-06-21 18:33] elindsey opened #7115 "[Epic] Surface connector errors (and consistent policy for errors/retries to external systems)"
Materialize has accumulated a long list of external systems that it interacts with. Most of these were integrated with fairly ad-hoc error/retry policies, so failures are surfaced in different ways or throw materialize into different states.

Some recent examples of issues we've found include:
https://github.com/MaterializeInc/materialize/issues/7035
https://github.com/MaterializeInc/materialize/i

[2021-06-21 18:47] awang commented on #7115
thanks for writing this up!  here's some of my thoughts re: UX:  https://github.com/MaterializeInc/materialize/pull/6843#issuecomment-850868937

[2021-06-21 19:05] antifuchs commented on #3562
Turns out this issue is already resolved! Source creation does now check for invalid options (they bubble up), and you can no longer pass `total_garbage`. The problem I ran into that made me think this issue was still in effect was that using "safe" mode throws an error that makes it appear as if an invalid option was considered valid.

[2021-06-21 19:05] #3562 closed

[2021-06-21 20:37] benesch commented on #6938
So we have a bit of linting that looks for known problematic constructs and rejects them: https://github.com/MaterializeInc/materialize/blob/main/misc/python/materialize/mzcompose.py#L93

They're fairly primitive at the moment. Unfortunately a lot of it comes down to "don't include unnecessary {environment variables, volume specifications, exposed ports}", and it's hard to lint those as a rule. I'

[2021-06-22 00:16] mlazowik commented on #7105
I just tried using `materialize/tb:v0.8.0` instead, same panic.

[2021-06-22 08:07] philip-stoev opened #7121 "wrong result with correlated subquery in WHERE clause - incorrect Distinct in final plan"
### What version of Materialize are you using?

```50a387878```

### What was the issue?

This query:
[code]

Has this incorrect plan:

[code]

The ```Distinct``` below the join is incorrect, as it incorrectly removes duplicate rows from the output . I assume this is some artefact from decorrelation.

### Is the issue reproducible? If so, please provide reproduction instructions.

[code]
Convertin

[2021-06-22 08:39] asenac commented on #7121
For some reason the two queries below result in different plans and hence different results, but they should be equivalent:

[code]

[2021-06-22 09:37] uce commented on #7069
Fixed in #7117.

[2021-06-22 09:37] #7069 closed

[2021-06-22 21:08] BenPope commented on #4401
Hi, I'm getting this error when running `./mzcompose run testdrive`, how do I fix it? It worked fine a couple of days ago, but today it's not working.

[code]

I'm trying to get the Redpanda Schema Registry integrated (yesterday I hacked it into passing all the tests, but I need to clean everything up and get it into a release)

[2021-06-22 21:38] ruchirK commented on #4401
Hi @BenPope !

This errror is expected / reproducible. Basically, when running testdrive Materialize created a sink to a file in a temporary directory, and then on restart it wants to open another file in the same directory but the temporary directory has been reclaimed and so it cannot anymore.

I'm not sure exactly what `mzcompose` command should clear the saved state in `mzdata` I think `mzcomp

[2021-06-22 22:41] BenPope commented on #4401
Thanks @ruchirK!

The command appears to be `./mzcompose down -v` - which also destroys the volumes.

[2021-06-23 00:24] frankmcsherry opened #7128 "[coord] Tables should support more verbs, timelines"
We currently allow folks to `INSERT` into a table, but afaict not otherwise manipulate it.

There seems to be no mechanical reason to prevent verbs like `ADVANCE TO <time>` or `CLOSE` or `INSERT AT <item>`. They are currently prevented by a conflation of policy (they must be "real time" sources) and mechanism, but we could de-conflate them, and unlock a fair pile of user-timestamped inputs.

[2021-06-23 06:59] philip-stoev commented on #7105
@mlazowik would you be able to share the following information, if not sensitive:
- the log from the debezium instance
- the schema for the data or at least some general characteristics about it? Are you using any complex types? The names of the fields are not important so you can obfuscate those if you like.

Thank you!

[2021-06-23 12:05] philip-stoev opened #7132 "panic if number of open file descriptors exceeds the limit (due to multiple AVRO OCF sinks)"
### What version of Materialize are you using?

[code]

### What was the issue?

In https://github.com/benesch/materialize/commit/8b3b192541f51db9b7a0db4ee60b7d495d29a383 an attempt was made to increase the number of available file descriptors to the hard limit. However, it does not protect against cases where the hard limit is low, such as 1024.

With a big number of workers and e.g. AVRO OCF sin

[2021-06-23 12:08] philip-stoev commented on #7132
This was previously discussed as #1919, and the discussion there turned to kafka sources.

In this ticket here, the reproduction scenario uses AVRO OCF sinks.

[2021-06-23 14:53] frankmcsherry opened #7134 "[dataflow] LIR should expose which arrangements are used and created"
The dataflow LIR contains some information about which arrangements are produced, and some information about which ones are used, but the information is not total. Unfortunately, that information isn't contain in the `MirRelationExpression` it gets as inputs (specifically, `Get` expressions do not name the arrangements they plan to make available).

We could put more effort into establishing clear

[2021-06-23 15:34] umanwizard commented on #7010
We've decided via discussion on Slack that this is not a bug.

[2021-06-23 15:34] #7010 closed

[2021-06-23 15:42] philip-stoev commented on #7010
@umanwizard what about individual lines from within the same bucket? Should those share a timestamp?

[2021-06-23 15:45] umanwizard commented on #7010
The consensus was that that should be configurable by the user -- we wouldn't want to enable it by default due to the large perf impact.

[2021-06-23 15:50] frankmcsherry commented on #6543
This looks great. I did want to add the caveat that this is *potentially* a pessimization in that in can remove a skew-free reduction that reduces the volume of updates and replaces it with a skewed operator that has to handle the total volume of updates. I don't think that is a good reason not to do it, but I did want to flag it!

[2021-06-23 15:53] nmeagan11 opened #7136 "Support for Regex in S3 Sources"
There is a use case where a user is storing data in JSON files in S3. Due to custom sharding across the JSON files, they may need to filter on multiple files in order to get the full dataset they're querying for. Currently, Materialize does support [pattern matching](https://materialize.com/docs/sql/create-source/json-s3/#patterns), but this does not cover the pattern search they need (waiting on

[2021-06-23 16:02] frankmcsherry commented on #6591
One approach to this that seems relatively easy (not trivial) is to reflect on `Let` and `Get` stages for re-use, and if all or many uses could benefit from indexed access to the data (e.g., many uses that all have a `Filter` on a common expression) we can introduce an `ArrangeBy` stage atop the `value` of the `Let`: this would allow each of the `Get` stages to use indexed access to the batches, w

[2021-06-23 16:05] umanwizard opened #7137 "telemetry not collected for Kafka or PG sources"
(to fill in)

[2021-06-23 19:39] danhhz opened #7140 "persist: August milestone"
Success Metric: Persist mz_metrics (beta)
Motivation: Forcing function to think early about productionization. Size of data is small and (more-or-less) bounded. Rate of writes is small and predictable.

Concretely (anything large enough to warrant discussion should be broken out into its own issue and linked here):
- [x] Finalize initial deliverable
- [x] #7103
- [x] #7273
- [x] #7388
- [x] #7138

[2021-06-23 20:48] danhhz opened #7141 "persist: precisely define the domain of Datum"
Context: I'm writing a PR that Encodes/Decodes Row into the Vec<u8> format we'll use to persist it. (The actual encoding we're using isn't the relevant bit for this issue.) In that PR, I'm writing "golden" tests which have various interesting Datums and hardcode the result of running Encode of them. The test then checks that Decoding the hardcoded bytes gets back the expected Datum; the intention

[2021-06-23 20:49] danhhz commented on #7141
cc @benesch @rjnn @frankmcsherry to help loop in whoever has an opinion on this/the stakeholders

[2021-06-23 22:26] nmeagan11 opened #7142 "Determining Once a View Is Up-To-Date"
## Product Spec

### Summary

When a user starts up Materialize, they want a way to determine when their views are caught up and ready to use. Obtaining this information should be user-friendly and queryable within Materialize, and will help users run Materialize in production more easily. This feature is of medium priority.

### Use Case

Upon restart of Materialize, all of the data has to be re-

[2021-06-24 06:28] philip-stoev opened #7145 "s3 csv: no way to remove header row, always ingested as normal data"
### What version of Materialize are you using?
cloud as of June 24th

### What was the issue?

The ```HEADER``` option is supported only for CSV file sources, not for CSV stored on S3. Therefore, the user has no choice but to have the header row ingested as regular data. There will be one such row per CSV file ingested.

I think this qualifies as a "wrong result" type of inconsistency issue. The o

[2021-06-24 11:28] philip-stoev opened #7146 "s3: 1/2 of new keys notified by SQS are not fetched"
### What version of Materialize are you using?

[code]

### What was the issue?

If we create 1000 S3 keys so that Mz is notified about them by SQS, the data for some of those keys will be not be fetched, ingested and visible in the source.

The SQS metrics report that messages have been sent and received for each new key.

### To reproduce:

1. Create an S3 bucket with an SQS notification
2. Crea

[2021-06-24 14:39] antiguru opened #7149 ""`mz_logical_timestamp()` must be directly compared to a non-temporal expression" requires user to rewrite query"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

Built from source

### What was the issue?

[code]

[2021-06-24 15:40] frankmcsherry opened #7151 "[sql] `regexp_extract` arguments in opposite order to postgres `regexp_matches`"
Our `regexp_extract` takes the regular expression first and then the text. Postgres' `regexp_matches` takes the text first and then the regular expression.

[2021-06-24 15:59] frankmcsherry opened #7153 "Add support for `regexp_split_to_table`"
We have a method `regexp_extract` that is somewhat analogous to postgresql's `regexp_matches`, except that ours only returns the first matches and does not enumerate all matches. Our `regexp_extract` is confusingly in the "Table Functions" section of our documentation, despite only ever returning at most one row (I think this is because it can produce multiple columns).

It looks like an easy win

[2021-06-24 16:06] frankmcsherry opened #7154 "Example for `csv_extract` is incorrect."
The example for `csv_extract` (https://materialize.com/docs/sql/functions/csv_extract/) is

[code]
followed by
[code]
This errors with
[code]
which makes sense because the source column is `data`.

[2021-06-24 16:08] frankmcsherry opened #7155 "[docs] `unnest` table functions are undocumented."
The list and array `unnest` functions are undocumented on https://materialize.com/docs/sql/functions/. I don't know if they should be documented, or are documented elsewhere, but I was unable to find the documentation.

[2021-06-24 16:41] umanwizard opened #7156 "Materialize crashes with segfault on FreeBSD 13.0 when using jemalloc"
Removing all jemalloc dependencies and the custom allocator fixes the issue.

[2021-06-24 17:30] rjnn opened #7158 "Support format CSV from S3 sources"
Currently `ERROR:  CSV format with headers only works with file connectors`.

[2021-06-24 17:55] mjibson opened #7159 "cloud docs: would be useful to know what region the cloud instance is in"
When using s3 sources with mz cloud, I need to know what region the mz instance is in to reduce egress costs.

[2021-06-24 18:01] frankmcsherry commented on #7153
This diff is what I'm using to get the multiple matches behavior:
[code]

[2021-06-24 18:01] petrosagg opened #7160 "Difficulties using TAIL from a NodeJS backend"
I encountered the following issues trying to build a realtime application based on `TAIL`:

* `TAIL` outputs rows that can have conflicting names if the target view contains columns named `timestamp`, `diff`, or `progressed`
Timestamp in particular is a pretty common name. Libraries that auto convert rows into hashmaps (like node-postgres) will only keep one of the two. While it is possible to use

[2021-06-24 18:17] rjnn opened #7161 "Loading large file sources cause loss of interactivity"
I created a large file source, which caused a loss of interactivity (#1537) for about 30 seconds while it loaded.

[code]

As can be seen above, the first `SELECT * ... LIMIT 1` took ~30s to return (presumably waiting for the file source to load) but all subsequent selects returned quickly.

FYI that `crew` is `title.crew.tsv` from the IMDB dataset.

[2021-06-24 18:30] rjnn opened #7162 "Running SELECT COUNT(*) on a large dataset causes loss of interactivity"
[code]

While this is running, additional terminals cannot run any queries, nor does CTRL+C return to the terminal - Materialize does not respond until this query finishes, which is a frustrating user experience.

[2021-06-24 18:41] rjnn opened #7163 "doc: document the CREATE INDEX statement to materialize an unmaterialized view"
I wrote `CREATE VIEW foo` instead of `CREATE MATERIALIZED VIEW foo`.

I want to materialize it. I have to create an index. The `CREATE INDEX` docs don't tell me what to type in an obvious way that materializes my view.

[2021-06-24 18:44] frankmcsherry commented on #7142
Some quick thoughts:

1. I don't think `mz_views` is the right place for this information. That table holds information about view definitions, but these are not necessarily materialized views, just any old view in the system. Many won't exist in actual dataflows. We have instead `mz_materialization_frontiers` which contains per-materialization information about the timestamps completely reflected

[2021-06-24 19:09] rjnn commented on #7161
Also dropping large indexes causes a loss of interactivity.

[2021-06-24 19:14] rjnn commented on #7163
Turns out this is "CREATE DEFAULT INDEX ON ...".

[2021-06-24 19:15] nmeagan11 opened #7164 "mz_logical_timestamp errors for select versus create materialized view statements"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [ ] Docker image
* [ ] Linux release tarball
* [ ] APT package
* [ ] macOS release tarball
* [x] Homebrew tap
* [ ] Built from source

### What was the issue?

I'm unsure if this is an actual bug or just a very confusing error statement which needs to be improved, but using `mz_logical_timestamp` for a

[2021-06-24 19:36] mjibson opened #7166 "docs: s3 csv docs describe ENVELOPE but it's not listed in syntax diagram"

[2021-06-24 19:57] awang opened #7167 "Cannot query Materialize with psycopg2"
### What version of Materialize are you using?

 v0.8.0 (b2fe225f1)

### How did you install Materialize?

curl -L https://binaries.materialize.com/materialized-v0.8.0-x86_64-apple-darwin.tar.gz

### What was the issue?

Psycopg2 returns `psycopg2.errors.InternalError_
psycopg2.errors.InternalError_: Unable to automatically determine a timestamp for your query; this can happen if your query depend

[2021-06-24 20:39] nmeagan11 commented on #7142
@frankmcsherry that's a good point about <code>mz_views</code>. I was going by what is [documented](https://materialize.com/docs/sql/system-catalog/#mz_catalog), and have now realized that not all tables are listed there (related GH issue #3984).

As long as the requirement of having this be queryable within Materialize is met, then I'm satisfied. An idea is to combine the information between <cod

[2021-06-24 20:58] frankmcsherry commented on #7142
I'm happiest if it is queryable too. The thing we've historically done that might fit is to create a new system view, which we define to be whatever query it takes to produce the associated results. I've also discussed this briefly with @antiguru who might be up for prototyping some queries based on what we have, and report back on what we are missing (perhaps picking up #4990). Not signing anyone

[2021-06-24 21:01] frankmcsherry commented on #5273
I'd like to add https://github.com/MaterializeInc/materialize/issues/7153 or one of the closely related issues to introduce a table-valued function from e.g. text to multiple rows. Without this, I think we are missing the ability to do e.g. "wordcount" which would be silly. Also, at least in the linked issue the implementation seems pretty easy.

[2021-06-24 21:02] mjibson opened #7168 "panic: assertion failed: data.len() >= *offset + size_of::<T>()"
This only happens with some minimum-length data. I was not able to reduce either the column count or even any of the json lists here, otherwise it would not repro. I wonder if it has something to do with smallvec/Row encode stuff? Testdrive:

[code]

[code]

[2021-06-24 21:06] frankmcsherry commented on #7161
I think this is still an issue, but: I think this is also the desired behavior from some class of user (not that we are doing this on purpose). Revealing partial results could be a consistency violation; we don't usually know when loading the data. 100% if querying *another* table blocks that is a bug we should fix. But I'd love to be part of the discussion on how / whether we fix the querying of

[2021-06-24 21:15] frankmcsherry commented on #7161
Follow on, which I am stealing from @ruchirK : The *second* time you load a dataset, I think we need to stall the query out in order to provide linearizability. You may have already seen all of the data already, we don't know that you haven't, etc. And in some other sense, we don't know that you've not read the file, dropped the source, and are now rebuilding it.

But 100% this is .. a fortunate i

[2021-06-24 21:17] mjibson opened #7169 "panic: internal error: entered unreachable code: not a json-compatible datum: Null"
This issue is almost identical to #7168 except that the error message is different so I thought it deserved its own issue. The testdrive case is the same except it's a 1000 line file instead of 1 line. Attached instead of inlined due to size.

[testdrive.txt](https://github.com/MaterializeInc/materialize/files/6712193/testdrive.txt)

[code]

[2021-06-24 21:49] wangandi opened #7170 "Internal error: <col> is not of expected type ColumnType { nullable: false, <type>}: Null"
Version: materialized v0.8.1-dev (2c45812a5)

To reproduce using [the linked sample file](https://github.com/MaterializeInc/materialize/files/6712249/sample.txt):
[code]

It seems that our query result type resolution does not realize that subfields of records that are part of the right side of a left join are nullable.

Thus, you can work around the error using a WITH statement:
[code]

[2021-06-24 22:07] frankmcsherry commented on #7162
Part of this is surely related to https://github.com/MaterializeInc/materialize/issues/7031 which is the issue that decanting records from an existing arrangement is not fueled. That does explain why it is not easily cancelled (the operator is wedged) but .. I would say maybe not explain why the shell cannot be returned (MZ could in principle know that a result is cancelled and return control, rat

[2021-06-24 22:14] frankmcsherry commented on #7162
Independently, I'd like to figure out why it takes 55 seconds to count up to 45 million.

[2021-06-24 23:08] mlazowik commented on #7105
Logs: https://gist.github.com/mlazowik/608167e172a057a7c4db13cac3213a83

I didn't see anything interesting in them.

Schema:
[code]

The jsons are simple, kv only, no nested objects or even arrays.

[2021-06-24 23:49] mlazowik commented on #7105
I think I have a specific row this is failing on, will try to narrow down the repro next. Long shot – could this be related to very large numbers in JSON? We have one 20 digit long number as a value under one of the keys.

[2021-06-25 04:39] benesch commented on #7151
They're different functions! `regexp_extract` is our own invention. I agree it'd be nice if it had hewed more closely to the similar PostgreSQL functions, but... changing at this point would cause some user pain that is probably not worth it.

[2021-06-25 05:01] benesch opened #7172 "Consider alternative design of system tables for librdkafka statistics"
We currently expose two system tables with librdkafka metrics:

[code]

These are basically rote flattenings of the statistics structs provided by librdkafka: https://github.com/edenhill/librdkafka/blob/master/STATISTICS.md

There are several things worth considering:

  1. The column names don't follow our convention for system tables (e.g. `cnt` instead of `count`).
  1. We're very tied to librd

[2021-06-25 05:05] benesch opened #7173 "Is JSONB the right type for mz_metrics.labels?"
And similarly with `mz_metrics_histograms.labels`. Seems like these want to be `map[text => text]`, if possible! cc @antifuchs

Perhaps blocked on #2997?

[2021-06-25 05:40] benesch commented on #7164
So @frankmcsherry the reason this happens is that the SQL fragment

[code]

gets planned as:

[code]

That is, because the comparison occurs on two different types, both types are
cast to a common type—in this case, double precision. Because the cast gets
injected on the mz_logical_timestamp side, this hides the comparison from the
temporal filter detector.

Contrast to `mz_logical_timestamp() < 1

[2021-06-25 05:48] benesch commented on #7163
![image](https://user-images.githubusercontent.com/882976/123375711-3ef44900-d557-11eb-92c1-904c452c83ab.png)

Was there something else you wanted to see in the docs?

[2021-06-25 05:55] benesch commented on #7162
Yeah, I've been leery of fixing this because it just papers over the problem. https://github.com/MaterializeInc/materialize/issues/2392#issuecomment-689822683

Like, we can give your shell back, but then the _next_ thing you do will get wedged as soon as it hits the dataflow layer.

[2021-06-25 06:00] benesch opened #7174 "[Epic] System table revamp"
In no particular order:

## To Rename
* [x] https://github.com/MaterializeInc/materialize/issues/2186
* [x] `mz_source_info` needs a better name. "info" is a pet peeve of mine.
  Removed in dac048f69c37e1f0b9295c9e10541b09ab66ddd4.
* [x] https://github.com/MaterializeInc/materialize/issues/14313
* [x] https://github.com/MaterializeInc/materialize/issues/14312
* [x] #14392
* [x] #13851
* [x] #15010

[2021-06-25 06:02] benesch commented on #5273
Added #7174 to the list.

[2021-06-25 06:11] philip-stoev opened #7175 "materialize data directory and catalog file are world-readable"
### What version of Materialize are you using?

[code]

### What was the issue?

The materialize data directory and catalog file as created by the materialize binary are world-readable:

[code]

contrast with postgres:

[code]

Postgres explicitly enforces this on startup:

[code]

[2021-06-25 06:41] benesch commented on #7175
🤷🏽 I guess we could create the files with permission of 0700, but I don't think we're doing anything terribly wrong at the moment. We're just leaving the file permissions totally up to the user, and just using the umask we're provided with.

[2021-06-25 07:19] benesch commented on #7160
Point 1 is https://github.com/MaterializeInc/materialize/issues/5908, and the proposal you suggest here is the one agreed upon by everyone!

cc @mjibson for thoughts on point 2.

Re point 3: I'm really loathe on the Materialize side to do anything to work around JS's numeric woes. We had this problem at Cockroach too, and, well, folks who use PostgreSQL seriously from JS are used to dealing with t

[2021-06-25 07:20] benesch commented on #7137
I'm working on this.

[2021-06-25 07:23] benesch commented on #7153
Yeah, anything that produces more than one column has to be a table function.

I think `regexp_split_to_table` is the function you're looking for.

[2021-06-25 07:25] benesch commented on #7158
Duplicate of #7145.

[2021-06-25 07:25] #7158 closed

[2021-06-25 07:28] #7154 closed

[2021-06-25 07:34] benesch commented on #7167
@mjibson this seems likely to be related to txn protocol changes?

[2021-06-25 08:53] frankmcsherry commented on #7151
Fair enough. Do we have the goal of matching postegres' `regexp_matches`, which would replace this and be an opportunity to match the syntax (and deprecate this in the process)?

[2021-06-25 09:04] frankmcsherry commented on #7162
Your next query might hang, but you could in the meantime get back to updating the catalog, e.g. dropping that view so that on restart it isn't reformed, etc. I think this is both a UX issue and a system issue (we might not want to return control, but also we cannot return control), and we could aim to fix the system issue (among the other system issues to fix that contribute).

[2021-06-25 09:07] benesch commented on #7151
They serve different purposes. `regexp_extract` is a weird thing of ours that statically analyzes a regex to determine how many capture groups it has, and then it guarantees you will have that many columns. It's pretty convenient for the cases where you have e.g. a log line with a fixed number of fields.

`regexp_matches` by contrast always returns exactly one column containing a text array, as it

[2021-06-25 09:08] frankmcsherry commented on #7153
Is `regexp_split_to_table` a function that exists, or will soon exist? I don't personally mind the name, I just happened to learn about `regexp_matches` which we seem to partially support (it seems maybe PostgreSQL can use it in places we cannot? It doesn't seem to be the same function).

[2021-06-25 09:11] philip-stoev commented on #7146
I added extra logging to the code:

[code]

and I am attaching [gh7146.log.gz](https://github.com/MaterializeInc/materialize/files/6714946/gh7146.log.gz) that contains 2 runs -- the first time everything was ingested properly but the second time half of the keys are missing:
[code]

A key that was never ingested the second time is ```1000.csv```. Here are the log lines about this key from the succ

[2021-06-25 09:32] uce opened #7181 "Telemetry counts are reset to 0 after restart"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Built from source

### What was the issue?

Telemetry counts are reset after restart.

After creating a file source the telemetry report includes `"file":{"count": 1}`.

[code]

After `materialized` restarts, the count is reset to 0.

[code]

This could be by design, but our internal dashboard seems

[2021-06-25 09:50] benesch commented on #7181
Oof, thanks! I have a rework of the telemetry stuff coming down the pipe that will shake this out.

[2021-06-25 09:52] #7168 closed

[2021-06-25 09:52] #7169 closed

[2021-06-25 09:57] philip-stoev commented on #7146
Here is a .td file for the issue with just 10 keys. Basically we create a source, insert some keys and then drop them all and try again within the same .td file. After the second try a couple of keys will be missing. The log shows that the second time we get SQS notifications for all the keys, but we do not fetch all of them.

[code]

[2021-06-25 09:58] #7155 closed

[2021-06-25 10:05] petrosagg commented on #7160
oh, great about #5908! amazing that we ended up in an identical proposal

re point 3: If the rule is "we don't cut corners because of JS", then I fully agree with it and I will argue that this change does not violate it. The argument that `i64` is excessive for the diff field I think stands on its own regardless of the minor JS inconvenience that made me realize it. I also saw that `repr::Diff`is

[2021-06-25 10:21] philip-stoev opened #7182 "s3: s3 keys (probably) fetched but do not appear in the source"
### What version of Materialize are you using?

[code]

### What was the issue?

This is a bit similar to #7146 but there we get notified about a new S3 key and fail to fetch it. In here, we fetch it and then it does not appear in the source.

In #7146 there was no entry about the key being fetched:

[code]

but with this test case such an entry exists.

The difference between the two test cases i

[2021-06-25 10:42] uce opened #7183 "Postgres cast is more lenient than Materialize"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Built from source

### What was the issue?

Casting int Postgres seems more lenient than Materialize:

[code]

#### Postgres

[code]

#### Materialize

[code]

A workaround is to use `coalesce`:

[code]

While we ran into this with `jsonb`, it is probably a more general issue.

---

This has been di

[2021-06-25 10:46] uce opened #7185 "`at time zone` requires uppercase time zone"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Built from source

### What was the issue?

`extract` requires uppercase time zone.

#### Materialize

[code]

It works as expected with an upper case `UTC`:

[code]

#### Postgres

[code]

---

This has been discovered with @aljoscha during dogfooding day.

[2021-06-25 11:02] uce opened #7186 "Add JSON format"
JSON is documented as a format, but it's only a data type.

We should consider adding a proper format for it, e.g.

[code]

Using format `JSON` could allow users to skip manually using format `BYTES` and casting to `jsonb`.

[2021-06-25 11:05] uce opened #7187 "Replace deprecated `UPSERT FORMAT` syntax in docs"
The railroad diagrams document the deprecated `UPSERT FORMAT`, but lack the new `KEY FORMAT ... VALUE FORMAT ...` syntax.

Example: https://materialize.com/docs/sql/create-source/text-kafka/

---

This has been discovered with @aljoscha during dogfooding day.

[2021-06-25 11:09] philip-stoev commented on #7160
Every time a 32-bit has been used for anything internal to the database system it has overflowed and had to be changed to a 32-bit integer. record IDs, message IDs, anything , always. I suggest we keep this a 64-bit thing.

If you have a source with 2 billion NULLs in it, you can potentially get a diff with such a large value if you are very unlucky.

[2021-06-25 11:11] petrosagg commented on #7160
Alright, I'm convinced. I withdraw point 3 :)

[2021-06-25 11:20] frankmcsherry commented on #7149
I don't want to close this, but there is a "good reason": we would have to perform some sort of compensating transformation to turn the inequalities around, and we aren't sure if those transformations are correct. Like, adding `20000` to `timestamp` could result in overflow.

We could still try and figure this out: if it overflows whatever the max value of our timestamp type is, I think `u64` or `

[2021-06-25 11:38] frankmcsherry commented on #7164
I think it should be easy to change the error message to be
[code]
The function `mz_logical_timestamp()` is documented as being of type `numeric`; I don't think we've documented our type promotion rules.

[2021-06-25 12:20] bjgbeelen commented on #7185
It's not `extract` that requires the time zone, it's the `(_date_) at time zone _tz_` .
So the reconstruciton can be simplified:

[code]

[2021-06-25 13:00] aljoscha commented on #7186
Thinking about it some more: I think it will be hard to determine the schema from a JSON input. With JSONB everything is dynamic, which comes with its own set of problems, thought.

[2021-06-25 13:32] uce commented on #7186
Yes, I think the most we could provide is to directly expose the data as `jsonb` instead of requiring the cast (see description).

[2021-06-25 13:34] uce commented on #7185
@bjgbeelen I updated the title and description. Thanks for pointing it out 👍🏼

[2021-06-25 13:52] elindsey commented on #7172
That sounds like a great idea to me!

[2021-06-25 13:53] antifuchs commented on #7174
Oooh, while we're at it - can we name the "id" columns on each of these tables such that `NATURAL JOIN` (or at least `JOIN ... USING (id_field)`) becomes possible?

[2021-06-25 13:57] antifuchs commented on #7173
That's a good call - I think the main thing we want out of this table is to have the labels be query-able conveniently (e.g. SELECT the metrics where a source has a particular name). I wasn't aware of maps when I wrote this (seems to be an mz internal type? I don't find psql docs on it) - but considering the wealth of operators we have on map, that would be a good thing.

[2021-06-25 14:19] antifuchs opened #7188 "Metabase can't render "interval" result type"
### What version of Materialize are you using?

0.8.0 and before

### How did you install Materialize?

Cloud.

### What was the issue?

When connecting with metabase, running

[code]

renders an interval, but:

[code]

results in the error `ERROR: unknown catalog item 'regproc'`. This works on the psql command line - a query result there renders in text correctly.

You can work around by using `s

[2021-06-25 14:48] wangandi opened #7189 "Support current_role"
We alias `CREATE ROLE` and `CREATE USER` to the same functionality. Likewise, `current_role` should alias to `current_user`, which doesn't happen at the moment.
[code]

See https://www.postgresql.org/docs/13/functions-info.html

[2021-06-25 15:24] derekm opened #7190 "Contribute TB's ChangeWriter upstream as a Debezium Server sink for Avro OCF"
TB's [ChangeWriter](https://github.com/MaterializeInc/materialize/blob/main/misc/tb/src/ChangeWriter.java) would make an excellent sink for Debezium Server:

https://debezium.io/documentation/reference/operations/debezium-server.html#_implementation_of_a_new_sink

Having support for on-disk Avro OCF files available as a sink in Debezium Server would likely simplify deployment and maintenance for M

[2021-06-25 15:27] elindsey opened #7191 "Previously valid query fails to deserialize on restart"
### What version of Materialize are you using?

main

### What was the issue?

Running mz with this query, everything works:

[code]

Upon restart:

[code]

I haven't simplified the query yet because I don't want to restart mz before demos, but it looks like something funky going on with that pow(2, bucket) - not sure if there's some weird type inference rules, if that query should've been rejecte

[2021-06-25 16:20] wangandi commented on #7161
Perhaps the solution should be to have a special command to sample `n` rows from an unmaterialized source or a view with an unmaterialized dependency.

I kept on running into:
* loading a csv file containing json columns into Materialize.
* wanting to see the first row of the source so that I can figure out the query for unpacking the JSON.
* querying the first row of the text file takes forever.

[2021-06-25 16:34] elindsey opened #7192 "Support SQL bitwise operators"
Bitwise operators let us do interesting things, like more easily/efficiently implement histograms.

Operators to support are:
Shift left
Shift right (possibly both logical and arithmetic?)
AND
OR
XOR
NOT

eg. https://www.postgresql.org/docs/7.4/functions-math.html

[2021-06-25 17:02] morsapaes opened #7193 "BI Tool Integration (Metabase, Superset): Regression in v0.8.0"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Docker image

### What was the issue?

Running a `SELECT` statement on a materialized view (or source) within Metabase errors out with:

While trying to set up Superset with Materialize, the same error was thrown. In both cases, the issue was not present once downgraded to v0.7.0.

### Is the issue

[2021-06-25 17:08] #3984 closed

[2021-06-25 17:18] mjibson commented on #7160
I *thought* that `progress=true` produced periodic messages even if there were no rows. There's no code that buffers in the "after dataflow" side. We even specifically care about the case where there's no rows and thus just a progress event https://github.com/MaterializeInc/materialize/blob/4d68d9eed8bc78421631c374324429827e282f8f/src/dataflow/src/sink/tail.rs#L77. So I'm not sure what's going on

[2021-06-25 17:21] morsapaes commented on #2437
Possibly related to this: for newcomers to Materialize, it can be hard to grok the nuances between sources, materialized sources, views and materialized views; and when to use what. More documentation and best practices for "materialization" coupled with memory footprint implications would help a lot!

[2021-06-25 17:42] rjnn commented on #7190
We are absolutely fine with that, if you are willing to do the porting. It's Apache-2 licensed so you should be good without anything more, but let me know if you need me to sign off on any CLA or such thing in order to facilitate it.

[2021-06-25 17:42] morsapaes commented on #6736
I had a note about pointing to the [Postgres docs for JSON Functions & Operators](https://www.postgresql.org/docs/current/functions-json.html) and add an example, but if that page exists we should definitely link it!

[2021-06-25 17:48] mjibson commented on #7167
I think this is #6651.

[2021-06-25 18:39] benesch commented on #7174
That's a great idea too!

[2021-06-25 18:40] benesch commented on #7167
There's no non-materialized source here though? But possibly you know better than I do!

[2021-06-25 18:40] benesch commented on #7193
Hrm. This looks to be the same as #7167.

[2021-06-25 18:54] benesch commented on #7183
Hah, so this isn't a problem with our intended semantics of `CAST`; it's just a straight up programming error in Materialize. Whoops!

[2021-06-25 18:59] benesch commented on #7183
Here's a minimal repro: `select ('{}'::jsonb->'bad')::int;`

[2021-06-25 19:03] benesch commented on #7183
Even smaller: `select null::json::int;`

[2021-06-25 19:15] morsapaes commented on #7193
Missed it; I'll close this one, then. Thanks, @benesch !

[2021-06-25 19:17] benesch commented on #7193
I’d say leave it open! I’m not 100% sure.

[2021-06-25 20:03] ruchirK opened #7198 "Incorrectly parsing dollar-quoted strings"
[code]

but the equivalent behavior in postgres is

[code]
playing around with this a little bit more I found some more deviations from pg that might help debug

[code]

[code]

[code]

[code]

[2021-06-25 20:11] ruchirK commented on #3114
We have friendly errors for hex strings now but we still give confusing errors for bit strings

[code]

[2021-06-25 20:15] #7191 closed

[2021-06-25 20:44] #5908 closed

[2021-06-25 20:59] #7198 closed

[2021-06-25 21:16] ruchirK opened #7201 "Incorrectly allows trailing +/- after exponent"
Materialize allows

[code]

where postgres does not

[code]

curiously they both seem to allow strings like `1.5e` even though the documentation says "At least one digit must follow the exponent marker (e), if one is present." Materialize seems to just ignore the `e`

[code]

whereas postgres turns it into the column name

[code]

[2021-06-25 21:34] #7183 closed

[2021-06-25 21:37] benesch opened #7202 "release: v0.8.1"
## Current status: 🚢 Progressing 🚢

## Announce the imminent release internally

- [x] Create this release issue.
- [x] Check for open blocking issues:
  - [ ] For any release, check if there are any open [`M-release-blocker`][rel-blockers]
    issues or PRs

- [x] Link to this issue in the #release Slack channel and be sure to directly notify the @relnotes-team.

  If there are open blockers, cla

[2021-06-25 21:46] benesch commented on #7201
@sploiselle this seems like something that might shake out of your latest decimal changes?

[2021-06-25 22:01] ruchirK opened #7204 "Incorrectly allows and / or with boolean and text"
Materialize permits the following:

[code]

Postgres does not

[code]

Curiously, this only seems to happen with a boolean and a string in that order, e.g. these are correctly detected

[code]

and more specifically, it has to trigger short circuiting, so these are correctly detected

[code]

Similarly, things work correctly if I manually cast `'test'` to `text` which i thought was a no-op

[code]

[2021-06-25 22:06] ruchirK commented on #7201
I also noticed

[code]
In pg this is a `numeric` -- likely will also shake out of the decimal changes?

[2021-06-25 23:36] sploiselle commented on #6761
This [branch on my fork](https://github.com/sploiselle/materialize/tree/dec-apd-migration) now passes all sqllogictests 🎉

[2021-06-26 03:48] #7170 closed

[2021-06-26 04:35] benesch commented on #7204
I'm actually inclined to call this not a bug! PostgreSQL explicitly allows not evaluating the RHS in cases like this: https://www.postgresql.org/docs/current/sql-expressions.html#SYNTAX-EXPRESS-EVAL

I agree it's weird with a simple example like this, but guaranteeing that we always produce all possible errors makes it nearly impossible to perform a lot of optimizations.

[2021-06-26 04:36] benesch commented on #7204
I guess maybe we could/should force all implicit literal coercions to happen? Idk.

[2021-06-26 05:01] #7201 closed

[2021-06-26 20:46] awang commented on #7159
there isn't a great place to add this info (I believe we are in us-east today).  Perhaps we should add a new FAQ or “operations” page?

[2021-06-27 15:35] #7189 closed

[2021-06-28 01:42] benesch commented on #7160
Adding to To Do in both SQL and Coordinator and Sources and Sinks so we don't lose track of this. There's definitely something strange here. @petrosagg, would you be able to provide repro instructions for the missing progress messages?

[2021-06-28 01:45] benesch commented on #7164
While that is an improvement I fear the `numeric` qualifier will be lost in the error message, and we'll need to provide an even more explicit hint to users.

This will be easy-ish once @sploiselle lands the APD refactor. At the moment it's hard to detect the injection of the `CastNumericToFloat64` cast because it's not one function call but a multiplication and some other crap.

[2021-06-28 02:00] benesch commented on #4990
I'm re-adding the needs-discussion label here, because I'm having trouble following what's proposed here!

This issue was initially about a function to report the last update time of a view. That information is already exposed through `mz_materialization_frontiers` though. And I think it makes a lot more sense as a system table than a function.

Then the issue evolved to be about associating an of

[2021-06-28 02:01] benesch commented on #4990
I'm kind of inclined to close this and centralize discussion on #7142, which seems more tractable.

[2021-06-28 02:02] benesch commented on #7142
To take what @frankmcsherry's been saying above even further: I don't think #4990 is a blocker for this issue. In fact this issue sounds much easier than #4990.

[2021-06-28 02:08] benesch commented on #7141
Ooh, ok, so presented like this I think I have a definite preference for (b) over (c). I think the most compelling reason, having thought about it some more is that if you need to send one of those edge-case date/times over pgwire, you actually do have a workaround! You can do some math to get the date/time into a more primitive representation—e.g., one int64  decentrepresenting year/month/day and

[2021-06-28 02:09] benesch commented on #7141
FWIW, not too worried about `Decimal`, because we've been moving in a direction of making it strictly more precise, not less. But the same isn't true of `chrono`, of course, because it has a much wider range than Postgres and I can see us wanting to turn that way down.

[2021-06-28 02:54] benesch commented on #7162
FWIW the cancellation system was intentionally designed not to early return like that. In Postgres, pressing Ctrl-C only gives you your shell back once the database has actually stopped processing your query. As of today, of course, we don't actually wait for your dataflow to abort before giving you your shell back (see #2392), but the intent was one day we would.

We could definitely pick differe

[2021-06-28 03:10] benesch commented on #7173
Yeah, it's a Materialize-specific thing we had to add to support ingesting Avro and such. We've got more work to do to make it useable, but I think it's ultimately the right call! Just wanted to double-check that you didn't intentionally avoid the map type for some reason I wasn't aware of!

[2021-06-28 05:09] benesch commented on #4050
This is finally done!

[2021-06-28 05:09] #4050 closed

[2021-06-28 05:17] benesch commented on #4051
Tracked in an internal repository now. (There's a link to the issue in the event stream above, for folks at the company.)

[2021-06-28 05:17] #4051 closed

[2021-06-28 07:18] philip-stoev opened #7215 "apd: negative zero is returned when casting a very small negative value to a lower scale"
### What version of Materialize are you using?

[code]

### What was the issue?

If a very small negative value is cast to a lower scale that would cause the value to become zero, Materialize keeps the negative sign and returns -0. Postgres on the other hand removes the negative sign and reports just zero.

It seems to me that this discrepancy may actually throw people off.

### Is the issue repro

[2021-06-28 09:51] philip-stoev opened #7220 "apd: rescale_apd applied even if source and destination have the same scale/precision"
### What version of Materialize are you using?

[code]

### What was the issue?

``rescale_apd``` appears in the plan even though the source and the destination have the same scale/precision.

Ideally, no operator should be applied in this case as parasitic operators like that tend to prevent various optimizations from kicking in.

At the very least, ```rescale_apd``` should be a no-op of sorts. I

[2021-06-28 10:13] philip-stoev opened #7221 "implicit cast needlessly occurs inside a isnull Filter operator; prevents Filter from being optimized away"
### What version of Materialie are you using?

[code]
### What was the issue?

If a cast is needed to compare two columns, the plan will contain the following section:

[code]

This is problematic for two reasons:
- there is no need to do ```i32toapd``` or any other casting function in order to determine nullability
- if ```#``` was  ```NOT NULL```, the entire Filter is not needed, but was not opt

[2021-06-28 12:49] uce commented on #6985
Fixed in #7088.

I'm closing this issue, but there is a potential follow-up to allow field expressions for selecting nested fields as part of the key. We should create a separate ticket for that if we plan to implement it.

[2021-06-28 12:49] #6985 closed

[2021-06-28 12:52] philip-stoev opened #7226 "apd: Values that have passed through rounding at insert time are not considered equal to identical values"
### What version of Materialize are you using?

[code]

### What was the issue?

You can define a column as ```DECIMAL|APD(M,N)``` and then insert a value with more than N digits after the decimal sign. This value will be rounded as expected when SELECT-ed but it is not considered equal to an identical value that has not passed through the same rounding process.

### Is the issue reproducible? If

[2021-06-28 15:00] ruchirK commented on #7204
Yeah I agree this is not a bug wrt to the spec sorry should have been clearer about that. I filed the issue because the behavior differed from Postgres and it seemed so close to doing the right thing for this specific case that I wondered if there was an easy fix / off by one type of thing happening.

Feel free to close if you don't think this is something that needs to be fixed.

[2021-06-28 15:07] umanwizard commented on #7141
Dan's original post claims the Postgres range is +/- 300,000 years, and the Chrono range is from Jan 1, 262145 BCE to Dec 31, 262143 CE -- doesn't this imply that Chrono is actually narrower? (Though higher resolution)

[2021-06-28 15:08] umanwizard commented on #7141
I agree with Nikhil that option (b) seems the best.

[2021-06-28 15:08] antiguru opened #7230 "`mz_source_info` only populated after a source produced data"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

Built from source

### What was the issue?

The catalog table `mz_source_info` is only populated once a source produces data.

### Is the issue reproducible? If so, please provide reproduction instructions.

The following testdrive fails:
[code]
The following shows that the source exists in the system but

[2021-06-28 16:18] mjibson commented on #7160
This is easily reproducible though:

[code]

has no output, when I would expect it to. It perhaps did at one point and this regressed.

[2021-06-28 16:19] mjibson commented on #7159
Yes. It'd be nice if it also had some basic instance specs like vCPUs and RAM.

[2021-06-28 16:32] nmeagan11 commented on #7142
I've updated the spec above to incorporate all feedback, specifically:

- removed mention of #4990
- tightened requirement around showing the lag for both offsets and time, and removed reference to any particular system table
- added requirement to expose this information on the health check page

@benesch i'm happy to close #4990 and iterate on this issue if you are

[2021-06-28 16:33] danhhz commented on #7141
That's a great point. Just looked at the postgres docs, and it says `timestamp` supports from 4713 BC - 294276 AD. No idea why the truncation on the lower end (presumably borrowing some bits for something), but this does appear to be wider than chrono on the upper end (262143).

[2021-06-28 17:36] mjibson commented on #7167
I am not able to reproduce this. Can you run `SHOW SOURCES;` and tell me if anything shows up there? My guess is you have a source there and that's what's causing the issue. 6651 still needs to be fixed, but I don't currently have a reason to believe that psycopg2 has any problems.

[2021-06-28 17:52] awang commented on #7167
weird!   it's an empty, vanilla materialize instance though (i wiped `mzdata` prior to encountering this):

[code]

[2021-06-28 17:59] nmeagan11 commented on #7159
We could add this to the [cloud account limits page](https://materialize.com/docs/cloud/account-limits/), which already includes the default specs for vCPUs and RAM.

[2021-06-28 18:00] awang commented on #7167
Interesting, thanks!  So, I have a kinesis source + materialized kinesis view.  Dropping that source+view fixed it.

I'm about to hop on a call, but I'm going to run a few more tests later today to try and figure out what steps exactly to reproduce

[2021-06-28 18:05] #6249 closed

[2021-06-28 18:33] mjibson commented on #7167
Unless it's different than 6551 I already know how to repro.

[2021-06-28 18:34] elindsey commented on #7142
I think the only data we're missing today is the kafka offset/mz ts association - with that we should be able to piece together a query from the existing system tables that shows the kafka offset lag per view. This was the original intent of #4990, but that task spiraled into a few different directions and should be closed (it's more confusing than helpful at this point). Tracking the kafka offset

[2021-06-28 18:42] cuongdo opened #7234 "docs: page for supported drivers and examples"
## What

It would be great if we had a page that listed supported combinations of programming language + Postgres driver and sample code for Materialize. For example: [Cockroach's Hello World Example Apps page](https://www.cockroachlabs.com/docs/v21.1/hello-world-example-apps). We should make sure that the samples (or some subset of them) work with Cloud, which requires TLS certificates that some

[2021-06-28 18:51] cuongdo opened #7235 "docs: add more detail on how to connect to Postgres on RDS"
## What

Our docs on how to [connect to Postgres on Amazon RDS](https://materialize.com/docs/sql/create-source/postgres/#setting-up-postgresql) are incomplete. Missing are:

1. Spelling out what needs to be done. The provided link to the RDS docs isn't as clear as the [Debezium docs](https://debezium.io/documentation/reference/connectors/postgresql.html#postgresql-on-amazon-rds).
2.  Also, as @pet

[2021-06-28 18:54] cuongdo commented on #6668
cc @mjibson

Pinging this feature. During dogfooding day last week, it was challenging to get data into Cloud, because:

* File sources don't work with Cloud
* S3 sources require possible AWS setup and extra libraries

Tables _could_ be a great way to experiment with Materialize when we don't have a connector for the upstream data. They also require much less setup than Debezium + Kafka or even Po

[2021-06-28 19:11] mjibson commented on #6668
I have a skunkworks branch with DELETE and UPDATE support. I think UPSERT is an easy addition to that. I can work on this a bit more.

[2021-06-28 23:40] #7215 closed

[2021-06-29 01:02] JLDLaughlin commented on #6553
I was just trying to reproduce this, but I the example is succeeding for me:
[code]
@philip-stoev is there something I'm missing in this test case?

[2021-06-29 04:02] philip-stoev commented on #6553
@JLDLaughlin Apologies for sending you on a wild goose chase -- apparently the issue is no longer reproducible, even after trying various combinations in the test.

I am taking up the ticket for myself to clean up the test and push it . Thank you.

[2021-06-29 06:27] #4990 closed

[2021-06-29 06:28] benesch commented on #7142
Sounds great! Done.

[2021-06-29 10:27] #6010 closed

[2021-06-29 13:10] nmeagan11 commented on #1540
Hi @bbigras and @danthegoodman1! We don't have an update on this issue currently. If this is a blocker for you, please let us know! You can also reach out separately via email or our [public Slack](https://materialize.com/s/chat).

[2021-06-29 14:28] frankmcsherry opened #7246 "[dataflow] Reduce plans maintain cross product of values"
Reduce aggregations like min, max, and other more general ones maintain a row containing the values they plan to aggregate. For example,
[code]
will maintain rows that each contain a height, weight, and age. This means that if these attributes are independent, the cardinality of this set can be substantial. If each aggregation were performed independently, we would only maintain state proportional

[2021-06-29 14:33] ruchirK commented on #7246
IIRC: we made this change because a user was doing a substantial number of reductions (like 37) with string keys and duplicating the keys got really expensive from a memory standpoint. I think we (really Frank) had an alternate idea to do key interning to make that less of a pain.

I'm not sure how we could automatically decide which kind of plan to render in these cases it seems like we would nee

[2021-06-29 14:59] #7202 closed

[2021-06-29 15:24] JLDLaughlin commented on #6553
@philip-stoev no worries at all, please feel free to tag me if you find it again!

[2021-06-29 15:26] frankmcsherry opened #7249 "[dataflow] Some stateful operators can maintain less state"
This is a bit vague, but e.g. operators like `Threshold` and `Distinct` apply an action to their inputs, in these cases suppressing some inputs (negatives and duplicates, respectively). Their implementations maintain their input and output, both arranged. However, we could instead maintain the "things to suppress", e.g. the negative records or duplicates, and then negate and concat to the input st

[2021-06-29 16:17] wangandi commented on #5684
Done in #7118 and #7126. Design doc is at #6922.

[2021-06-29 16:17] #5684 closed

[2021-06-29 16:45] frankmcsherry opened #7252 "Enforce process separation between `coord` and `dataflow`"
Our code currently maintains idioms that the coordinator and dataflow modules are "distant" and largely sends "data" between the two rather than pointers into each others address space. However, there are some leaks of information, for example hooks to respond to user sessions without first returning through the coordinator.

It is probably worth shoring these up and at least mocking up the bounda

[2021-06-29 16:48] #6651 closed

[2021-06-29 16:48] #7167 closed

[2021-06-29 16:48] #7193 closed

[2021-06-29 16:56] nmeagan11 opened #7254 "De-Experimentalize Postgres Sources"
Per https://github.com/MaterializeInc/product/issues/116, we want to stabilize Postgres sources for cloud.

[2021-06-29 17:21] nmeagan11 opened #7256 "Support S3 Sinks"
Not highly requested yet, but adding support for S3 sinks will make it easier for users to get setup in the cloud.

[2021-06-29 17:56] mjibson commented on #7160
I was not able to produce empty progress messages for any version since this was released in 0.5.2 so I assume I misremember having them ever. We just wrote the code such that they might exist, but they never did.

[2021-06-29 18:09] mjibson opened #7257 "`TAIL WITH (progress=true)` should produce periodic messages if no data"
If there haven't been any updates in a while it'd be nice to have periodic empty progress messages.

[2021-06-29 18:11] mjibson commented on #7160
I've opened https://github.com/MaterializeInc/materialize/issues/7257 to track the empty progress messages.

[2021-06-29 18:20] mlazowik commented on #7105
Ha, the long shot turns out to be true! Detailed repro instructions: https://gist.github.com/mlazowik/61b0747dd95e3082924bb3d53fb0b890

tl;dr

1. Create a postgresql table with `create table t (j jsonb not null);`
2. Connect debezium
3. `insert into t values ('{"n": 1}');`
4. Connect materialize to that table
5. `insert into t values ('{"n": 1000000000000000000}');` – panic

[2021-06-29 18:51] benesch commented on #7160
Ok, sounds like #7257 covers it then!

[2021-06-29 18:51] #7160 closed

[2021-06-29 18:54] benesch commented on #7145
So, as discussed with @umanwizard and @awang in person, the issue here is that the `WITH HEADER` option auto-detects how many columns the CSV has and what their names are. This works great with file sources where there is only one CSV file. It it is harder with S3 because there are multiple CSV files, and those CSV files may have headers that disagree.

I think the proposal is to teach the SQL pur

[2021-06-29 19:06] ruchirK commented on #7257
I think https://github.com/MaterializeInc/materialize/pull/7232 is trying to solve a really similar problem for Kafka sinks

[2021-06-29 21:19] awang opened #7260 "improve mz_logical_timestamp usability"
mz_logical_timestamp is not actually a timestamp.  as a result, many users of temporal filters don't realize that the correct syntax is of the format `extract(epoch, ts)::bigint * 1000`. A real-world example:

[code]

It might be nice to introduce a UDF that handles this for users.  Another option is to add our own extension to `extract` or just add a builtin function that can do this

[2021-06-29 21:32] #7254 closed

[2021-06-29 22:26] #7137 closed

[2021-06-29 22:26] #7181 closed

[2021-06-29 23:52] #7220 closed

[2021-06-29 23:52] #7226 closed

[2021-06-30 13:09] frankmcsherry opened #7267 "[coord] DataflowDesc should automatically infer dependencies, rather than require they be specified."
The `DataflowDesc` type needs to determine depedencies among its inputs and outputs. I suppose we could just say that all outputs depend on all inputs, but we haven't done that (probably for a good reason). Instead, we try to more finely track which exports depend on which imports, so that each import can be dropped when no exports depend on it.

At the moment this tracking a bit haphazard. We det

[2021-06-30 15:28] awang commented on #7142
To confirm my behavior expectations --

1. Users would want to look at _both_ source lag (`consumer_lag` in `mz_kafka_consumer_partitions`) and the view lag to identify whether any parts of Materialize are lagging
2. This lag number will be appropriate, whether data is arriving or not.  Specifically, if no new source data is being ingested (and there is no view lag), both `offset_lag` and `time_la

[2021-06-30 15:42] quodlibetor commented on #5863
I've got a fairly large amount of the code implemented on this and discussed with Brennan to make sure that it was going in the right direction. Currently working on tests.

[2021-06-30 15:50] umanwizard commented on #6916
@ruchirK still working on this? Or should we reassign?

[2021-06-30 15:53] antifuchs commented on #7115
Related: #6952 (via #6010).

[2021-06-30 15:55] umanwizard commented on #5262
Essentially a duplicate of #5668, which @JLDLaughlin is working on

[2021-06-30 15:55] #5262 closed

[2021-06-30 17:56] umanwizard commented on #6916
@aljoscha Volunteered to take a look

[2021-06-30 18:02] ruchirK commented on #6916
Yeah sorry I have not been working on this. IMO rather than trying to debug this issue we should see if we can just move past metadata requests and instead use the stats callback to get the partition count info (which is the only reason we need this consumer afaik)

Feel free to reassign to Aljoscha

[2021-06-30 20:07] awang commented on #7167
thank you!  that fixed it

[2021-07-01 08:16] aljoscha commented on #7132
I talked to @philip-stoev and he mentioned he's fine  with closing this because of the fix in #7245.

[2021-07-01 08:16] #7132 closed

[2021-07-01 14:54] rjnn commented on #7163
I think I was just blind.

[2021-07-01 14:54] #7163 closed

[2021-07-01 14:56] danhhz commented on #7141
Quickly tested this and postgres does allow dates outside the stated chrono range:
[code]

I tried to see what materialize does, but it seems to cut out even before the end of the chrono range (seems like a parsing error?):
[code]

[2021-07-01 15:58] frankmcsherry opened #7282 "[dataflow] Consider a `Reduce` plan that joins aggregates rather than collation"
Our `Reduce` plan currently computes various aggregates independently, and then "collates" them in a final reduction to form the rows of the output. This collation is essentially a join on the reduce key, and could be implemented as such, with the benefit that we would reduce the number of arrangements to maintain (assuming each independent aggregate is arranged by its key, a delta join would intr

[2021-07-01 17:58] frankmcsherry opened #7284 "Test that rendered dataflows have specified shape"
We have various tests that confirm that e.g. optimization of certain SQL queries produces the expected plans, but we could also test that certain dataflows are produced. The dataflow layer logs the shape of all dataflows it produces, including operator names and connections between them, in relational form. It seems reasonable (and perhaps not hard) to record and test the shapes of these dataflows

[2021-07-02 13:35] awang commented on #7142
Here's an internal doc from @krishmanoh2 on a slightly different user workflow:  https://docs.google.com/presentation/d/1WsINKmuSn4g60ZOxSCT7lPwLbsBi4_5rEOvs8x41Rn0/edit#slide=id.ge33e9b3382_0_35

This allows users to distinguish between a view that is lagging and has no updates (`last_updated`)

[2021-07-02 13:42] frankmcsherry commented on #7142
Why do would they want source lag, if they have the view lag?

[2021-07-02 13:53] frankmcsherry commented on #7142
Also, I recommend to avoid confusion we maybe change the title to "Determining *Once* a View Is Up-To-Date" to indicate that this issue is / appears to be only communicating a single bit on start-up, rather than maintaining information about up-to-datedness as the source of data grows. I'd really like to do both, but as written the issue isn't about the latter.

[2021-07-02 15:15] nmeagan11 commented on #7142
I agree that the spec is written specifically for start-up, and so I'm happy to change the title from _When_ to _Once_, and open a new issue specifically for the case where we are maintaining this information post start-up as the source of data grows.

[2021-07-02 18:09] elindsey commented on #3069
We may want to alter the mz_source_info logging source to encompass this - it has similar info today. Previously this was difficult as offset/ts bindings weren't stable across restart and different instantiations of the same source would have different bindings, but things are now significantly more sane after Ruchir's extensive reworking of the timestamper.

[2021-07-02 18:36] #6788 closed

[2021-07-02 18:52] elindsey commented on #7142
Summarizing the three remaining, concrete eng tasks that I see, in order:

1. Be able to answer "what Kafka source offsets are reflected in a given dependent view at its frontier"

This is https://github.com/MaterializeInc/materialize/issues/3069 and involves plumbing offset/mz ts mappings through logging in a way that they can be joined with mz_materialization_dependencies/mz_source_info/mz_mater

[2021-07-02 19:14] msudberg opened #7288 "doc: Update Postgres doc with community questions"
See: https://github.com/MaterializeInc/materialize/discussions/7281

Not currently covered:

- Do deleted records take up space?
- How do you limit the memory taken up by replication slots?

[2021-07-02 19:24] quodlibetor opened #7289 "Support ingesting Debezium's format for MongoDB"
MongoDB does not include retraction information in its oplog, (via this note at the very end of the [Debezium docs for update events](https://debezium.io/documentation/reference/connectors/mongodb.html#mongodb-update-events)):

Debezium seems to have decided that since there can never be a before line it should entirely omit it from the messages and schema that it sends to Kafka. Unfortunately (bu

[2021-07-02 20:09] alex-hunt-materialize opened #7290 "JSON file sources ending with newline characters throw errors"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [X] Built from source

### What was the issue?
JSON file sources ending in newlines throw errors when selecting data in Materialize.
[code]
Final newlines are required for Posix compliance, and are the most common case for text files.
### Is the issue reproducible? If so, please provide reproduction ins

[2021-07-02 20:13] #6621 closed

[2021-07-02 20:24] alex-hunt-materialize opened #7291 "JSON file source example creates invalid file"
### What was the issue?
https://materialize.com/docs/sql/create-source/json-file/#examples
The json file example uses an example file created with:
[code]
This is wrong for two reasons:
1. This will create a single line with the literal characters `\` and `n` in the middle, instead of creating a newline between the two json objects.
2. This will end in a newline, which as of v0.8.1 is not supporte

[2021-07-02 20:36] mjibson opened #7293 "doc: improve descriptions of s3 bucket scanning and sqs notifications"
The s3 sources page leaves some questions about how some things work:

- For bucket scanning: how often is the bucket scanned? This is important so users know how long new data might take to become visible. Also for cost projection since list calls aren't free.
- For sqs notifications: what happens if mz restarts? The default sqs message retention period is 4 days. Are messages from before then re

[2021-07-03 00:27] #7291 closed

[2021-07-03 01:21] frankmcsherry opened #7295 "Streams loaded by some sources are not distributed across workers."
For some sources, at least FILE CSV sources, the resulting stream of updates are not distributed across workers. This means that subsequent work may not be balanced across workers, which at least leads to longer loading times.

I believe sources should attempt to distribute data across workers, as the other option seems to be to require other bits of dataflow to defensively shuffle data if they ar

[2021-07-03 01:29] frankmcsherry opened #7296 "Track how data are distributed across workers, optimize"
In the course of dataflow execution we exchange data between workers, with certain requirements to correctly implement operators. The data can end up skewed, and in the worst case all on one worker (e.g. after a cross join). We can track by what expressions (if any) the data are distributed, and defensively exchange data when appropriate.

#7295 is about the case where sources do not always distri

[2021-07-03 01:39] frankmcsherry opened #7297 "[coordinator] Perform pre-dataflow optimization without arrangements"
The coordinator performs optimization of views (and source view things) with the indexes it has on hand when it receives the view creation command. These indexes may not reflect the indexes that will be available when the view is actually rendered, and indeed the view may be rendered multiple times as parts of multiple materializations. I believe there are parts of optimization that are "sticky" w

[2021-07-03 09:20] hseagle opened #7298 "failed to create postgres source"
Unable to create postgres source according to instruction in the official document

I did the same test against version 0.8.0 and 0.8.1 and got the same errors messages.

The following is how to reproduce it.

Execute the statement by using psql or mzcli

[code]
The output is always like this

[code]

[2021-07-03 10:58] awang commented on #7298
Hi! Would you mind replacing CONNECTION with HOST and seeing if it works? Ie

`CREATE MATERIALIZED SOURCE "pg_demo_source" FROM POSTGRES HOST 'host=localhost port=5432 user=wso2sp dbname=postgres password=wso2' PUBLICATION 'mz_source';`

Apologies for the trouble you encountered, this is a temporary issue where our docs syntax doesn't match the current release -- HOST is correct for now, but we ar

[2021-07-03 20:50] #7295 closed

[2021-07-03 20:57] frankmcsherry commented on #7260
It is actually a timestamp.

[2021-07-03 20:59] mjibson opened #7301 "dataflow: add dataflow rendering to EXPLAIN plans"
If there's a view with an index on a column, a point select on that column will be significantly faster. But an EXPLAIN will not surface the use of the index. We should add this information to EXPLAIN. In this case looking at the rendered dataflow will show index instead of scan. Users will be able to self-serve improve their queries better with this information.

### Update: 2022/02/08

We added

[2021-07-03 21:11] awang commented on #7260
Thanks, updated the description

[2021-07-03 23:17] mjibson commented on #7293
Did some research and found out: bucket scan only scans once, so if things are added to the bucket then you have to use sqs to add them. So you need to have both bucket scan and sqs.

[2021-07-04 05:50] hseagle commented on #7298
It works after using host instead of connection. thank you for your support

[2021-07-06 14:37] umanwizard opened #7317 "Release v0.8.2"
## Current status: 🚢 Progressing 🚢

## Announce the imminent release internally

- [x] Create this release issue.
- [x] Check for open blocking issues:
  - [x] For any release, check if there are any open [`M-release-blocker`][rel-blockers]
    issues or PRs
  - [x] If this is a major or minor release (any X.Y release) check if there are open
    issue or PRs with the [`M-milestone-blocker`][block

[2021-07-06 20:08] nmeagan11 opened #7323 "Source and Timestamp Consistency with Serializability"
From #5073:

* INSERTs not persisted between restarts
* non-determinism in source reading (I think this is the "different views over the same non-materialized source can generate different timestamps"). I'm not clear on exactly how of if this breaks serializability. Maybe it's similar to inserts because things can change on restart?
* Other stuff?

[2021-07-06 20:40] frankmcsherry commented on #3069
I had a proposal for this that I'm writing down so that folks can start to poke it. It doesn't have to be done this way, but one way is:

We create a new relation `mz_source_progress_idk` which contains at each `time` exactly the maximum offsets, parts, other ways to describe progress in a source, for each source. The intent would be that it continually evolves as the sources move forwards, contin

[2021-07-07 01:58] frankmcsherry opened #7329 "[optimization] Transform grouping operations into map operations"
I'm not exactly sure were to file this, but there is a perf issue that @mjibson bumped in to with a query of his, and I wanted to record the potential optimization that we cannot currently do.

There is a collection of `(key, list)` and the goal is to produce `(key, elem)` for each distinct element in the list. The natural SQL query is
[code]
If we plan this naively, we will do a `distinct` over t

[2021-07-07 07:27] antiguru opened #7331 "`render_top1_monotonic` discards its arrangement because its signature requires it to return a collection"
The implementation to render a Top1 plan for monotonic inputs maintains its outputs. However, the interface does not allow it to pass this arrangement back upstream, so it's converted to a collection.

Instead, it should be possible to pass an arrangement back.

https://github.com/MaterializeInc/materialize/blob/38ecd8d219ad38fa7e1f554b0f769fec4695e003/src/dataflow/src/render/top_k.rs#L250

[2021-07-07 08:21] philip-stoev commented on #6942
Turns out that in Dataflow it is not possible to terminate the evaluation of a query at the time an error occurrs in order to not perform the rest of the work. As per @frankmcsherry :+1:

[2021-07-07 08:22] philip-stoev commented on #6942
Keeping this issue open so that we have a critical mass of OOM-related issues in order to drive the discussion on how to handle memory in general.

[2021-07-07 08:25] #7257 closed

[2021-07-07 08:48] frankmcsherry commented on #7289
For the second option: https://github.com/MaterializeInc/materialize/issues/5721

[2021-07-07 09:02] #7070 closed

[2021-07-07 11:07] morsapaes commented on #3341
Closing the issue since this is now documented: https://materialize.com/docs/sql/create-source/csv-kinesis/

[2021-07-07 11:07] #3341 closed

[2021-07-07 11:58] antiguru opened #7333 "Implement support for `left(string, int)`"
Implement support for left-trimming string as a SQL function, similarly to what Postgres provides.

[2021-07-07 12:50] asenac commented on #6987
Another missed join removal opportunity:

[code]

The query could be rewritten as:

[code]

[2021-07-07 13:02] antiguru commented on #4987
I implemented a variant that allows users to observe the progress of the initial data loading using the system catalog: #7265. I'll go ahead an unassign myself.

[2021-07-07 13:03] antiguru commented on #7142
I implemented a variant that allows users to observe the progress of the initial data loading using the system catalog: #7265. I'll go ahead an unassign myself.

[2021-07-07 13:20] morsapaes commented on #4568
Covered in PR [#5060](https://github.com/MaterializeInc/materialize/pull/5060)! Closing this issue.

[2021-07-07 13:20] #4568 closed

[2021-07-07 13:31] philip-stoev commented on #6553
A regression test has been pushed.

[2021-07-07 13:31] #6553 closed

[2021-07-07 13:35] ruchirK commented on #1696
Can we close this issue now that there's a system table that captures prometheus metrics?

[2021-07-07 13:45] nmeagan11 opened #7335 "Protobuf Support for Schema Registry"
Similar to using the [registry for Avro format](https://materialize.com/docs/sql/create-source/avro-kafka/#using-a-confluent-schema-registry), users want Protobuf support for SOURCE objects to use the schema registry.

[2021-07-07 14:01] morsapaes commented on #4983
Addressed in [this](https://materialize.com/docs/sql/functions/now_and_mz_logical_timestamp/#main) docs page, @krishmanoh2 . Closing the issue!

[2021-07-07 14:01] #4983 closed

[2021-07-07 14:23] antifuchs commented on #1696
Oops, yes! I think I forgot to close this when I merged #6271.

[2021-07-07 14:23] #1696 closed

[2021-07-07 14:30] sploiselle commented on #7021
The challenge here is that we totally ignore the precision; every value has a precision of 39. Maybe we should more clearly set this expectation but disallowing any other value? That seems nominally inconvenient, but maybe clearer to users.

[2021-07-07 14:59] morsapaes commented on #6225
Seems covered in the new ["Temporal Filters" guide](https://materialize.com/docs/guides/temporal-filters/#main). Can we close the issue, @msudberg ?

[2021-07-07 15:22] morsapaes commented on #6371
Dropping a note to also cover this in the Postgres direct source [docs page](https://materialize.com/docs/sql/create-source/postgres/#setting-up-postgresql). IIRC, in the future we might not require users to set `REPLICA IDENTITY FULL` using this source.

[2021-07-07 15:24] #7249 closed

[2021-07-07 16:03] wangandi commented on #7121
This looks like a redundant join, no?

[code]

[2021-07-07 16:14] frankmcsherry commented on #7048
This doesn't reproduce on `main` for me. The LIR change had the result that we no longer panic if the *types* of paired `Let` and `Get` don't match. On the version of MZ that does panic, we could check the plan and confirm that types are different.

[2021-07-07 16:25] asenac commented on #7121
Yes, ideally both plans should look like this one:

[code]

However, the one with the redundant join returns correct results, whereas the other one doesn't.

[2021-07-07 16:49] asenac commented on #7121
Assuming this is a lowering issue, this is how the plan that returns wrong results that is delivered to the optimizer:

[code]

Rant: I find this representation extremely hard to reason about.

[2021-07-07 17:54] awang commented on #7142
Some notes from today's discussion with one of the requestors:

* What happens if this query is slow to respond (especially when the system is loaded)? A slow responding query (1-2s) is "okay", but it's a bigger deal if it hangs altogether.
* (side note) Because of the above hanging issue, we brainstormed whether writing out to a sink as a temporary solution makes sense.  Some questions with the s

[2021-07-07 18:25] morsapaes commented on #7234
Linking to #5187.

[2021-07-07 18:32] elindsey commented on #6726
I'm marking this as a duplicate of #5596

[2021-07-07 18:32] #6726 closed

[2021-07-07 18:36] elindsey commented on #7256
Will need to determine if these are one-shot sinks, streaming sinks, or both and tackle those as separate work items. The clearest path and likely first step is one-shot sinks, making this dependent on #6997 followup.

[2021-07-07 18:46] elindsey commented on #1704
I'm moving this off the sources and sinks board and onto the product backlog board - it'll need more poking at to determine if we want to do it. I think #2237 may subsume this task, that would cover most of the interesting use cases and in a more standardized way.

[2021-07-07 19:22] elindsey commented on #2684
We've reduced formats supported for consistency topics and I don't expect we'll expand it anytime soon - closing this as won't fix. We can revisit if it comes up in byo discussions

[2021-07-07 19:22] #2684 closed

[2021-07-07 19:24] elindsey commented on #3060
We did this quite awhile ago, then changed it to be opt in. Stale task; closing

[2021-07-07 19:24] #3060 closed

[2021-07-07 19:38] benesch commented on #7142
The only solution to loss of interactivity is to fix loss of interactivity, as described in #1537. If the dataflow workers are wedged on compute, they are not writing sink records, so that's not actually a workaround.

[2021-07-07 20:34] wangandi commented on #7121
It should be a lowering issue because the incorrect result goes away if you comment out lines 841-846 here:
https://github.com/MaterializeInc/materialize/blob/48b898c82cbc523d2ee1066a5231e2b8a2c5f9e8/src/sql/src/plan/lowering.rs#L841

[2021-07-07 23:16] ruchirK commented on #5127
closing this because source caching was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:16] #5127 closed

[2021-07-07 23:17] ruchirK commented on #5095
closing this because source caching was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:17] #5095 closed

[2021-07-07 23:17] ruchirK commented on #4645
closing this because source caching was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:17] #4645 closed

[2021-07-07 23:18] ruchirK commented on #4642
closing this because source caching was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:18] #4642 closed

[2021-07-07 23:18] ruchirK commented on #4566
closing this because source caching was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:18] #4566 closed

[2021-07-07 23:21] ruchirK commented on #5722
source caching was removed in #7328 - not sure if that means we should close this issue. We are figuring out the product definition and engineering work for "source persistence" and "view persistence" and how it might interact with ingest dataflows, but all of that code is going to be built on the new persist core and have nothing to do with source caching.

[2021-07-07 23:24] ruchirK commented on #4030
closing this because source caching (fka source persistence) was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:24] #4030 closed

[2021-07-07 23:24] ruchirK commented on #4028
closing this because source caching (fka source persistence) was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:24] #4028 closed

[2021-07-07 23:25] ruchirK commented on #4026
closing this because source caching was removed in #7328 (we're going to go a different direction with the persist crate)

[2021-07-07 23:25] #4026 closed

[2021-07-08 00:32] wangandi opened #7339 "Implement constant folding for TopK"
We do not have constant folding for TopK.

https://github.com/MaterializeInc/materialize/blob/73e68ac050cab27e207e006074ba1f3dd8d0bcba/src/transform/src/reduction.rs#L76

[code]

Ideally, an implementation would have a fast path that skips ordering for the cases when:
* there is only a limit/offset and no order
* there is an order but no offset + the number of rows in the Constant is less than or

[2021-07-08 06:47] philip-stoev opened #7342 "testdrive: report success per test with test name"
This is needed for Antithesis -- report the test name for each successfull test.

[2021-07-08 07:10] philip-stoev commented on #2834
The RQG is now being used for randomized correctness testing and would have caught this particular issue.

The dataset that is being used explicitly contains
- duplicate values
- NULL and NOT NULL columns
- NULL values in nullable columns

The SQL grammar file that is habitually used contains:
- outer joins

[2021-07-08 08:08] #7333 closed

[2021-07-08 08:46] philip-stoev commented on #7021
Requiring a precision of 39 will make a bunch of SQL schemas and SELECT statements the customers may already have laying around not pastable in Materialize without modifications :-( This will make quick POCs and experimentations difficult. Even creating the standard TPC-* schemas will become impossible unless modified. The TPC-C schema has nine DECIMAL (15,2) fields.

[2021-07-08 14:18] aljoscha opened #7344 "Continuous timestamp compaction breaks exactly-once Kafka sinks"
Turns out https://github.com/MaterializeInc/materialize/pull/7232 has broken exactly-once output when using realtime timestamping with binding compaction.

It goes roughly like this:

1. current timestamp is `1`
2. sink writes data and an `END(1)` record. The `END(1)` records are used to gate writes when restarting the sink
3. the write frontier is continuously updated, say to `5`
4. timestamp bin

[2021-07-08 14:18] aljoscha commented on #7344
cc @ruchirK

[2021-07-08 14:26] elindsey commented on #4025
I'm not sure if this was about the old source caching system or the newer persistence work, but I'm moving it to the Persistence project board for triage

[2021-07-08 14:27] elindsey commented on #4031
Moving to the Persistence project board for triage - pretty sure this is a stale task related to source caching, but not positive.

[2021-07-08 14:31] elindsey commented on #4104
I think this task has outlived its usefulness, so I'm going to close it out.
With respect to the original four points: 1 is covered by recent work strengthening linearizability guarantees, 2/3/4 are addressed to varying degrees by #7142 which Nicolle has scoped to a concrete proposal (see https://github.com/MaterializeInc/materialize/issues/7142#issuecomment-873198806 in particular)

[2021-07-08 14:31] #4104 closed

[2021-07-08 14:35] elindsey commented on #4270
The persistence group is actively working on this, so I'm closing out this sources/sinks tracking task.

[2021-07-08 14:35] #4270 closed

[2021-07-08 14:45] #5722 closed

[2021-07-08 15:04] andrioni opened #7345 "panic while running `jsonb_typeof`"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Homebrew tap

### What was the issue?
Running the following query results in materialized panicking.
[code]
### Is the issue reproducible? If so, please provide reproduction instructions.
Run the query above.

### Please attach any applicable log files.
[code]

[2021-07-08 16:32] ruf-io opened #7350 "S3: Bucket scan with "Folder" object and GZIP throws "Failed to decode object DIR/ using gzip""
### What version of Materialize are you using?

0.8

### What was the issue?

Doing some live debugging with @quodlibetor - S3 creates an empty object for directories https://docs.aws.amazon.com/AmazonS3/latest/userguide/using-folders.html - These trip up MZ when combined with GZIP encoding and produce:

[code]

[2021-07-08 17:48] #7350 closed

[2021-07-08 18:16] #7317 closed

[2021-07-08 18:54] #7047 closed

[2021-07-08 18:54] #7049 closed

[2021-07-08 20:50] frankmcsherry opened #7354 "[dataflow] TopK LIMIT 1 append-only implementation allocates on each comparison"
The comparison of rows in `Top1Monoid::cmp` allocates, calling `unpack` on each of its rows. There are a few potential fixes here:

1. We could maintain a `DatumVec` into which elements can be unpacked without allocating,
2. We could pre-sort the `Row` by the comparison order, so that one could use an iterator (which does not allocate),
3. One could just compare all of the necessary fields, produc

[2021-07-09 07:11] philip-stoev opened #7360 "multi-row insert of mixed data fails with "invalid input syntax for type integer""
### What version of Materialize are you using?

[code]

### What was the issue?

Combining quoted and unquoted numbers in the same multi-row INSERT statement causes an error in Materialize, but is accepted by Postgres. The error given is

```invalid input syntax for type integer: invalid digit```

which seems to indicate that the code expects that all parts of the insert will have the same literal

[2021-07-09 07:27] antiguru commented on #7360
gdb bt:
[code]

[2021-07-09 08:18] philip-stoev opened #7361 "apd: panic: encode_binary should never trigger a to_sql failure: "ToSQL incompatible with infinite numeric values""
### What version of Materialize are you using?

[code]

### What was the issue?

If ```SUM``` returns ```Infinity```, mz will panic:

[code]

This happens only if the queries are run from within testdrive, not the psql client.

### Is the issue reproducible? If so, please provide reproduction instructions.

[code]

[2021-07-09 14:24] elindsey commented on #6353
Hey Paris, thanks for the feature request! I'm going to close this out as a duplicate - consumer groups are a small facet of a larger work item we have to implement a form of horizontal scalability. 🙂

[2021-07-09 14:24] #6353 closed

[2021-07-09 14:30] #7298 closed

[2021-07-09 14:35] elindsey commented on #6575
Thanks for the report! This one was fixed some time ago.

[2021-07-09 14:35] #6575 closed

[2021-07-09 14:48] elindsey commented on #7345
D'oh, misclicked close - this is still waiting on a merge.

[2021-07-09 15:07] #7345 closed

[2021-07-09 15:40] sploiselle commented on #6761
#7361 raises an interesting question: how should we handle encoding `Infinity` for PG clients? Our approach to aggregating numeric/apd values hinges on using `Infinity` to signal that the accumulator has a value too large to represent in a `Datum::Numeric`. However the PG numeric type doesn't support the notion of infinity, so we don't have a means of encoding this value.

The approach that seems

[2021-07-09 15:51] #7360 closed

[2021-07-09 16:11] mjibson commented on #6761
I have a strong opinion here because I did this in cockroach: https://github.com/cockroachdb/cockroach/blob/a31df56204bb2ee0779137c4b73f2a5dd90d7251/pkg/sql/pgwire/types.go#L400 and have regretted it ever since. My position is: we should NOT allow datums to exist that are unencodable in postgres binary encoding.

You (and I previously) have just spent a ton of time fixing some deep fundamental iss

[2021-07-09 16:13] mjibson commented on #6761
Also 100% comfortable doing this work in follow up and using the NaN encoding solution for now.

[2021-07-09 16:14] mjibson commented on #6761
Oh there's also a postgres diff somewhere where they consider adding numeric infinity so we could use the binary encoding proposed there? That's also a fine solution, and probably much easier than removing infinity wholesale.

[2021-07-09 16:16] mjibson commented on #6761
OHHH they added numeric infinity! https://github.com/postgres/postgres/blob/a9da1934e971b38ab360ce80a352fbfc4d2d986b/src/backend/utils/adt/numeric.c#L189 has all the details for this!

[2021-07-09 16:22] wangandi commented on #7121
@asenac Let me break down my understanding of what is happening in the decorrelated plan, and you can tell me what you think can make the decorrelated plan easier to reason about.

1)
[code]
returns this:
[code]

2) Lowering part 1: the raw plan gets simplified into another HIRRelationExpr. Let's call this the THIR (Transformed High-level Intermediate Representation):
[code]

3) Lowering part 2: T

[2021-07-09 16:30] sploiselle commented on #6761
@mjibson tysm for dredging that up; really ideal, and will see how it shakes out. Otherwise using `NaN` seems realistic and a better solution overall.

[2021-07-09 17:17] #7221 closed

[2021-07-09 17:32] sploiselle commented on #7361
Have this fixed locally thanks to @mjibson 's find that [PG support encoding infinite values](https://github.com/postgres/postgres/blob/a9da1934e971b38ab360ce80a352fbfc4d2d986b/src/backend/utils/adt/numeric.c#L189). Will close this as part of #7312

[2021-07-09 21:39] #7121 closed

[2021-07-10 21:02] mjibson opened #7371 "optimizer: difficult to understand row counts from seemingly simple plan"
The following views on a 100k line file produce a [plan](https://materialize.com/memory-visualization/#eJytmm+LIzcSxr+Kcd7sgAOtarVa2pBALiQQwnEh5N3OEpyxZzOc117sWbgl7Hc/qW2VHrX+JZNeWOhp/dzqqnrUKpX053p3el6/Xu+e3p23H/5Y/Xl/XE3/7o+Xj79f792vHw4fL8/7829ablbifu2o30RP2nzlLsjI8XYxdP6C/IX86gorc7sYO39B/sIz4+gvPKyFv/CMVvbic3jNqX+5+vKb1fWVVm8uz58O+6/v17vt5Y/97n791v/SXCn3vqs3h+3v+4OlLvvj80p6yrYNf+9ZQ1eipn48ReUe7

[2021-07-10 21:57] mjibson commented on #7371
Doing some more experiments and it seems that for each 100k lines added, it results in an additional 5G memory use. The memory use makes it so I can't use it in production, which would have more than 6 million lines. But the problem is I now don't know what to do to improve this, and I suspect our users are in a similar situation.

[2021-07-10 22:08] mjibson commented on #7371
Ergh I just realized that the data has much more information in it than it needs, so that's certainly part of the reason here. Ignore that, but I still think the linked plan is really weird

[2021-07-11 03:21] ruchirK commented on #7371
So I think the memory usage part of this is because we currently only get monotonicity information from sources and not from indexes as well. In this case, since `killmail_results_root` is getting from `fits` - it doesn't know the data is append only and doesn't retract it.

If that's correct then I think if you unmaterialized fits this would improve memory usage because now `killmail_results_root

[2021-07-12 03:16] mjibson commented on #7371
Making `fits` unmaterialized increased memory use. I also assume that the huge pile of topk arrangements is the big tree we create to split up max computation?  How complicated is it to pass monotonicity down to indexes?

[2021-07-12 03:33] mjibson commented on #7371
I also tried

[code]

to see if depending on the source directly would improve things, but it quadrupled memory use -_-. We need to expose this (monotonicity) to users somehow, and probably more stuff too I don't know exists.

If I could imagine a world it'd be: I type `explain web plan for view v` and it spits out a shareable URL that has the memory visualizer but with bytes in addition to row co

[2021-07-12 11:12] asenac commented on #7121
I think doing decorrelation and operator decomposition in two separate stages would definitely make things easier. The annotated plan showing the correspondence between Mir and source Hir, if always possible, is also a great idea to have it for debugging purposes.

[2021-07-12 11:25] philip-stoev opened #7382 "Wrong result returned when SELECT-ing some INTERVAL types"
### What version of Materialize are you using?

[code]

### What was the issue?

Values for various interval types from ```MICROSECOND``` to ```DECADE``` are returned incorrectly.

### Is the issue reproducible? If so, please provide reproduction instructions.

All of the below are created as follows:

[code]

and they all return '00:02:03', which is not correct.

[code]

[2021-07-12 11:57] asenac commented on #7046
The way in which I've approached this in QGM in the past is to let predicate pushdown transform duplicate the operator the predicate is being pushed down to, and then, run a transformation called `CTE discovery`, that finds common subgraphs in the query, including common sub-joins which results could be re-used.

If the same predicate happens to be pushed down through all the paths reaching a give

[2021-07-12 14:25] ruchirK opened #7384 "Always emit timestamp information in kafka sinks"
Currently, the kafka sink implementation only emits inline `timestamp` information about changes when `consistency_topic` is specified. This can be confusing for users as now the `consistency_topic` option _both_ causes writes to a consistency topic and causes the sink to emit timestamps when often users just want one of those two things to happen.

This also brings the behavior more in line with

[2021-07-12 15:13] ruchirK commented on #4216
I think the product goal of this are better served with a one shot source / `IMPORT`

[2021-07-12 15:13] #4216 closed

[2021-07-12 15:27] aljoscha commented on #7384
Seems legit :+1:

[2021-07-12 15:50] asenac commented on #6748
I ran into this problem in #7087. One possible solution would be to add a new transform that is always executed before redundant join that would do the opposite of predicate pushdown. I would lift all predicates are far up as possible, ie. without crossing any error boundary. Then, after running redundant join transform, we would run predicate pushdown again, which should leave all predicates wher

[2021-07-13 00:58] frankmcsherry commented on #7384
We should probably document and commit to some sort of sink representation. It seems like this has the potential to be as much a back-compat issue as e.g. catalog representation (asking users to re-write a 1TB topic because we wrote weird stuff into it seems harder than reloading a catalog).

[2021-07-13 01:24] frankmcsherry commented on #7008
The `generate_series` issue is called out in https://github.com/MaterializeInc/materialize/issues/6790. I don't think there is much to do about that until the `TableFunc` type is improved other than disable optimization around it.

[2021-07-13 06:54] philip-stoev opened #7393 "apd: POW/EXP eturns NaN/Infinity rather than overflow for certain arguments"
### What version of Materialize are you using?

[code]

### What was the issue?

Postgres returns an overflow error but we return NaN

### Is the issue reproducible? If so, please provide reproduction instructions.
[code]
contrast with:

[code]

[2021-07-13 07:40] philip-stoev opened #7394 "apd: possibly garbage digit at end of the result when adding DOUBLE to APD"
### What version of Materialize are you using?

[code]

### What was the issue?

This is a weird one which may merit some investigation:

[code]

I understand that the result of this operation is a floating point number and they are not exact but:

- postgresql and MySQL both return the naively-expected result of ```5.1``` out of this calculation
- In Mz, ```SELECT '1'::DOUBLE PRECISION + '+4.1'::

[2021-07-13 07:51] philip-stoev commented on #7394
Here is another example:

[code]

In Mz, all those numbers are slightly above the "correct" answer. In postgres, they are mostly either exact or slightly below:

[code]

[2021-07-13 08:05] philip-stoev commented on #7393
EXP also has a related problem . I am mentioning here in order to avoid opening yet another fringe ticket. In Mz:
[code]

in Postgres:
[code]

[2021-07-13 09:31] philip-stoev opened #7396 "Mz shuts down when there are any sink errors during startup sink recreation"
### What version of Materialize are you using?

[code]

### What was the issue?

At startup, Mz attempts to recreate the sinks that existed previously. If the kafka broker is unavailable at that time, or some other error occurs, Materialize will exit immediately.

[code]

As can be seen from the log Materialize gives up within 5 seconds.

### Is the issue reproducible? If so, please provide reprod

[2021-07-13 09:35] philip-stoev commented on #7115
Another aspect came up -- handling errors with existing sources/sinks at Mz boot time --  #7396

[2021-07-13 11:56] antiguru opened #7398 "Tracking issue: Materialize idle memory consumption"
Work on analyzing and potentially reducing Materialize's idle memory consumption.

[2021-07-13 11:57] antiguru commented on #7398
WIP: https://github.com/TimelyDataflow/timely-dataflow/pull/400

[2021-07-13 12:05] aljoscha commented on #7384
After thinking some more: emitting the timestamp could clash with existing fields that have the same name, we have the same problem for TAIL. We could try and only emit what users explicitly ask for, and make it easy to reify the timestamp and other internal fields we might have. `mz_logical_timestamp()` doesn't work for this right now because it cannot be used in static/write queries.

[2021-07-13 14:18] sploiselle commented on #7394
This is sadly just a problem inherent in our `apd` to `f32` conversion in the library, which can be most clearly seen here:

[code]

The library doesn't include a native conversion to floats, so we have to do some [funny math on the coefficient units](https://github.com/MaterializeInc/rust-dec/blob/9b150defe10777c74d01140b96635d522400b68a/dec/src/decimal.rs#L730-L771). Given that floats are alread

[2021-07-13 14:59] sploiselle commented on #7393
`SELECT EXP ( 1867 );` winds up calling `UnaryFunc::Exp`, which uses `f64`s. Another signal that we need to solve #5275. Will wind up closing this issue with that problem unsolved, given that there's another issue tracking the work.

[2021-07-13 15:29] #7393 closed

[2021-07-13 16:10] frankmcsherry commented on #5108
One candidate approach is to lean in to the "logical v. physical" distinction, separate the two into distinct optimization bundles (right now they are just separated by a comment), and expose access points to the `transform` crate that allows "logical optimization" independent of "physical optimization", and teach the coordinator to only do the former until dataflow rendering time. For bonus point

[2021-07-13 17:16] sploiselle opened #7402 "sql: support varchar"
#7392 shows that we likely need to fully support `varchar` to bring us to feature parity with where we are now, assuming we do not want to simply treat it as an alias to `test`

[2021-07-13 17:17] sploiselle commented on #5169
Filed #7402 ; I don't see a clever way around this with the test failures from #7392

[2021-07-13 18:08] sploiselle commented on #6846
Closing this because the semantic differences are explainable; if users are irked by this at some point, we can revisit

[2021-07-13 18:08] #6846 closed

[2021-07-13 19:01] #6761 closed

[2021-07-13 19:01] #7030 closed

[2021-07-13 19:01] #5248 closed

[2021-07-13 19:01] #6949 closed

[2021-07-13 19:01] #7361 closed

[2021-07-14 09:49] philip-stoev opened #7409 "Expressions with OR are not lifted, always evaluated after the join"
### What version of Materialize are you using?

[code]

### What was the issue?

For this query:

[code]

Postgres is capable of cooking up the following plan:

[code]

In other words, the WHERE clause is partially evaluated when scanning t1, even if that would let records through that would not match the complete WHERE clause (false positives). This reduces the size of the relation before it is f

[2021-07-14 12:08] philip-stoev opened #7410 "Unnecessary aggregates inside subquery cause excessive memory consumption."
### What version of Materialize are you using?

[code]

### What was the issue?

The query below does not include any disjunctions or cross joins, but takes > 32Gb to run on a dataset with a maximum table size of 60K rows. The same query is instantanous in Postgres and runs with 80M of memory.

The problem appears to be in the EXISTS + aggregate combination in the innermost subquery. It is not a v

[2021-07-14 12:21] philip-stoev opened #7411 "Unnecessary ORDER BY / LIMIT inside an EXISTS subquery causes excessive memory consumption"
### What version of Materialize are you using?

[code]

### What was the issue?

If a subquery has the form ```EXISTS ( ... ORDER BY ... LIMIT ) ```, an unnecessary TopK operator seems to consume huge amounts of memory:

[code]

### Is the issue reproducible? If so, please provide reproduction instructions.

The query is:

[code]
and rewriting it without ORDER BY + LIMIT makes it run fast and memo

[2021-07-14 12:23] philip-stoev commented on #7411
This is a dup of #7410

[2021-07-14 12:23] philip-stoev commented on #7410
Same for ORDER BY + LIMIT, see query in #7411

[2021-07-14 13:05] philip-stoev opened #7412 "Outer join in subquery causes a cross join to appear in the plan, excessive memory consumption"
### What version of Materialize are you using?

[code]

### What was the issue?

In this query:

[code]

The plan has a cross join between t1 and t2, which is disastrous for performance:

[code]

### Is the issue reproducible? If so, please provide reproduction instructions.

[code]

This is also reproducible with the dbt3 dataset. The dataset is here [dbt3-scale0.01.zip](https://github.com/Materi

[2021-07-14 13:09] philip-stoev commented on #7409
@asenac reports that the EXPLAIN may be misleading and the filters may still be applied prior to the join. How can we make that visible?

I think something is still off since adding ```OR``` to the RQG grammar is a sure-fire way to start generating queries that take forever to complete (while still being fast in Postgres).

[2021-07-14 13:19] #7411 closed

[2021-07-14 13:24] #5863 closed

[2021-07-14 14:45] awang commented on #5689
i think this is done, @umanwizard feel free to reopen if i'm wrong

[2021-07-14 14:45] #5689 closed

[2021-07-14 14:46] benesch commented on #5689
Yes, it's done, thanks!

[2021-07-14 14:48] quodlibetor commented on #3370
Yes this is resolved by #7352.

[2021-07-14 14:48] #3370 closed

[2021-07-14 14:59] uce commented on #6543
The non-aggregation part of this is done. We can follow-up with the aggregation case as part of this ticket.

[2021-07-14 15:06] elindsey commented on #1728
Adding this task to 1.0. Specifically we need to decide and document on any guarantees we want to preserve (particularly in Kafka sinks) that would affect backwards compatibility - such as whether or not we guarantee writing data in ts order.

[2021-07-14 15:24] sploiselle opened #7416 "sql: fully support int2"
`int2`/`smallint` are aliases for `int4`, but should be their own type; this is a sub-issue of #5169

[2021-07-14 15:45] uce commented on #6875
In the dataflow weekly we decided to error out instead of fixing the root cause. Fixing the root cause should become much easier after the planned QGM work progresses.

[2021-07-14 15:56] awang commented on #2537
closing it, we'd like to make separate issues for followon work

[2021-07-14 15:56] #2537 closed

[2021-07-14 15:57] elindsey opened #7417 "Source trait prototype"
Tracking task for the work to make a uniform sources API.

[2021-07-14 15:58] elindsey commented on #7417
Design doc pr https://github.com/MaterializeInc/materialize/pull/7400

[2021-07-14 16:48] bbigras commented on #6184
Is this still happening? I wonder, since I started to use them both in prod (for hobby stuff).

[2021-07-14 18:06] quodlibetor commented on #6605
Some additional reasons to consider introducing an intermediate inventory:

* Having a canonical shared inventory could be used to resolve the issue pointed out in https://github.com/MaterializeInc/materialize/pull/7414#discussion_r669760464 .
* Having an inventory in SQL with DELETE semantics would allow us to un-wedge s3 sources that incorrectly specify objects. Consider the following flow:

  *

[2021-07-14 18:13] quodlibetor commented on #5721
SEO: this is aka an upsert operator

[2021-07-14 18:14] #7293 closed

[2021-07-14 19:56] quodlibetor opened #7423 "Unmaterialized S3 sources with SQS notifications will lose data if multiple views depend on them"
Since there is no way to specify different SQS queues for different
source instances, there is no way to ensure that all objects are
discovered as new source instances come up.

Mentioned in #7414, there are a few things we can do:

1. Probably fastest, not great: refuse to create unmaterialized S3 sources that have SQS notifications enabled
2. Middle of the road: create a way to share S3 objects

[2021-07-14 20:45] JLDLaughlin commented on #6553
Thanks, @philip-stoev !

[2021-07-14 20:49] danhhz opened #7424 "persist: specifically how should coord+dataflow+persist work for table INSERTs (and other writes)"
I wanted to discuss concretely how INSERTs should work in a world with both persistence and a multi-machine deployment. An analogous question exists for persisted sources but I think the answer to this will be informative for that.

Assumptions
- The coordinator shouldn't acknowledge an INSERT to a user before it's been durably persisted. I don't think this is controversial, but if it is, let's di

[2021-07-14 20:49] danhhz commented on #7424
cc @frankmcsherry @benesch @ruchirK thoughts?

[2021-07-14 21:34] frankmcsherry commented on #7424
This is all "forward looking" vs "this month" but:

Imo, (1) has a lot of nice things going for it. We probably avoid some complexity due to multiple paths along which data could move and arrive. Not just for dataflow, but e.g. "storage accounting", idk other attendant services.

Based on reading perhaps too much into it, maybe "The coordinator is entirely responsible for persisting tables" is too

[2021-07-14 21:39] JLDLaughlin commented on #5668
There is a [PR out](https://github.com/MaterializeInc/materialize/pull/7277) for this, currently waiting to see if Philip has test cases to add!

[2021-07-14 23:13] quodlibetor commented on #7146
I have found *a* bug that seems like it should cause the bug described here, but I cannot reproduce the bug in this issue.

@philip-stoev could you try adding a debug log statement inside of the `if !is_new { .. }` block inside of `download_objects_task`? I would expect it to correspond to at least some of the objects that are not downloaded: we are marking things as "seen" before we actually succ

[2021-07-15 01:32] mjibson commented on #7371
Did some sleuthing and I think the monotonicity problem is happening because there's a Local dataflow component in a Get which always returns false for is_monotonic:

[code]

Any clue what's creating that local thing? My best guess is `(data->'ID')`. SQL:

[code]

[2021-07-15 01:43] mjibson commented on #7371
Here's the `Plan::Let` that I think is causing this. I have zero experience in this part of the code but it kinda looks like the json bytes -> string conversion might be the culprit here?

[code]

[2021-07-15 02:23] sploiselle opened #7427 "sql: investigate how PG 14 handles infinite values and emulate"
@mjibson [points out](https://github.com/MaterializeInc/materialize/pull/7425#discussion_r669991596) that this is valid in PG 14:

[code]

[2021-07-15 06:42] philip-stoev opened #7428 "Applying DISTINCT over many distinct values consumes 300 bytes/integer"
### What version of Materialize are you using?

[code]
### What was the issue?

Applying a distinct operation over many unique records consumes a lot of memory, on the order of 300 bytes per unique integer.

While a normal benchmark is unlikely to have such an operation, there are various instances where such an operation could be triggered:
- the customer could write a query with an explicit DIST

[2021-07-15 10:29] uce commented on #4135
I added the 1.0 milestone (nice-to-have) after an offline discussion with @philip-stoev.

We have a few td tests that cover this, but they are cumbersome to write, because generating retractions requires cdc events via Kafka or a special view like `SELECT FROM insertions EXCEPT ALL SELECT * FROM deletions` that is capable of producing retractions. When we have update/delete for tables (#6155) this

[2021-07-15 13:37] krishmanoh2 opened #7432 "mz crash on invalid time"
This is on mz cloud - instance quick-gobbler.

[code]

[2021-07-15 14:41] #6225 closed

[2021-07-15 15:19] uce commented on #7048
@philip-stoev If you have some spare minutes, could you please confirm that this does not reproduce anymore. I'll try to confirm that the types were different and that's why it failed before Frank's LIR change.

[2021-07-15 15:24] uce commented on #6942
@philip-stoev We won't be able to fix this in the short-term, because that's how the system works by design. Could you keep track of these issues offline? The labels will be still there after the close the ticket.

[2021-07-15 15:29] uce commented on #6746
https://github.com/MaterializeInc/materialize/pull/3044 tried to fix this, but there still some bugs. It's not high priority, but could clean up a few low priority issues.

This is also related to #6613.

[2021-07-15 15:30] uce commented on #6746
@frankmcsherry Will take a look at existing related low-priority issues and create a new issue that we will prioritize separately.

[2021-07-15 15:32] uce commented on #6598
@frankmcsherry This might be relevant to handle as part of the new issue you will create for column knowledge related work.

[2021-07-15 15:33] uce commented on #6613
@frankmcsherry This falls under the #3044 umbrella.

[2021-07-15 15:37] uce commented on #6615
Frank pointed out that we would probably want to look at this more holistically as part of a potential optimizer pipeline refactoring.

[2021-07-15 15:42] uce commented on #6542
#6615 is probably related.

This seems worthwhile, but probably requires some non-trivial thinking and prototyping.

[2021-07-15 15:51] uce commented on #4952
@wangandi Can we reframe this as what kind of feature we would want to handle this?

[2021-07-15 16:44] mjibson opened #7435 "sql: allow configuring TAIL to prevent compacting if it client disconnects"
If a client unexpectedly disconnects from TAILing some data, users would like to be able to do a TAIL AS OF from a new connection based on the previous `mz_time` received. This probably won't work, though, since we'll have compacted the timestamps. Do something so that we can prevent compaction until there's another TAIL going.

[2021-07-15 16:53] mjibson commented on #7435
One way to do this is configure a higher compaction time with `ALTER INDEX some_primary_idx SET (logical_compaction_window = '5min')`, so I think we want to demonstrate why that's difficult or problematic before adding this feature.

[2021-07-15 17:24] uce commented on #7048
I can confirm that on main (7642727c8) the query does not panic.

I can confirm that the commit before the LIR change (4e58088d8) does panic.

The `EXPLAIN TYPED` output is the same for both commits:

[code]

@frankmcsherry could you please double check the plan output? I'm not sure which way to look at the matched Get/Let types.

Also in `%13` the repeated `types = (), key (())` look odd to me.

[2021-07-15 17:30] frankmcsherry commented on #7048
I agree.

I'm not certain about the output, but I think this is an example of a potential type screw-up that could cause the failure:
[code]
Notice how the type of the last expression in the `Let` is
[code]
but the type referenced in the `Get` is
[code]
Is seems the nullability information changed, and `UpdateLet` was not called afterwards. I'm not certain how that happens, what with it reaching f

[2021-07-15 17:32] frankmcsherry commented on #7048
Aha, it seems `UpdateLet` is now only called in the `FuseAndCollapse` transform, which is not the last transform (nor part of the last fixed point).

[2021-07-15 17:41] uce commented on #7048
I did not notice the missing `?`! Thanks for spotting that.

I noticed something else: I ran `diff` on the `EXPLAIN` output but not `EXPLAIN TYPED`. There are actually more type differences between the two. Let me attach the actual output:

[4e58088d8.txt](https://github.com/MaterializeInc/materialize/files/6825219/4e58088d8.txt)
[7642727c8.txt](https://github.com/MaterializeInc/materialize/files/

[2021-07-15 17:48] frankmcsherry opened #7436 "[optimization] `UpdateLet` not called at the end of optimization"
The `UpdateLet` transform is the one that corrects any type information found at `Let` bindings to the corresponding `Get` locations. In the past, when these two were out of sync we would crash at the dataflow render stage, as reported in #7048. We no longer crash, because rendering ignores the type, but we are still reporting `MirScalarExpr`s that have incongruous types in the `Let` and `Get` exp

[2021-07-15 17:51] frankmcsherry opened #7437 "[coord] EXPLAIN TYPED produces mysteriously verbose output"
As mentioned in https://github.com/MaterializeInc/materialize/issues/7048#issuecomment-880879564 the output to EXPLAIN TYPED produces some output that seems implausibly verbose:
[code]
Here the multiply repeated lines
[code]
are .. mysterious in their multiplicity.

[2021-07-15 17:52] frankmcsherry commented on #7048
This has been diagnosed as new issue #7436 and has another follow-up as new issue #7437 for the mysterious `EXPLAIN TYPED` output.

[2021-07-15 17:58] krishmanoh2 opened #7438 "Investigate memory footprint of internal mz views including mz_metrics*"
Customers have reported significant memory usage reduction when setting introspection-frequency=off or even 60seconds. The default is 1second.

![Screenshot from 2021-07-15 12-58-03](https://user-images.githubusercontent.com/72518904/125835185-b2ae8d0f-9831-4e44-a560-0eed8a679c50.png)
![Screenshot from 2021-07-15 12-57-31](https://user-images.githubusercontent.com/72518904/125835205-953adb47-b666-

[2021-07-15 18:01] krishmanoh2 commented on #7438
We maybe able to repro this using the avro upsert test. Creating a few dependent materializations and corresponding tail should be close to actual workload.

[2021-07-15 18:27] frankmcsherry opened #7441 "[sql] Query command that converts a time-varying collection to a history table"
Materialize manages "time varying collections", which can be inspected at various moments and observed as they evolve. Some tools prefer a different representation, as a single table containing some range of history. Morally, this could be the same output relation as TAIL, containing data, timestamps, and changes, but some users would plausibly benefit from having a SQL command that can be entered

[2021-07-15 20:16] mjibson opened #7442 "coord: allow starting without user dataflows"
In order to allow users to debug which view is causing OOM problems, we could allow starting mz in catalog-only mode which would load the catalog but no user dataflows (system dataflows would still start). They could then execute some new sql statement to enable dataflows for specified views/sources. Proposal:

1. Add a `--catalog-only` flag to the CLI.
2. It would cause the coordinator to only in

[2021-07-15 20:16] mjibson commented on #7442
cc @sinkim-materialize @elindsey @benesch

[2021-07-15 20:26] benesch commented on #7442
This seems great! One point of confusion on the use of the term `DATAFLOW`, though. To date we don't really tell the user about "dataflows"; it's kind of an overloaded and ill-defined term, IMO. From the SQL perspective, we've mostly talked in terms of "indexes". If your view has no indexes, it's not materialized. If it has at least one index, it _is_ materialized.

So I wonder if the syntax shoul

[2021-07-15 20:48] danhhz commented on #7424
Yeah, sorry if I was unclear about "forward looking" vs "this month"! I find it helpful to understand where we are headed.

I've thought a bunch about what you've said in this issue and my README PR, but I'm finding it hard to coherently express my thoughts without an answer to the following question, so please allow me to ask it first.

I have always imagined the boundary between the "messy inter

[2021-07-15 20:58] quodlibetor commented on #7423
Update after speaking with @frankmcsherry: option 2 is doable by stashing an `Rc<..>` on our `Worker` or `RenderState` struct and ensuring that all instances of the same source render to the same worker.

This is actually another instance where things would compose more naturally if SQS notifications were their own potentially-hidden dataflow: we wouldn't need to do any worker-pinning in that case

[2021-07-15 21:05] frankmcsherry commented on #7424
I'm sorry, I'm a bit confused about which things are "the first two" vs "the second" etc.

I roughly imagine a pipeline, not necessarily a "dataflow" but could be, that looks like
[code]
The `*->*` link does not have a hard requirement to co-locate its two endpoints: imo, "storage" and "compute". It might be nice to do, because less communicating, but it isn't mandatory in the way that the various

[2021-07-15 21:29] mjibson commented on #7442
The problem with making users specify an index name is that mostly they don't know or care what the index name is, so it made sense to me to allow them to use the more common view names. My first draft was `ENABLE INDEXES`, but then I also wanted to have `INDEX` be a target, and wanted to avoid repeating the word. But I agree that maybe dataflow isn't a term we should use.

Is that suggestion to a

[2021-07-15 22:08] danhhz commented on #7424
Aha it is!

To say this back and make sure I have it, `[persisted, with timestamps]` and `[dead simple source operator; cdc like]` are potentially even on different machines. Would that mean `[dead simple source operator; cdc like]` is then the bit responsible for replaying the persisted data on restart? (If it instead was `[persisted, with timestamps]`, then we're potentially grabbing data from s

[2021-07-15 22:20] frankmcsherry commented on #7424
Yes, especially if the differential dataflow stuff is likely to hose a machine. Maybe different processes? No strong feels here, but looking toward the future, probably different .. machines/process/containers/idk. It misses out on cheap handing around of pointers if in the same address space, but .. since those pointers probably (maybe?) needed to round-trip through disk for persistence maybe not

[2021-07-15 22:38] frankmcsherry commented on #7424
A follow up thought: the `[persisted, with timestamps]` module may have flavors of roles that might make getting data to the workers differently easy:
1. For TABLE data, and let's say other "volatile" sources, everything probably goes through the module. It's too scary to show it to computation without writing it down first / being very concerned.
2. For Kafka data, and other sources that are larg

[2021-07-16 07:24] benesch commented on #7442
We could consider `ENABLE INDEX <foo>` and `ENABLE INDEXES FOR {VIEW | SOURCE} <foo>` in that case.

Just the general principle of invertibility: if you do a thing, you probably want to be able to un-do that thing too. E.g., if you're trying to find a misbehaving index, possibly you want to enable one, observe it, and then _disable_ that one before moving on to the next. Plus we'll probably want t

[2021-07-16 07:44] philip-stoev commented on #7182
Unfortunately this is still reproducible with the fix for #7433 . Here is an updated test case:

[code]

[2021-07-16 13:21] #7344 closed

[2021-07-16 15:38] mjibson commented on #7442
That all SGTM.

[2021-07-16 16:25] elindsey commented on #7394
Closing this since it should've been fixed by 7425 (not sure why it didn't close automatically on merge)

[2021-07-16 16:25] #7394 closed

[2021-07-16 17:54] benesch commented on #7442
My only last hesitation is that `ENABLE INDEX` is a heavyweight bit of syntax, and `ALTER INDEX ... ENABLE` or `ALTER INDEX ... SET ENABLED` would be more in line with existing similar statements. I wonder if there is some way to:

  * Use `ALTER` instead of introducing a new top-level SQL keyword
  * Use the word `DATAFLOW` and not `INDEX`
  * Still allow something short and sweet like `ENABLE AL

[2021-07-17 16:07] #7146 closed

[2021-07-17 16:09] quodlibetor commented on #7182
Hmm I wonder if this one is just timing out because of the fact that every object specified in SQS that is missing in s3 takes an extra 30 seconds before we skip it. I'll test this with just 2 keys and a 2 minute timeout on the final verification.

[2021-07-18 18:35] benesch commented on #7432
I moved this out of the Cloud & Observability project because this is actually a problem with the core product. It's a P1 SQL bug, it seems.

[2021-07-18 18:42] benesch commented on #7432
@krishmanoh2 that pod seems healthy now. I can therefore only guess at the data that caused it to crash.

@mjibson assigning to SQL for triage. Even without a proper reproduction I think we can blindly apply a fix that replaces the panicky call to `from_hms_nano` to something that instead gently produces an error that flows through the error stream.

[2021-07-19 13:37] ruchirK commented on #7384
We don't need a separate field for kafka DBZ sinks because we can use the inline Debezium transaction metadata struct to contain timestamp info (but if we wanted a separate field I think we should do what TAIL does and call it `mz_timestamp` and mark that field name in the docs as reserved).

[2021-07-19 14:02] aljoscha commented on #7115
This is also related: https://github.com/MaterializeInc/materialize/issues/6916

[2021-07-19 14:20] wangandi commented on #4952
The desired feature to handle this, as mentioned above, is contained in #1487, which I have retitled. We could close this ticket as a duplicate.

I created this as a separate issue because I wanted to describe the issue from the angle that a user might encounter it from in hopes that
1) it increases the chance that a user may be able to find the workaround.
2) to make the workaround more comprehen

[2021-07-19 14:27] uce commented on #4952
Yes, let's keep this open. The relation to #1487 was not immediately clear to me. Thanks!

PS I think @frankmcsherry was confused what exactly stacked joins mean, so we might need to clarify the terminology.

[2021-07-19 14:35] frankmcsherry commented on #4952
It might connect to this comment https://github.com/MaterializeInc/materialize/issues/1487#issuecomment-579793048 but I have to admit to not knowing 1. that I wrote that, and 2. if it is actually a term of art. I think of these plans as bushy tree joins, vs e.g. linear joins.

[2021-07-19 15:34] quodlibetor opened #7460 "Release: 0.8.3"
## Current status: 🚢 Progressing 🚢

## Announce the imminent release internally

- [x] Create this release issue.
- [x] Check for open blocking issues:
  - [x] For any release, check if there are any open [`M-release-blocker`][rel-blockers]
    issues or PRs
  - [x] If this is a major or minor release (any X.Y release) check if there are open
    issue or PRs with the [`M-milestone-blocker`][block

[2021-07-19 15:58] aljoscha opened #7462 "Kafka sources with KEY FORMAT CSV and/or VALUE FORMAT CSV don't work"
The issue that surfaces immediately is that the accounting for the number of columns seems to be off.

You can use this testdrive snippet to reproduce, see especially the error messages for the last two statements:

[code]

[2021-07-19 16:18] mjibson commented on #7432
Fuzzing found this bug a few months ago and there's a repro in #6272. I'll just move the tracking here since it's got better labels applied. One repro is:

[code]

[2021-07-19 16:18] mjibson commented on #6272
Tracking in other issue instead.

[2021-07-19 16:18] #6272 closed

[2021-07-19 16:47] frankmcsherry commented on #3122
I don't think this has very much to do with optimization and/or dataflow. It seems right in @mjibson's wheelhouse though.

[2021-07-19 16:55] mjibson commented on #3122
Yes, this is a coordinator thing and it has annoyed me for the above reasons also. Since

[2021-07-19 17:05] aljoscha commented on #7462
For `ENVELOPE NONE` it fails differently:

[code]

[2021-07-19 18:05] awang opened #7467 "Environment variable CREATE...WITH options"
See https://github.com/MaterializeInc/product/issues/118 for original, raw user request (internal-only).

In order to satisfy "encryption at rest", a user would like to avoid storing unencrypted secrets in Materialize's catalog file.  One way to do so is to pass these secrets to Materialize via environment variable. (there may be better options that we haven't yet explored)  These secrets will the

[2021-07-19 19:33] uce commented on #2608
We might want to create a follow-up issue to document internally as a case to handle when adding new types (e.g. in architecture.md).

[2021-07-19 21:55] danhhz commented on #7424
I'm sold. I've been thinking so far of being able to separate storage and compute as s3 and then materialize. This is more like mzstorage and mzcompute and it definitely makes more sense as a boundary between the two.

I feel like the OP has been clarified enough that I'm going to close this issue and update #7356 with this thinking.

What's being concurrently read/written here?

[2021-07-19 21:55] #7424 closed

[2021-07-19 23:57] frankmcsherry commented on #7424
Ah sorry, the concurrency between query answering and input persisting. So, you could get started on the computation, produce the results, and only surface/commit the results once the corresponding input timestamps are made durable.

[2021-07-20 08:18] benesch commented on #7467
Yeah, option 2 is what I was thinking of, except with a suffix rather than a prefix (`sasl_password_env`, possibly `sasl_password_file` one day.)

Default environment variables are supported for S3 sources because they're just a total requirement for dealing with anything AWS related. We should try to avoid inventing anything similar for other sources though unless there is already a standard. Imp

[2021-07-20 12:59] philip-stoev commented on #7048
The original workload this panic came from no longer panics, so this ticket is being closed in favor of the follow-up tickets that have been opened.

[2021-07-20 12:59] #7048 closed

[2021-07-20 14:06] wangandi commented on #7437
The multiply repeated lines come from let statements. We skip printing the contents of let nodes:
https://github.com/MaterializeInc/materialize/blob/62ffac82b3f7be7c2da5b0e4e2e4d0d93475a389/src/expr/src/explain.rs#L231
but we print out the type for all nodes.
https://github.com/MaterializeInc/materialize/blob/62ffac82b3f7be7c2da5b0e4e2e4d0d93475a389/src/expr/src/explain.rs#L358

[2021-07-20 14:09] philip-stoev opened #7472 "panic, "Invalid data in source, saw retractions" error with aggregate, NOT IN"
### What version of Materialize are you using?

[code]

### What was the issue?

A query that is a join over two derived tables that contain aggregates returns a "Invalid data in source" if the WHERE predicate references columns from both derived tables.

### Is the issue reproducible? If so, please provide reproduction instructions.

[code]

[2021-07-20 14:13] philip-stoev commented on #7472
With an outer join this is a panic:

[code]

[code]

[2021-07-20 14:13] frankmcsherry opened #7473 "Enable `debug-assertions = true` in CI/test"
We currently use release builds in CI, as these same binaries are then deployed. However, we would like to observe debug panics as part of our test workflow as e.g. integer overflow, and other `debug_assert!` lines indicates errors. However, we don't want to ship that code at users, maybe.

So, not obvious how to fix, without distinguishing between test binaries and shipped binaries.

[2021-07-20 14:35] benesch commented on #7473
Yeah, it's definitely a little thorny, because there are moments where you want to do black box testing of literally the same bits you ship to customers, which our current tests are great at, and then there are moments you want to do white box testing and put your fingers on the scale in exchange for more information, which our current tests don't really allow for.

One thing we could consider is

[2021-07-20 14:40] frankmcsherry commented on #7437
Thanks for tracking that down. I suspect there will now be another follow-up issue about why we have three `Let` statements in a row (though, we should fix this too).

[2021-07-20 15:45] #7432 closed

[2021-07-20 16:08] frankmcsherry opened #7476 "Generalize"

[2021-07-20 16:41] #5668 closed

[2021-07-20 17:55] frankmcsherry commented on #7472
I have to admit that I don't understand the query. It looks like an implicit lateral join, in that the second join term references `a1`?
[code]

[2021-07-20 17:57] frankmcsherry commented on #7472
I'm a bit suspicious that this might be a mis-optimization, as the explain plan for
[code]
is ten stages long, versus only six for the same query with the `WHERE` clause.

[2021-07-20 18:58] #6405 closed

[2021-07-20 19:15] frankmcsherry commented on #7472
Nope, the plan seems not terrible. The reduction in complexity comes from `NonNullRequirements`, which seems able to infer that `a2.f2` needs to be non-null for the test to pass, which allows the pruning of the branch that populates the results with a `NULL` value in the case of an empty relation.

What seems to be happening is that the join implementation is feeding the dataflow, and finding the

[2021-07-21 00:38] frankmcsherry opened #7485 "[optimization] Umbrella issue for predicate propagation"
While we likely want to eventually push predicate application towards the sources in plans, there are many cases where we want to move information about predicates from the sources towards the query root. There are several cases where we currently do this, ranging from information about nullability of columns, to constant values in columns, to equalities among columns or expressions of column, et

[2021-07-21 00:50] frankmcsherry opened #7486 "Push `MapFilterProject` actions across non-inlined view boundaries"
Dataflow optimization across views is currently restricted to predicate and demand propagation, which are optional actions that can be taken by a source without negatively impacting correctness. However, there is no contract that they must perform these actions, and consequently no ability to remove predicates and demand work from the `Get`. Additionally, any non-idempotent actions need to be perf

[2021-07-21 00:51] frankmcsherry commented on #4346
Several operators have MFPs fused into their implementations (`Get`, `FlatMap`, `Join`) and other operators (`Reduce`) have open issues explaining the challenges. We have an open issue for pushing projections toward sources (#6449) and an open issue for converting source `LinearOperator`s into `MapFilterProject`s (#6657). There is also the issue of moving MFPs closer to sources, and I just filed #

[2021-07-21 00:55] frankmcsherry commented on #7485
Another related transformation is `LiteralLifting` which seems to be a form of `ColumnKnowledge`, in which we notice that some columns are constant values and we can remove references to them. This could fall under this umbrella, and then be followed by a projection pushdown to remove the actual columns that are no longer referenced.

[2021-07-21 11:14] asenac commented on #6542
As a trivial first step, we could make some of the current transforms implement a different `LocalTransform` trait that could defined as follows:

[code]

Several `LocalTransform`s supporting the same traversal can be combined in a single `TraverseAndTransform` transform, which would drive the traversal.

Each `LocalTransform` is allowed to cache any information it needs to pass from `Get`s to `Le

[2021-07-21 12:47] #7472 closed

[2021-07-21 12:48] #1264 closed

[2021-07-21 13:45] #7416 closed

[2021-07-21 14:06] philip-stoev opened #7488 "Antithesis: Record ingested into a a partitioned Kafka topic never becomes visible in the Kafka source, no librdkafka errors"
### What version of Materialize are you using?

[code]

### What was the issue?

In the Antithesis environment, a kafka record ingested into a multi-partition topic is never seen in the Kafka source, even after ample waiting time. Unlike in other instances, there are no librdkafka ```ERROR``` lines, so one wonders what happened to the record in question.

[code]

### Is the issue reproducible? If

[2021-07-21 14:11] philip-stoev commented on #7488
There seems to be a general problem with rows not being fetched in the face of multiple partitions. In this log:

[8135776__timestamps-kafka-avro-multi_td_91_1___non-matching_rows__expected_.log.zip](https://github.com/MaterializeInc/materialize/files/6856362/8135776__timestamps-kafka-avro-multi_td_91_1___non-matching_rows__expected_.log.zip)

We have:
1. no librdkafka error
2. ample time given fo

[2021-07-21 14:14] philip-stoev commented on #7488
Here is another log about a failure in a test exactly when partitions are used:
[6774419__kafka-avro-sources_td_322_1___non-matching_rows__expected_.log.zip](https://github.com/MaterializeInc/materialize/files/6856415/6774419__kafka-avro-sources_td_322_1___non-matching_rows__expected_.log.zip)

[2021-07-21 14:57] awang commented on #7073
the consistency topic is something we read from only on startup, and we write from periodically, e.g. once per second.  it's something we don't expect end-users to need to use, but it is something that Materialize needs to provide exactly-once.

both debezium and upsert sources should work. I know we’ve tested debezium sources but idk how much we’ve tested upsert sources

[2021-07-21 15:10] aljoscha commented on #7043
I moved this to the Icebox for now because it's not easily fixable with the current infrastructure around sinks/dataflows. I outlined the problem and a potential path to a solution here: https://gist.github.com/aljoscha/9d134bbec1b5fceacf8a2da791a44aef

[2021-07-21 15:22] wangandi commented on #7437
I think there should be a followup issue about the fact that
[code]
implies that we have a `Map` around a `Let` statement, and the dataflow rendering code says it is unfortunate if we have a MFP around a `Let`.

https://github.com/MaterializeInc/materialize/blob/ce2601a06a0a8ae71f1402aba18ce4cbcfbe2eaa/src/dataflow/src/render/mod.rs#L882

The `Map` around the `Let` is introduced by `LiteralLifting

[2021-07-21 15:41] krishmanoh2 opened #7489 "Observability: Mz View showing session information"
The ability to see connected sessions and related state is helpful to determine mz usage, diagnose problems and related. This information is readily available in most data management products.

For example - oracle has v$session which is fairly detailed - https://docs.oracle.com/en/database/oracle/oracle-database/19/refrn/V-SESSION.html

Having such information can help customers understand the wo

[2021-07-21 17:50] awang opened #7491 "Exactly-once sink retention"
Now that [exactly-once sinks](https://github.com/MaterializeInc/materialize/issues/7073) are available, it might be interesting to allow `consistency_topic` (soon to be renamed) support keeping data for a fixed retention period or length.

originally we were thinking along the lines of key based compaction since we only need the latest entry for bootstrapping, but we don’t think that actually work

[2021-07-22 13:30] antiguru opened #7500 "Switch to tikv-jemallocator"
The `jemallocator` crate seems to be abandoned, and rustc has switched to `tikv-jemallocator`. We should consider doing the same switch.

https://github.com/rust-lang/rust/blob/master/compiler/rustc/Cargo.toml

https://github.com/gnzlbg/jemallocator/pull/162#issuecomment-814307702

[2021-07-22 13:50] msudberg commented on #7073
Minor correction: `consistency_topic` remains the same, but the option `exactly_once` has been renamed `reuse_topic`. (Renaming is #7492 and discussion is in #7390.)

[2021-07-22 15:37] asenac opened #7501 "optimizer: JoinImplementation transform needs several iterations to settle on a join plan"
As shown in the snippet below, the `ArrangeBy` operators added by `JoinImplementation` may affect the plan decision taken by a later invocation of `JoinImplementation`.

[code]

_Originally posted by @asenac in https://github.com/MaterializeInc/materialize/issues/7470#issuecomment-884971201_

[2021-07-22 15:39] asenac commented on #7501
Scenario in [#7470 (comment)](https://github.com/MaterializeInc/materialize/pull/7470#issuecomment-884797331)

[2021-07-22 15:42] #5108 closed

[2021-07-23 09:12] #7500 closed

[2021-07-23 19:31] #7460 closed

[2021-07-26 14:47] elindsey opened #7537 "rt dbz sources should consult txn metadata topics if present"
This is somewhat related to https://github.com/MaterializeInc/materialize/issues/1979

Debezium now has sidecar metadata topics that allow determining the transactional boundaries of the main data topic. When present, we should ingest these such that all records in the same txn are timestamped with the same value. We do this today for byo, but not for rt.

Note that https://github.com/MaterializeI

[2021-07-26 14:48] elindsey commented on #1979
I'm closing this in favor of https://github.com/MaterializeInc/materialize/issues/7537 - dbz now has txn metadata topics so we don't need to create our own format, but do need to consume this for rt.

[2021-07-26 14:48] #1979 closed

[2021-07-26 14:53] elindsey commented on #7491
Closing, this worked with some small changes @aljoscha made in https://github.com/MaterializeInc/materialize/pull/7502

[2021-07-26 14:53] #7491 closed

[2021-07-27 07:05] philip-stoev opened #7547 "Arrays not accepted as values to a MAP"
### What version of Materialize are you using?

[code]

### What was the issue?

I think this should work but it does not:

[code]

It is possible to have a stand-alone array:

[code]

As well as stand-alone integers as map values:

[code]

Just not the two nested together.

[2021-07-27 07:30] philip-stoev opened #7548 "panic: no entry found for key as message_sink_connector_ready attempts to fetch a sink that was just deleted"
### What version of Materialize are you using?

[code]

### What was the issue?

@mjibson

There seems to be a race condition in the way ```message_sink_connector_ready``` operates. It attempts to do a `catalog::Op::DropItem` but the sink no longer exists in the catalog and panic ensues:

[code]

### Is the issue reproducible? If so, please provide reproduction instructions.

I ran into this as I

[2021-07-27 09:45] asenac opened #7549 "sql: ambiguous column name error reported for equivalent expressions in the selection list"
As shown below, as per postgres behaviour, the first query should not return and error since both expressions named `a` are equivalent:

[code]

[code]

[2021-07-27 09:49] asenac commented on #7549
Same for any non-column expression:

[code]

[code]

[2021-07-27 09:57] asenac commented on #7549
Postgres seems to compare the expressions syntactically, but not semantically:

[code]

[2021-07-27 10:51] andrioni opened #7550 "Materialize Docker image rejects `--log-file` option as duplicated"
### What version of Materialize are you using?

[code]

### How did you install Materialize?

* [x] Docker image

### What was the issue?
The Materialize Docker image fails to start if the `--log-file` option is passed.

[code]

### Is the issue reproducible? If so, please provide reproduction instructions.
Run
[code]

### Please attach any applicable log files.
See above.

This is overrideable by

[2021-07-27 13:44] elindsey commented on #7004
Closing this one as a duplicate of 1577

[2021-07-27 13:44] #7004 closed

[2021-07-27 13:47] elindsey commented on #1577
Note that Kafka keys are now accessible (https://github.com/MaterializeInc/materialize/issues/5863), this task is only for the additional work of making Kafka metadata accessible.

[2021-07-27 14:21] benesch commented on #7550
Ah, interesting. I suppose we could use the env var in our container instead?

[2021-07-27 14:22] benesch commented on #7549
This is probably something similar to https://github.com/MaterializeInc/materialize/issues/694. I _think_ it's a little more involved that a pure syntactic comparison.

[2021-07-27 14:24] awang opened #7554 "Incorrect cluster IDs"
Some cloud instances have invalid cluster IDs, with what appear to be error messages:

`/bin/sh: 1: sqlite3: not found`
`cannot exec in a stopped state: unknown`
`OCI runtime exec failed: exec failed: cannot exec a container that has stopped: unknown`

They show up in the Cloud Admin (https://cloud.materialize.com/admin/console/deployment/) as well as in Metabase (which I'm guessing is querying th

[2021-07-27 14:48] aljoscha commented on #7488
@philip-stoev You haven't managed to repro this on a vanilla/local machine, have you?

[2021-07-27 14:53] philip-stoev commented on #7488
@aljoscha No, unfortunately this has never been seen outside of the Antithesis environment which injects both transient network issues and perturbs the timing of the individual threads.

We could add extra logging and then make sure the logging level is appropriate inside the Antithesis container and ask them to rerun their experiment.

[2021-07-27 15:15] aljoscha commented on #7488
Give me a sec, I have a suspicion that it's the metadata update frequency. By default, we only fetch new kafka partitions every 30s. With simulated network outages and messing with treads, I think it can happen that we don't see the new partition within the 60s that we give the `kafka-verify` statement. I need to fix a thing and then we can set the metadata update frequency to 10ms for that source

[2021-07-27 15:21] aljoscha commented on #7488
Could you let it rerun with https://github.com/MaterializeInc/materialize/pull/7556? You might want to add the same config to other tests, where you have noticed this problem. Basically, in all tests where we add partitions, which should also reduce test time a bit.

[2021-07-27 15:45] philip-stoev commented on #7488
@aljoscha all done, see PR

[2021-07-27 17:02] umanwizard opened #7557 "Debezium sequence numbers are wrong"
There are various examples where we can't use the sequence numbers for deduplication, because they are the same on different records.

For example:

[code]

Result in Kafka:

[code]

Note that this has produced multiple rows with the same sequence numbers: `"[\"54604320\",\"54604320\"]"`. Once we update Materialize to exclusively use the sequence numbers for deduplication, it will incorrectly drop

[2021-07-27 17:06] umanwizard commented on #7557
We can still disambiguate these by looking at the `lsn` field, which is apparently what we do now in Materialize (take the first coordinate from `sequence`, and then use `lsn` as the second coordinate):

[code]

So this is why things aren't obviously broken in Materialize. It seems like, for example, in the second case the sequence number should have been `"[\"54604320\",\"54604320\"]"`, rather th

[2021-07-27 18:32] aljoscha commented on #2915
This has been implemented: https://github.com/MaterializeInc/materialize/pull/7534

[2021-07-27 18:32] #2915 closed

[2021-07-27 18:36] aljoscha commented on #7073
There is basic documentation now: https://github.com/MaterializeInc/materialize/blob/48d85e1/doc/user/content/sql/create-sink.md#enabling-topic-reuse-after-restart.

Do we want to add much more besides putting a sentence in there that mentions that compaction can be enabled on the consistency topic?

[2021-07-27 19:57] krishmanoh2 commented on #7073
What happens if the consistency topic is deleted?

[2021-07-27 19:58] krishmanoh2 commented on #7073
Is there a behavior difference - upsert versus debezium?

[2021-07-27 20:24] quodlibetor opened #7562 "Cannot combine `FORMAT CSV WITH HEADER` and `COMPRESSION`"
We don't check compression status in purify. Related to #7145 and #7407 inasmuch as we're going to be making purification more robust as part of that work.

[2021-07-27 21:36] danhhz opened #7566 "persist: July milestone"
Success Metric: Get persist core hooked up to mz_metrics and user tables behind experimental flag
Motivation: Forcing function to sanity check our public API

Concretely (anything large enough to warrant discussion should be broken out into its own issue and linked here):
- [x] Land #7283

[2021-07-27 21:42] danhhz opened #7567 "persist: Milestone 3: Scope out Milestone 4"
Success Metrics: Fast restarts for one source (beta)
Motivation: Get customer feedback as early as possible
Concretely: The source will be Kafka, but not all formats and envelopes. Eng and Product to define this more precisely based on initial customer needs.

- [x] Hook up kafka to persist
- [ ] Model of beta tester traffic for driving performance work
- [x] Get snapshot doesn't download blobs be

[2021-07-27 21:48] #5825 closed

[2021-07-27 21:55] antifuchs opened #7568 "DeleteOnDrop metrics with the same label get dropped prematurely"
Porting over https://github.com/MaterializeInc/rust-prometheus/issues/12, as our preferred DeleteOnDrop metrics now live in `ore`:

It is possible for the same metric/label pairs to be created multiple times, and we should not delete metrics until the very last metric with a set of labels has been dropped.

I suspect we'll want to make a mechanism by which either the same metric gets returned for

[2021-07-27 23:21] #6790 closed

[2021-07-27 23:21] #7008 closed

[2021-07-27 23:23] frankmcsherry opened #7570 "Improve Join expression constant folding"
Our join expression constant folding bails out if it sees a candidate number of rows that exceeds a threshold. However, it does this testing as it goes, before it applies equality constraints. Applying the equality constraints as one goes could dramatically reduce the number of candidates, and generally make the process faster as well as less likely to fail out.

[2021-07-28 04:55] benesch commented on #7547
I think this works fine with some escaping!

[code]

[2021-07-28 07:17] aljoscha commented on #7073
If it is deleted while materialize is running, I expect there will be an error and the sink will fail. I will double check. If it's deleted while materialize is down, before restarting, you will get duplicate output. We basically "forget" what we have written so far and write it out again.

There shouldn't be any difference.

[2021-07-28 07:47] philip-stoev opened #7575 "Viewwith GROUP BY / Reduce causes loss of interactivity"
### What version of Materialize are you using?

[code]

### What was the issue?

In addition to being very memory-consuming, the views from #7428 cause loss of interactivity

### Is the issue reproducible? If so, please provide reproduction instructions.

1. In one client, run:

[code]

2. In another shell, run:
[code]

3. Observe that the select from a ten-row table takes 15 seconds to execute mu

[2021-07-28 08:07] philip-stoev commented on #7575
The `mz_scheduling_histogram` report looks like this, so Distinct is the obvious culprit:

[code]

[2021-07-28 09:07] philip-stoev commented on #5704
This is no longer repeatable because the queries involved now have more efficient plans . I will open a fresh ticket with a query that  reproduces the issue against the current main branch.

[2021-07-28 09:07] #5704 closed

[2021-07-28 10:12] philip-stoev opened #7576 "Loss of interactivity when streaming a large non-materialized result set"
### What version of Materialize are you using?

[code]
### What was the issue?

This is the original example @benesch gave in #1537. I am creating a separate ticket in order to add context and perf reports and also to underline that the problem this particular case exposed appears to be specifically about streaming large non-materialized results as opposed to e.g. join processing.

### Is the issu

[2021-07-28 10:15] philip-stoev opened #7577 "Loss of interactivity with a join"
### What version of Materialize are you using?

[code]
### What was the issue?

Loss of interactivity is observed when the following large join is processed:

[code]

This is against a very small TPC-C schema and the predicates in this query should all be reasonable. There are realistic join conditions throughout.

### Is the issue reproducible? If so, please provide reproduction instructions.

1.

[2021-07-28 10:42] philip-stoev commented on #1537
In hope of moving the interactivity issue forward to a resolution, I have taken the liberty of opening three new tickets with individual workable test cases whose `perf`  and `mz_scheduling_histogram` profiles indicate they may be separate underlying issues to fix:

- #7576 - this is the original example from @benech above, seems to be about the fact that a large non-materialized result is being s